[2022-10-31 09:30] JFMarty commented on #1737
We are also waiting for this API - for now we have to deploy CefSharp (it has really versatile APIs) just because the find api is missing from WebView2.

[2022-10-31 10:12] MarkusSchreiner opened #2918 "Context menu does not scale as expected"
**Description**

I have a problem with the scaling of the context menu of WebView2.
We are developing a C++ MFC application in which various instances of WebView2 are integrated.

For various reasons, we set the scaling factors manually. Depending on which Windows DPI setting is currently selected by the user (125%, 150%, ...).

To accomplish this, I first call the function
**put_ShouldDetectMonit

[2022-10-31 10:44] ynborokh commented on #2677
@david-risney now that I have `107.0.1418.26` runtime version and I indeed don't see a script dialog, I have another 2 problems:
1. Now the script dialog is _never_ shown, whatever the value of `AreDefaultScriptDialogsEnabled` setting is.
2. Despite the fact the dialog is never shown, the webview's content execution is not stopped when the webview is stopped. What I mean:
2.1 I have the audio reco

[2022-10-31 11:10] 1247655419 opened #2919 "Can not show the page in the win7,but win10 can."
The same test case behaves differently on different systems.And the window levels are also different.This leads to performance abnormality in win7
win7:
![image](https://user-images.githubusercontent.com/5365811/198994502-429d259b-9475-4871-b1d1-931fdb090618.png)
win10:
![image](https://user-images.githubusercontent.com/5365811/198994704-f14bc7b0-0640-43c7-ae19-9272fe63dd8f.png)
runtime: 107.0.141

[2022-10-31 12:08] natto1234 opened #2920 "Why does WebView2 memory consumption keep increasing?"

[2022-10-31 13:37] darbid opened #2921 "AddScriptToExecuteOnDocumentCreatedAsync does not inject into a child iframe created by script."
**Description**
I target an intranet site that is not public and it contains 4 frames when started.

I have the following code utilizing AddScriptToExecuteOnDocumentCreatedAsync to add JavaScript to all documents created

[code]

The javascript is injected into 3 of the 4 frames created.

To check I have also implemented CoreWebView2.FrameCreated and this event fires 4 times.

**Version**
SDK: 1.0

[2022-10-31 17:25] Diegorro98 commented on #2529
Hi @david-risney
Any news on the WinUI3 sample and docs? I face to the same blocking problem than @koenvd  and @nsandeep87

[2022-10-31 18:57] LiangTheDev commented on #2912
Have you set [CoreWebView2EnvironmentOptions.AllowSingleSignOnUsingOSPrimaryAccount](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2environmentoptions.allowsinglesignonusingosprimaryaccount?view=webview2-dotnet-1.0.1370.28) as true?

[2022-10-31 18:59] jasonstephen15 commented on #2913
@GryutHub - We have both a [notification api](https://github.com/MicrosoftEdge/WebView2Feedback/issues/308) and a [permission api](https://github.com/MicrosoftEdge/WebView2Feedback/issues/2427) in progress, I believe a combination of these will solve the issue you are facing right now. Please let me know if not.

[2022-10-31 19:00] nishitha-burman commented on #2893
Hi @1247655419,

Can you provide details on how to repro this issue?

[2022-10-31 19:44] nishitha-burman commented on #2883
Hello,

Please file this issue here: https://github.com/MicrosoftEdge/DevTools/issues.

Thank you,
Nishitha

[2022-10-31 21:06] Eudritch commented on #468
If he had contacted you, could you kindly provide an update?

[2022-11-01 01:40] noseratio commented on #468
This is a cornerstone issue. It affects anyone who hosts WebView2 alongside with any native UI on Windows Desktop.

It affects Blazor Hybrid as well: https://github.com/dotnet/maui/issues/2341.

[2022-11-01 07:37] TomOeser commented on #2290
Thanks for the workaround. However, I have now ended up with a self-developed dropdown web component, as the design and functional possibilities of the HTML select element are very limited.
:)

[2022-11-01 11:19] grabinat commented on #1639
@champnic
I saw that File Dialog for elevated host apps will be fixed in Edge 108 as announced in #802 .
Therefore, I wonder if Edge 108 will also include a fix for this scenario.
And if not, is there already an update when the fix for UWP approximately might be available?

[2022-11-01 11:50] sanandchoubey commented on #2912
Thanks @LiangTheDev
I tried WebView2Browser Sample app but no result. I added the following code:
`
 auto options = Microsoft::WRL::Make<CoreWebView2EnvironmentOptions>();
    HRESULT ret = options->put_AllowSingleSignOnUsingOSPrimaryAccount(
        TRUE);

 HRESULT hr = CreateCoreWebView2EnvironmentWithOptions(nullptr, userDataDirectory.c_str(),
        options.Get(), Callback<ICoreWebView2Creat

[2022-11-01 11:58] czdietrich commented on #1418
I would like to add (_in case this is not known_) that the property that usually determines what (native) DLLs are copied to the output for SDK style projects is the `RuntimeIdentifier` property.
* For .NET Framework the `RuntimeIdentifier` is derived from the `PlatformTarget`, see [here](https://github.com/dotnet/sdk/blob/main/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.RuntimeIdent

[2022-11-01 12:36] georgioush opened #2922 "Users may not get the expected installation depending on whether they use an older or more recent installer for WebView2 Runtime."
Dear Dev Team

This issue is a suggestion for improvement that we would like you to consider when providing specification changes that may result in behavior the user does not intend.

When launching the offline installer for WebView2 Runtime before December 2021, it got installed WebView2 as the system install, or if with no privilege, gave a notice that it must have administrative rights and the

[2022-11-01 16:03] sln162 commented on #2922
In my personal experience, the program can use the highestAvailable option similar to C # to open with the highest permission as much as possible. If it cannot be opened, do not pop up the UAC to ask users to enter the administrator password, because these users are often enterprise users, and they do not have the administrator password. I have found this situation many times, so I prefer to insta

[2022-11-01 16:41] Eilon commented on #2290
Indeed, there are many scenarios that are not supported by an HTML `<select>`, and using an HTML-based solution would allow you to create a more suitable custom UI.

[2022-11-01 16:46] trits commented on #1497
I have encountered similar or same issue. In Visual Studio 2022 and 2019 versions. Everytime I have somewhere in WinForm code:
`await webView.EnsureCoreWebView2Async(null);`, then the designer crashes during opening. Weird thing is, it crashes only on opening one Form desing in the solution, and the other ones are fine (even when they use webView too).

[2022-11-01 17:05] champnic commented on #2897
Hey all - I'm changing this to be a feature request. It sounds like you are looking for something similar to our .NET controls, but in Java instead. It's unlikely we'll do this work anytime soon, but please use this thread to track ideas related to this, 3rd party options, or to +1. Thanks!

[2022-11-01 22:18] srwei commented on #2180
@darbid I tried to repro what you were seeing on the test app you posted (attachment + open in new window), and I'm still seeing the Operation_StateChanged output changed to Complete in the small and large files after downloading. I've tried it with both No delay and With task delay. Is there something I'm missing to repro so that the StateChanged doesn't get triggered?

[2022-11-01 23:40] marcelomanzo commented on #1434
1+ for this

[2022-11-01 23:57] tochukwuIbeEkeocha commented on #1907
Hello all.

A quick progress update. First off I made a mistake when explaining how to specify the flag that allows you to run Webview2 as system. The proper command line flag/switch usage is as follows: `--allow-run-as-system` not `--enable-features=allow-run-as-system`.

This should already work if all you need to do is run as system under the context of a logged in user. However, for those buil

[2022-11-02 03:56] ElyssaJyu commented on #2827
Hi @cremor,  `InitializationException` is thrown from the init task. It's shown that when `CoreWebView2InitializaitonCompleted` event is invoked, the `CoreWebView2` property hasn't been created it. Please consider calling the `EnsureCoreWebView2Aysnc`, which is referred to as explicit initialization.
Also consider the following method:
`var env = await CoreWebView2Environment.CreateAsync(userDataF

[2022-11-02 06:36] georgioush commented on #2922
Hi, @sln162
I know this change had been done as the dev team reflected the voices: many users with no system privilege would like to install WebView2, and the previous installer hadn't allowed them to do so. I, of course, understand your point, but this is a gentle reminder. If you did a specification change and it changed customer experience, you should have users easily aware of that, not only c

[2022-11-02 07:49] finepeilei commented on #2878
@sln162 Is this your first lanuch with the demo application? And is there any problems occur when the disk I/O is high usage?
And can you provide more information about the DNS problem?

[2022-11-02 08:57] fdzatdtv opened #2926 "Too many runtimes installed"
The following error message is confusing our users:
**System.Runtime.InteropServices.COMException HRESULT: 0x80070070 (Disk Full)**

In the last two months at least 10 customers run into that problem. The application crashed and it took too long to see the real reason, because the exception message is confusing.

I don't know which applications are holding references to older runtimes. But couldn'

[2022-11-02 09:06] DexterWoo commented on #2878
You can produce this with HDD configurations.
it looks like there are quite a lot of IO operations on the first launch of the webview2 runtime.

[2022-11-02 09:51] hein commented on #2857
Hi @victorthoang and @oggy22

Just want to keep this question alive, in the hope that there may be an answer for me 🙂

-G-

[2022-11-02 10:30] sln162 commented on #2878
@finepeilei   The figure shows that the webivew2 directory is deleted and the directory is not deleted. It also records the instant occupation of the directory startup program
![未命名1667115087](https://user-images.githubusercontent.com/11196986/199467111-66701e3d-601e-4fe1-8627-2f82fd53eb8e.png)
<img width="537" alt="C7E0FBE8-51E7-4E8B-A0E8-9B7480B8834E" src="https://user-images.githubusercontent.c

[2022-11-02 10:45] finepeilei commented on #2878
@sln162 So it seems like that the status of disk I/O will hurt the performance of launch?

[2022-11-02 18:10] ppena-LiveData opened #2927 "`CoreWebView2Frame.ExecuteScriptAsync` doesn't seem to do anything"
**Description**
Trying to run JavaScript within an `<iframe>` using `CoreWebView2Frame.ExecuteScriptAsync()` doesn't seem to do anything.

**Version**
SDK: 1.0.1466-prerelease
Runtime: 107.0.1418.26 (but probably doesn't matter for this issue)
Framework: WPF (but probably doesn't matter for this issue)
OS: Win11 (but probably doesn't matter for this issue)

**Repro Steps**
`git clone https://githu

[2022-11-02 20:30] victorthoang commented on #2918
Hello @MarkusSchreiner,

Thanks for your bug report. I've assigned this to a dev that can best try to follow up on this. If they find that it is a bug, then we will add it to our tracked backlog to prioritize further!

[2022-11-02 20:32] victorthoang commented on #2919
Hello @1247655419,

Is this an issue with the Edge browser itself? Or is this a problem with the WebView2 Runtime?

Thanks!

[2022-11-02 20:33] victorthoang commented on #2920
Hello @yogurt1234,

Thanks for your question. I've assigned this to a dev that might best answer your question.

[2022-11-02 20:41] victorthoang commented on #2921
Hello @darbid,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-11-02 21:01] Ziebell-INL opened #2928 "Subclassing CustomNavigationStartingEventArgs Error"
I cannot descend from CustomNavigationStartingEventArgs.

When I attempt to descend from CustomNavigationStartingEventArgs I get a "'CustomNavigationStartingEventArgs' Does not contain a constructor that takes 0 arguments" error.

Please see the playground at https://dotnetfiddle.net/ILjnVx.

Any insights would be helpful. Thanks!

[2022-11-02 21:29] kisinga opened #2929 "Search with bing sidebar has no controls"
**Description**
When you highlight text and click on the overflow menu to search with Bing, the sidebar has no controls for closing and navigating
![image](https://user-images.githubusercontent.com/9964104/199605138-8c012a08-aaec-46c9-ad9a-d732587e9889.png)
This part is absent
![image](https://user-images.githubusercontent.com/9964104/199605245-b672fa30-453b-4545-9cea-a421cd89239c.png)
Like so.
Th

[2022-11-02 21:36] victorthoang commented on #2922
Hello @sln162,

Thanks for your suggestion. I've assigned your inquiry to a dev that might best answer your question.

note: looking to see if it already exists in a previous github request.

[2022-11-02 21:51] victorthoang commented on #2926
Hello @fdzatdtv,

Thanks for your bug report. I've included @champnic whom you've spoken to previously regarding this.

Are the customers who are experiencing this issue able to fully close the applications that are seeing the crash? Are they still using the evergreen runtime? My only guess is that the application might not be fully closing or needs a reset for the update to occur and remove older

[2022-11-02 21:52] victorthoang commented on #2927
Hello @ppena-LiveData ,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-11-02 21:53] victorthoang commented on #2928
Hello @______,

Thanks for your inquiry. I've assigned your open issue to a dev that might best answer your question.

[2022-11-02 21:54] victorthoang commented on #2929
Hello @kisinga ,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-11-02 22:18] vbryh-msft commented on #2927
Hi @ppena-LiveData - this is expected behavior for calling `ExecuteScript` from `FrameCreated` event handler - execution context is not yet created at that time. You should call it from ContentLoading or DOMContentLoaded event handlers - [here is sample code](https://github.com/MicrosoftEdge/WebView2Samples/blob/main/SampleApps/WebView2WpfBrowser/MainWindow.xaml.cs#L870-L877)

[Navigation events](

[2022-11-02 22:54] liminzhu commented on #2922
Thanks for the feedback @georgioush. It makes sense. I don't think we will change the download page UI now given it's been documented behavior for a year and changing stuff adds more to the confusion, but we will keep that in mind for future changes that apply.

[2022-11-02 23:27] victorthoang commented on #2906
Hello @BrianRoach, sorry for the delayed response,

How are your clients currently blocking ads today? Are they simply looking for a solution that is built into WebView2, or are you looking for a way for developers to programatically add an extension into WebView2?

I know people have previously asked for this feature [here](https://github.com/MicrosoftEdge/WebView2Feedback/issues/191), but we hav

[2022-11-03 00:40] clock75 commented on #2592
CoreWebView2EnvironmentOptions.AdditionalBrowserArguments -> '--disable-gpu'

[2022-11-03 00:47] clock75 commented on #2877
CoreWebView2EnvironmentOptions.AdditionalBrowserArguments -> '--disable-gpu'
I haven't had any problems since adding this argument.

[2022-11-03 06:58] Take-A-Byte commented on #2015
@Syul968 following the steps in the mentioned comment, I was able to use the native object on the web side for WinUI2, UWP project but when I reference the same Adapter in a WinUI3 project (say NewWinUI3Project), the NewWinUI3Project is not able to find the `WinRTAdapter` namespace.
Am I missing something that needs to be done to make the above solution working for WinUI3?

[2022-11-03 07:12] fdzatdtv commented on #2926
Hi @victorthoang,

Yes, we are using the evergreen runtime. But we can't tell you which application is or was holding a reference to the runtime.
Since the exception report is sent automatically to us, we don't have spoken to our customers. We even don't know whether all users close the application(s) before they leave office or whether some of them leave the application open until next day or for

[2022-11-03 07:32] Take-A-Byte commented on #2529
Hi @koenvd , I am facing the same problem as you did back in August. Did following [the other route](https://docs.microsoft.com/en-us/microsoft-edge/webview2/how-to/hostobject?tabs=dotnetcsharp) work for you? How was the experience with it?
If it did not work, did you find any solution that worked for you? I would appreciate it if you could share it with us.

By the way, @david-risney @Syul968 - c

[2022-11-03 07:37] Take-A-Byte commented on #2015
@FANMixco https://github.com/MicrosoftEdge/WebView2Feedback/issues/2529 I think, this conversation has more recent comments.. Just in case you would want to check...

[2022-11-03 08:23] cremor commented on #2827
@ElyssaJyu Thanks, but I'm not looking for a workaround. I'm using a [documented](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.wpf.webview2) way to initialize the WebView2 control and to set the UserDataFolder, so that should work.

[2022-11-03 08:38] ElyssaJyu commented on #2827
Yes. That document gives an initialization overview of the control's CoreWebView2, which includes part of what I replied before. It should work.

[2022-11-03 09:05] MatevzRopret opened #2930 "Webview2 ignores UWP app permission Manifest and shows the "Allow Microphone" popup"
**Description**
Webview2 ignores UWP app permission and shows the "Allow Microphone" popup **ALWAYS, regardless of the UWP app permision**.
We have disabled the UWP app Microphone permission in the UWP app Manifest but it still shows.
Webview1 handles this correctly, but Webview2 will ALWAYS show the popup.

**(YOU MUST HAVE A MICROPHONE PLUGGED IN THE PC OR THIS WON'T REPRODUCE!)**

I've attached

[2022-11-03 09:40] Harvey3141 commented on #547
Hi, do you have any updates you're able to share?

[2022-11-03 12:53] ptdev commented on #286
TLDR; for this issue:

June 17th 2021

December 15th 2021

March 31st 2022

April 2nd 2022

June 25th 2022

September 20th 2022

So, great job Microsoft! Surely now everybody will migrate to WinUI.
[Oh, wait...](https://github.com/microsoft/microsoft-ui-xaml/issues/5917)

[2022-11-03 13:42] ppena-LiveData commented on #2927
Thanks for the quick reply.

It's confusing, since `args.Frame.AddHostObjectToScript()` does work from the `FrameCreated` event handler. Also, why does it not behave the same as the main window, whose `NavigationStarting` event handler does work with `ExecuteScript` calls, but the frame's `NavigationStarting` event handler does not? Ohhhh, and I just noticed that the `ContentLoading` event for the

[2022-11-03 14:42] michaelSant0s commented on #286
Ok so the original internet explorer hat the same issue, than WebView 1 too. Webview2, of course its not fixed too. Maybe just release WebView3 already with the same 20 year old problems.

[2022-11-03 15:39] maribeiroleya commented on #2030
I have the same problem. I create an app in react-native with lastversion of Microsoft.Web.WebView2 (1.0.1418.22). When i install the app from microsoft store i have the issue
![image](https://user-images.githubusercontent.com/5097906/199766318-44bd7983-b249-43a0-82b7-84b18e244a5f.png)

What i have to do to resolve the problem??

[2022-11-03 16:51] vbryh-msft commented on #2927
- I agree that it is confusing, and we are working on improving documentation.
 - Adding host object to script does not require execution context - so that is why it works from frame created event.
 - For frame navigation events we have 2 pairs WebView2.FrameNavigationStarting/FrameNavigationCompleted and WebView2Frame.NavigationStarting/NavigationCompleted - they are duplicated, but first one was

[2022-11-03 18:14] simon-knuth opened #2933 "Profile support for Windows App SDK"
Support for multiple profiles [officially reached stable in May 2022](https://learn.microsoft.com/en-us/microsoft-edge/webview2/release-notes?tabs=dotnetcsharp#promotions-6). I'd love to be able to use this in a Windows App SDK application, but building blocks such as [CoreWebView2ControllerOptions](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2controlleropti

[2022-11-03 19:31] HarburGER opened #2934 "Tabs are positioned/ordered incorrectly"
**Description**
When starting Edge for the first time (after booting) with restoring the previous session, the tabs are positioned/ordered incorrectly.
You have to reduce the Edge browser to window mode and then maximise it again. This fixes the error, but only until the next system start.

**Version**
Runtime: Microsoft Edge107.0.1418.26 (Offizielles Build) (64-Bit)
OS: Win10 Pro, x64, 22H2, Buil

[2022-11-03 20:28] champnic commented on #2030
@maribeiroleya For that particular machine, it looks like it's missing the WebView2 runtime.
https://developer.microsoft.com/en-us/microsoft-edge/webview2/

For the app in general, it should try and verify that the runtime is available, and potentially install it if it isn't on the machine yet:
https://learn.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution

[2022-11-03 20:42] champnic commented on #1639
@grabinat These are separate, but the good news is that the support for File Upload in UWP was also recently checked in :)

It should be available for testing in runtimes 109.0.1474.0+. It should be updated in stable around mid-January. Thanks!

[2022-11-03 20:42] #1639 closed

[2022-11-03 21:57] Draugr-official opened #2935 "Add CornerRadius support"
# Add CornerRadius support
Related to [CornerRadius support #1509](https://github.com/MicrosoftEdge/WebView2Feedback/issues/1509)

## The current problem
CornerRadius support is something me and a lot of other users have been frustrated about not existing when using WebView2 (See examples: jeryshn's comment - [Microsoft.Web.WebView2.Wpf doesn't support transparency #328](https://github.com/Microso

[2022-11-03 22:41] monica-ch commented on #2638
Closing this for now, feel free to reopen if you have more questions about this.

[2022-11-03 22:41] #2638 closed

[2022-11-03 23:09] LiangTheDev commented on #2912
After the repro, could you try to navigate the WebView to edge://histograms page by calling WebView Navigate API and search for the following 2 entries on the page and share what value are listed there?
[code]

[2022-11-03 23:40] tochukwuIbeEkeocha commented on #1907
Hello,

Quick questions for those of you who are building Credential Providers. How essential is being able to download content to the user's machine, what kind of data are you planning to download?

[2022-11-04 00:05] Daniellled commented on #2330
Any update on this issue? This provides a bad user experience.

[2022-11-04 00:36] AndrewMagpie commented on #1907
Its very important to download content, with the page having access to websockets.

[2022-11-04 00:56] lamposu commented on #2343
Help, more and more people encountered this issue...

[2022-11-04 02:14] sln162 commented on #2934
@HarburGER   You may have sent it to the wrong location. This is the feedback area of webview2

[2022-11-04 07:09] oldsand commented on #1330
I am facing the same issue............

[2022-11-04 07:37] oldsand commented on #1073
Seems the problem is fixed

[2022-11-04 08:06] Mansi209 opened #2936 "Which API UWP use to check WebView runtime presence?"
I see while using WebView2 in UWP app, below page is displayed when WebView2 runtime is not found.

![image](https://user-images.githubusercontent.com/68730346/199921868-8309a121-0fea-4298-ad5f-bcc46d7ca98a.png)

How does UWP check the presence of WebView2?
Because I tried 2 ways to detect WebView2, through registries in [doc](https://learn.microsoft.com/en-us/microsoft-edge/webview2/concepts/dist

[2022-11-04 09:04] vlakken commented on #2525
Hi, any update on when this refactor will be completed? Thanks!

[2022-11-04 09:28] lightheart33 commented on #1907
Hello,
I have disabled all download completely, because a file-dialog can be used to obtain a command prompt in system context with. Communication over a websocket would however be needed.

[2022-11-04 09:47] zhuhaichao518 commented on #468
@criddell We do not handle all keys in AcceleratorKeyPressed. We only handle when Control/Alt or a key does not map to a character is down. I believe ctrl-shift-1 should work, shift-1 will not work.
The focus is currently on the browser side (you can check it out with spy++ and see details of processes). We are going to have an experimental feature on the host side.
The code is pending approval. W

[2022-11-04 12:31] Take-A-Byte opened #2937 "Cannot find the DispatchAdapter's namespace for using CoreWebView2.AddHostObjectToScript with WinUI3"
**Description**

When following [the guide to add a native object to JS](https://learn.microsoft.com/en-us/microsoft-edge/webview2/how-to/winrt-from-js?tabs=csharp) in the WinUI3 project, the compiler complains that it is not able to find the `WinRTAdapter` namespace i.e. DispatchAdapter's namespace

**Version**
SDK: (one included with WinAppSDK 1.1.3)
Framework: WinAppSDK/WinUI3
OS: Win11

**Repr

[2022-11-04 12:47] Take-A-Byte commented on #2529
Created a new issue https://github.com/MicrosoftEdge/WebView2Feedback/issues/2937 as this one was closed

[2022-11-04 13:10] Diegorro98 commented on #2529
Great idea

[2022-11-04 13:49] microspaze commented on #188
Auto hide scrollbar for all web pages:

[code]

[2022-11-04 15:39] Take-A-Byte commented on #2937
I just found out the solution that [krschau](https://github.com/krschau) provided for this. Here is the[ link for the comment](https://github.com/microsoft/microsoft-ui-xaml/issues/7170#issuecomment-1215910370).

@Diegorro98 does this solve your problem as well? If yes, I would like to close the issue.

[2022-11-04 15:42] Take-A-Byte commented on #2529
FYI: https://github.com/microsoft/microsoft-ui-xaml/issues/7170#issuecomment-1215910370 example in this comment solves the above problem.

[2022-11-04 16:06] rperez030 commented on #2330
I just tested this with the latest stable version of .NET 6.0, and this is what I found.
* Both NVDA and Narrator can detect when focus enters the WebView and interact with the content using UIA.
* JAWS cannot detect when focus goes inside the WebView and does not interact with the content. based on a conversation I had with Vispero this is something they are aware of and are working to resolve.

[2022-11-04 16:11] akash07k commented on #2330
Yes, exactly, even here, with NVDA too I feel many issues with even the
latest webviews

On 11/4/2022 9:37 PM, Roberto Perez wrote:

[2022-11-04 16:52] victorthoang commented on #2934
Hello @HarburGER,

Thanks for your inquiry. As you may know, this github is for issues regarding WebView2 runtime/SDK. Please refer your screenshots to the Edge browser Send Feedback tool! (Yes, it actually works and our developers do see it).

To get you started, click the Settings and more button (ellipsis on the top right or keyboard shortcut: Alt+F). Near the bottom of that dropdown menu, you'

[2022-11-04 17:12] VentuzTammoHinrichs commented on #547
Adding another use case: Presentations on screens that are not just Windows desktops.

From our experience with CEF we'd need the following (in descending priority order) to switch:
- Rendering into either a raw CPU buffer or into a fully accelerated DXGI surface (higher level APIs optional but this is what most people use)
- Full control over the presentation parameters, such as resolution, frame

[2022-11-04 17:38] tochukwuIbeEkeocha commented on #1907
I could be mistaken, but WebSocket usage shouldn't require needing access to store data as a file in a directory on the user's machine. If you're use case does require this, could you elaborate on the type of data you will be storing @AndrewMagpie.

[2022-11-04 18:03] david-risney commented on #2936
GetAvailableBrowserVersionString shouldn't throw. I've opened a bug for this

[2022-11-04 18:45] ShaunLoganOracle opened #2938 "UnauthorizedAccessException: 0x80070005 (E_ACCESSDENIED) in Microsoft.Web.WebView2.WinForms.WebView2.<InitCoreWebView2Async>"
**Description**
We have a large customer that is encountering an exception when our VSTO Excel add-in attempts to initialize the WebView2 control. This is blocking them so as you can imagine, it is a very hot/escalated issue.

**Exception Stack:**
[code]

**Version**
SDK: 1.0.1343.22
Runtime: 107.0.1418.26
Framework: WinForms
OS: Windows 10 Enterprise (10.0.19041)

**Repro Steps**
Our code does in

[2022-11-04 18:52] LiangTheDev commented on #2912
FWIW, our internal testing suggests that WebView2 is capable of showing the credential UI.

[2022-11-04 21:17] ShaunLoganOracle commented on #2938
Update from our customer: they had applied a patch applied to their endpoint management software which turned out to be the cause. Rolling back the patch resolved the issue.

[2022-11-04 21:17] #2938 closed

[2022-11-05 01:54] AndrewMagpie commented on #1907
I need to connect to a web service that has page content and status updates by WebSockets.
No file-dialog is required.

[2022-11-05 08:22] Diegorro98 commented on #2937
Well... It works, but I can't do anything with this because I need to create objects and call methods from the main project.
But the problem is solved, so feel free to close the issue.

[2022-11-05 11:25] maribeiroleya commented on #2030
@champnic thanks for yout response. I try to verify if the machine have WebView2 runtime installed. My app is a react-native app and winrt/c++. I not found a way to verify this. I cannot access to regedit in a winrt/c++ app. Can you help me to get another way to verify this?

[2022-11-05 22:13] tistoubapt opened #2939 "Search bug and sidebar"
Wrong place I believe

[2022-11-06 10:51] david-ps commented on #98
@champnic Can you please provide an update on this issue?

[2022-11-06 17:39] vorte commented on #1693
@Spitzbua Did you figure out a solution to this problem? I am seeing the same as well using flutter and webview2.

**Version**
Flutter: 3.3.7
Flutter plugin webview_windows: 0.2.2
Webview Runtime: 107.0.1418.35
OS: Win11 22H2 (10.0.2261)

[2022-11-06 18:23] darbid commented on #2921
@victorthoang Thank you

@imicy sorry for posting the original bug without something to go on.  I have now got a reproachable example here [Example loading multiple frames](https://github.com/darbid/ExampleLoadingFrames)

The code will load a local html page which contains 3 iframes and 1 script tag. The JS that is loaded in the script tag creates a 4th iframe and loads it. It is this iframe which

[2022-11-07 02:09] #1733 closed

[2022-11-07 02:11] ElyssaJyu commented on #2410
I will close this issue as no response for a long while. If there is still an issue, please reactivate it.

[2022-11-07 02:11] #2410 closed

[2022-11-07 03:46] ElyssaJyu commented on #2827
Will close this issue. If there is still an issue, please reactivate it.

[2022-11-07 03:46] #2827 closed

[2022-11-07 03:51] ElyssaJyu commented on #2852
Hi @NENCAO, is there still an issue?

[2022-11-07 06:25] infinitegame111 opened #2940 "How can I import downloads to WebView2?"
I am making a web browser and as you would expect i am trying to add downloads. everything works but when the fine is completely downloaded its not in the downloads folder and its not working can someone show me how to handle downloads with events like downloadstarted and other webview2 events? This would help me lots.

[2022-11-07 07:13] flashzhj opened #2941 "how to use ICoreWebView2_13"
when I use ICoreWebView2_13 to instead ICoreWebView2, it generate an error, how to solve it?
static wil::com_ptr<ICoreWebView2Controller> webviewController;
static wil::com_ptr<ICoreWebView2_13> webview;
webviewController->get_CoreWebView2(&webview);
![image](https://user-images.githubusercontent.com/59557859/200247028-4646338e-dca5-41c0-bb3e-d59e57d84304.png)

[2022-11-07 07:19] agenne commented on #2917
Hello,
is there any progress on this issue?
Any idea how long it takes to fix the problem?
Best Regards

[2022-11-07 07:50] #2937 closed

[2022-11-07 09:41] flashzhj opened #2942 "Why webview2 mouse scroll doesn't work?"
We are trying to use webview2 to instead of electron, but there are a lot of problems occuring in webview2.
Webview2 can't use mouse scroll to controll webpage, but  keyboard "up", "down" work well.
In electron, this problem does not exist.

[2022-11-07 11:09] btmpn commented on #2917
We are facing the same issue. Are there any news on this?

[2022-11-07 12:33] #2942 closed

[2022-11-07 12:33] flashzhj commented on #2942
wasted

[2022-11-07 14:04] darbid commented on #2180
Nice that you have tested it out. I opened it back up and it actually showed correct output the first 3 times I did it with the PDF. I then looked at my code and saw my BeginInvoke in there. I have now updated my code with the BeginInvoke removed. I also believe that the small hello.txt file and dat repro 100% of the time if there is no delay. With the first pdf it has mixed results whereby most t

[2022-11-07 15:47] infinitegame111 commented on #2940
By the way this is in uwp c#

[2022-11-07 16:10] colinsullivan opened #2943 "Empty request body for a cross-origin POST request"
**Description**
In development, the webview is loading `http://localhost:8080`, our dev server.

It then makes a POST request to our special URL: `http://my_tld/submit_data`.

Because the webview sees this as a cross-origin request, it first sends an OPTIONS request:

[code]

Our handler responds using the webview API in C++:

[code]

Then the webview makes the actual POST request from our applica

[2022-11-07 17:31] victorthoang commented on #2935
Hello @Draugr-official,

Thanks for your request and linking to the already existing one. I will gather some information with the team on where this is at.

[2022-11-07 17:34] victorthoang commented on #2933
Hello @simon-knuth,

I've marked this feature request as tracked. We will see if there is already something being worked on at the end of our week during our sprint review.

Victor

[2022-11-07 18:49] david-risney commented on #2590
Are you attempting to report a bug for the Microsoft Edge browser? This github project is for WebView2 and there should not be a translation feature in WebView2.

If you have a bug with the Microsoft Edge browser you can use the 'Send Feedback' button:
![image](https://user-images.githubusercontent.com/2541336/200390639-500a3faa-562f-4041-8d8f-d004f9b2e363.png)

[2022-11-07 21:31] yalinluo opened #2944 "PDF response content stream not working"
Trying to save a PDF from a web page using the 'WebResourceResponseReceived' event but the 'e.Response.GetContentAsync()' returns the web page HTML instead of the PDF stream. It seems that if a file with known supported type such as a PDF is always opened by the browser and the response stream got replaced by the browser HTML text. Interestingly, the 'content-length' header has the correct PDF fil

[2022-11-08 00:41] darbid commented on #2944
I would very much love someone to help explain where the pdf is, although I have a sneaking suspicion it's not a bug, chromium does it. [i had a similar question](https://stackoverflow.com/questions/73673095/where-is-the-pdf-in-a-browser-response-where-content-type-is-application-pdf).

[2022-11-08 01:05] champnic commented on #1893
Thanks for the extra info @fettliu!

This item has been open for a while, so going to close it out.

[2022-11-08 01:05] #1893 closed

[2022-11-08 01:27] WitherZuo opened #2945 "Edge Webview2-based application window displays an exception at the bottom"
**Description**
Edge Webview2-based application window displays an exception at the bottom

When a Webview2-based application is opened, a small transparent area appears at the bottom of the window, sometimes flashing black and white. The window appears normal when it loses focus.

(The app's window content does **not overflow**, and there is **no scroll bar set**, dragging and resizing the window

[2022-11-08 02:56] NENCAO commented on #2852
@ElyssaJyu
I am very sorry to reply to you only now
I changed the code, now click on the button1 will pop up an error
https://drive.google.com/file/d/1s_cF5pfoQhHk9izFIBDKH0SrnNlvuPm1/view?usp=sharing
Thank you for your help

[2022-11-08 04:12] VoidExploiter commented on #2875
Any update on this ?

[2022-11-08 07:51] Elisa-Adela commented on #2747
@LiangTheDev Is the fix available on 107.0.1418.35?

[2022-11-08 07:55] nsandeep87 commented on #2937
@Take-A-Byte  and @Diegorro98 : Can anybody please guide me here. I took the project mentioned by @krschau
https://github.com/krschau/WinUI-WebView2-Samples/tree/master/NativeWebWinUI3App

This project builds  properly for me. If I right click the WinRTAdapter properties mentioned in the above project, I don't see any Webview2 options under Common properties( basically to configure include filters

[2022-11-08 08:14] #2922 closed, assigned to LiangTheDev, nishitha-burman

[2022-11-08 08:33] AlessandroBernini opened #2946 "WebView2 crashes if calling .ShowDialog() after receiving a WebMessage"
I have an application that needs WebView2 to send back WebMessages when pressing buttons.
Processing the WebMessageReceived Event, i have to display a Form as a Dialog ("FormX.ShowDialog();").

After few seconds the FormDialog is shown (around 10), the entire application crashes firing no exception/errors.

I took a look at the Windows Event Viewer, and i got an error:

Module name that generated

[2022-11-08 09:45] yizhao5 commented on #202
@Marcelluszebra. Hello, you can use WPF (.net framework) with Webview2. If you want to create a webview2 and execute JavaScript/HTML, you can learn about [AddHostObjectToScript](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.addhostobjecttoscript?view=webview2-dotnet-1.0.1418.22).

Here are some examples:
https://github.com/MicrosoftEdge/WebView2Samples/blob/

[2022-11-08 09:52] Marcelluszebra commented on #202
Hi yizhao,

nope, as the topic, I want to load web content in a console application, or in a dll that work as a services, or in IIS dll. In general in a program that not have an UI.

marc.

[2022-11-08 10:49] RachidiL opened #2948 "WebView2 hostObject call doesn't work on System.Threading.Tasks.Task<TResult> methods"
Hi,

I accounted the problem, that when I try to call for example:

[ClassInterface(ClassInterfaceType.AutoDual)]
[ComVisible(true)]
public class TestHandler
{
      public async Task<string> TestMethod(string someParams){ ..... }
}

via js - like this:
const test = window.chrome.webview.hostObjects.testHandler
var result = await test.testMethod("Just a test")

I resceive this error:

Uncaught Err

[2022-11-08 11:07] BobInWonderLand commented on #286
As I can understand, both WebView and WebView2 utilize something like `HwndHost` for embedding the browser window - that's why that window does not respect Z-order in WPF.

To resolve this issue, a completely different embedding approach should be used. For instance,you can receive pixels rendered by the browser somehow, and then render them in WPF using something like `WritableBitmap`. This is ho

[2022-11-08 12:07] Take-A-Byte commented on #2937
@nsandeep87 use small "a" in "adjustTemperature". When injecting a WinRT object like this into a JavasScript namespace all method names will have their first letter lowercased.

[2022-11-08 12:18] nsandeep87 commented on #2937
Thanks @Take-A-Byte for correcting me. Works fine with adjustTemperature.

[2022-11-08 13:15] Optimierungswerfer commented on #2704
I am also experiencing this issue when display scaling is 150%, gdiScaling is set to true and dpiAwareness is PerMonitor. When moving the application to a 100% scale monitor, the position is correct on that monitor, and wrong again when moving back to the 150% scale monitor.
<img width="828" alt="image" src="https://user-images.githubusercontent.com/95424917/200573665-594b345b-fdcf-452f-8b0f-2987f

[2022-11-08 17:58] criddell opened #2949 "Print only selected frame"
When the document is composed of multiple frames (or iframes) and the user right clicks in a frame and selects print, I would expect to be able to print just the frame for which the context menu is displayed.

The old web browser control had a combo box in the print preview window where you could select:

- as laid out on screen
- only the selected frame
- all frames individually

![image](https:/

[2022-11-08 19:56] nishitha-burman commented on #2939
Hi @tistoubapt,

Can you please provide more details on this bug:
**Version**
SDK:
Runtime:
Framework:
OS:

**Repro steps**

Thanks

[2022-11-08 21:13] bradp0721 commented on #2941
Take a look at [WebView2APISample](https://github.com/MicrosoftEdge/WebView2Samples/blob/main/SampleApps/WebView2APISample/AppWindow.cpp#L1407) for sample code to do this.

You need to call get_CoreWebView2 with ICoreWebView2 and then call QueryInterface (or use query on the wil::com_ptr) to get from ICoreWebView2 to ICoreWebView2_13.

[2022-11-08 21:13] #2941 closed

[2022-11-08 21:23] bradp0721 commented on #2945
Can you share a screenshot of the issue? What framework are you using (Win32, WPF, WinForms, WinUI)?

I tried using our [Win32 WebView2APISample app](https://github.com/MicrosoftEdge/WebView2Samples/tree/main/SampleApps/WebView2APISample), but I don't think I see the transparent area you are referring to. Can you repro the issue using one of the [WebView2 Sample apps](https://github.com/MicrosoftE

[2022-11-08 22:30] monica-ch commented on #2949
@criddell Context menu for print in iframe prints whole document not just iframe (This is not supported in edge browser so webview doesn't). But window.print() inside JS in iframe prints just iframe. Try printing programmatically and see if it works for your case.

[2022-11-09 03:49] DexterWoo opened #2950 "Open Source obligations for using WebView2"
Hi,
  we are using webview2 in our product, we finished coding ,finished security review, but when it comes to OSC review, our legal team has concerns about the **LGPL** and **GPL** licenses declared in the license file.
  it's killing me now as I don't know anything about those stuff.
  can you provide some OSC compliance information on webview2 runtime?
  like will the GPL and LGPL license influ

[2022-11-09 05:22] sanandchoubey commented on #2912
Thanks, @LiangTheDev put_AllowSingleSignOnUsingOSPrimaryAccount resolved the issue. We also had a weird config issue.
 Just for you information: Microsoft.Profile.HTTPAuthChallengeUI and Microsoft.Identity.HTTPAuthChallengeUI.WinError are not shown in edge://histograms.

[2022-11-09 07:23] nirbil opened #2951 "Latest dev channel version (109.0.1481.0) fails to initialize with catastrophic failure"
Latest edge dev channel version 109.0.1481.0 fails to initialize with a catastrophic failure exception on initialization.
Tried restarting the machine and a fresh clean app state, didn't help.
Tried reverting back to standard edge channel version 107.0.1418.35, works.

[2022-11-09 07:45] DierkDroth commented on #2693
@johna-ms I just updated the repo above to latest .NET7 release yesterday (attached below) and found that the issue still is not reolved.

What am I doing wrong?

[WebView2StatusBar2.zip](https://github.com/MicrosoftEdge/WebView2Feedback/files/9968602/WebView2StatusBar2.zip)

[2022-11-09 09:50] flashyyp123 commented on #734
**When will webview2 support input-file in administrator mode**

[2022-11-09 10:59] jarno9981 opened #2952 "code not working"
![image](https://user-images.githubusercontent.com/53493418/200812765-3c52156a-e7f4-47e2-9a42-47cebfe8f3b2.png)

[code]

this gives error for my project @champnic @everyone any idee why this is incorrect & not working

[2022-11-09 14:22] Ziebell-INL commented on #2928
Thanks @victorthoang. @yildirimcagri, Any thoughts?

[2022-11-09 17:27] LiangTheDev commented on #2912
Glad that it worked out. I am closing the issue.

[2022-11-09 17:28] #2912 closed

[2022-11-09 19:45] Herbert02041900 opened #2953 "Soll WebView2 Installieren ? Was bereits Installiert ist Visual Studio Code don´t Work ? VideoDownloaderUltimate funktioniert so nicht mehr ??? HILFE alles Streikt"
**Description**

**Version**
SDK:
Runtime:
Framework:
OS:

**Repro Steps**

**Screenshots**

**Additional context**

[2022-11-09 22:13] champnic commented on #2952
Hey @jarno9981 - Looking at the docs for CreateAsync:
https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2environment.createasync?view=webview2-dotnet-1.0.1418.22

It has 3 optional parameters. I suspect this will work if you add either null for the first two parameters (browserExecutableFolder, userDataFolder) or specify that you are passing in options `options: o

[2022-11-09 22:13] #2952 closed

[2022-11-09 22:15] champnic commented on #802
This is available for testing in versions 108.0.1436.0+. Thanks!

[2022-11-09 22:15] #802 closed

[2022-11-09 22:16] champnic commented on #734
@flashyyp123 We recently checked in a fix for that in runtime versions 108.0.1436.0+ as part of #802. Thanks!

[2022-11-09 22:21] emdax commented on #2558
@yildirimcagri  We understand that traditionally these security concerns, such as CORS for DoS / CSRF, apply in a web browser context. However , this library is being utilized by multiple large projects such as Tauri, which enable users to compile installable binary executable.

As it stands, developers who use these products have to implement cumbersome workarounds such as cors-anywhere and proxy

[2022-11-09 23:00] champnic commented on #98
@nishitha-burman or @Syul968 should have more insight on the current status.

[2022-11-10 00:29] johna-ms commented on #2693
Hi @DierkDroth big apology on my part I didn't keep this thread updated. Looking again, I misunderstood the bug. I didn't realize your repro app was using WindowsApp SDK I thought it was pure .NET. FWIW a change for the issue I thought it was did end up making it in around the time I said, but that's not super helpful for you.

The issue with the status bar is root caused to a couple of broken exp

[2022-11-10 01:05] nishitha-burman commented on #2953
Hello,

Can you provide details on how to repro the issue?

Thanks

[2022-11-10 05:53] DierkDroth commented on #2693
Thanks for update @johna-ms. Looking forward the final fix...

[2022-11-10 07:08] NENCAO opened #2954 "Can the address bar be displayed?"
I hope to use webview2 like a browser, so it will be very convenient, including favorites

[2022-11-10 07:51] ElyssaJyu commented on #2852
Hi @NENCAO ，it's related to initialization issue of WebView control. You can call `EnsureCoreWebView2Async `method as explicit initialization before `CoreWebView2InitializationCompleted `event. Please check this [document](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.wpf.webview2?view=webview2-dotnet-1.0.1418.22) for an initialization overview.
![image](https://user-images.g

[2022-11-10 09:59] NENCAO commented on #2852
@ElyssaJyu
A new error was prompted TAT
![QQ截图20221110175716](https://user-images.githubusercontent.com/13777693/201060201-806ace15-ada5-46bd-b064-2b3d306704c6.png)

![QQ截图20221110175729](https://user-images.githubusercontent.com/13777693/201060235-99930f88-36a8-4e63-8251-57104ecffe59.png)

[2022-11-10 10:52] ElyssaJyu commented on #2852
Hi, This exception is thrown if `Current `is null, which probably indicates that the application's event loop hasn't started yet.
You can **async** void `WebView2_CoreWebView2InitializationCompleted`, please consider sample code as followed:
![image](https://user-images.githubusercontent.com/111425758/201069786-15ad9fcf-e0fc-43a3-9d25-d8bf121d9a27.png)
Calling the `EnsureCoreWebView2Async` method

[2022-11-10 11:39] Koshub commented on #2677
I have the same problem. Now it event worse. Do you have any updates?

[2022-11-10 11:53] ajtruckle commented on #802
How does that version number compare to NuGet Package 1.01418.22 ? That is the WebView2 I have.
________________________________
From: Nic Champagne Williamson [MSFT] ***@***.***>
Sent: 09 November 2022 22:15
To: MicrosoftEdge/WebView2Feedback ***@***.***>
Cc: ajtruckle ***@***.***>; Manual ***@***.***>
Subject: Re: [MicrosoftEdge/WebView2Feedback] File Open/Save Dialog doesn't show running w/ ele

[2022-11-10 11:56] ajtruckle commented on #802
It doesn't work with my latest NuGet package 1.01418.22.
________________________________
From: Nic Champagne Williamson [MSFT] ***@***.***>
Sent: 09 November 2022 22:15
To: MicrosoftEdge/WebView2Feedback ***@***.***>
Cc: ajtruckle ***@***.***>; Manual ***@***.***>
Subject: Re: [MicrosoftEdge/WebView2Feedback] File Open/Save Dialog doesn't show running w/ elevated privileges (#802)

This is availa

[2022-11-10 12:37] nsandeep87 commented on #2937
@Take-A-Byte  @Diegorro98 @david-risney
I have run into another issue here. As discussed above, the projection of CppWIndowsRuntime works fine as expected. However I run into issues with C# WindowsRuntime. We cannot add project refs of C# Windows Runtime on the WinUI3 project. As a result of this when we try to instantiate the class on the JS as shown below, I get ther error "Class not registered"

[2022-11-10 13:16] sln162 opened #2955 "Win7sp1 installation tips:Microsoft Edge requires Windows 7 or later"
User feedback. Win7 installation tips:Microsoft Edge requires Windows 7 or later.
<img width="1098" alt="未命名1668086002" src="https://user-images.githubusercontent.com/11196986/201101101-45f4fb51-acb0-478a-8690-d641c8ed02b8.png">
His system is win7sp1. Why does this prompt still appear during installation?

[2022-11-10 16:04] yildirimcagri commented on #2558
Hi @emdax, the --disable-web-security browser argument is available for use in WebView2. As long as the Edge browser supports it, WebView2 would also be able to support this mode.  We are just not considering making this part of the WebView2 API surface, since if we made this part of WebView2 API, we would need to officially support and maintain it, in the unlikely case the support for this flag f

[2022-11-10 17:12] david-risney commented on #2937
"Class not registered" for WinRT runtimeclasses usually means registration information (like mapping from the class metadata to the implementation DLL) is missing for that class. Are you able to use the WinRT class from a project that class isn't defined in, and from C++ or C# not via wv2winrt? If that doesn't work then it may be an issue with the registration of the runtimeclass.

Although in the

[2022-11-10 17:18] bpassaro95 commented on #1825
@yildirimcagri how are you doing?

Sorry to bother you with this but did you managed to see my previous comment?

I'm still trying to make the custom scheme registration work with the new features added but couldn't make it work so far.

Again sorry to bother you with this again.

Thank you.

[2022-11-10 17:28] yildirimcagri commented on #1825
Hi @bpassaro95 , sorry, I missed your previous question. After registering the custom scheme, are you using [WebResourceRequested ](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2webresourcerequestedeventargs?view=webview2-dotnet-1.0.1340-prerelease) event to point the request with custom scheme to the local file that will serve the request, if so how?

[2022-11-10 17:35] yildirimcagri commented on #2928
Hi @Ziebell-INL , I don't think you can construct a CoreWebView2NavigationStartingEventArgs type or extend it. This class is only useful for handling the WebView2.NavigationStarting event, in which you get an instance from WebView2. What are you trying to achieve here by extending this class?

[2022-11-10 17:42] yildirimcagri commented on #2943
Thanks for reporting, we'll look into this. For reference, how is the POST request made? (Is it a form submit, XHR, etc?)

[2022-11-10 17:58] yildirimcagri commented on #2944
Since you are navigating to a PDF, for WebView2 and Edge browser, this activates the PDF viewer extension and the resource effectively gets overridden with the HTML that embeds the PDF. Instead of navigating, could you issue an XHR to the resource? If your use case requires the navigation flow (like a user link follow), you may use the NavigationStarting event to cancel the original navigation and

[2022-11-10 18:02] yildirimcagri commented on #2920
Hi @yogurt1234, do you have any event handlers with your WebView? We have recently fixed a couple of memory leaks that were due to events that provide streams, but simply this code should not cause increased memory usage. Regardless, we will look into this.

[2022-11-10 18:26] bpassaro95 commented on #1825
@yildirimcagri yes I'm using the WebResourceRequested event to point the request.

This is how I'm using it:

[code]

[2022-11-10 18:33] Ziebell-INL commented on #2928
@yildirimcagri, "I don't think you can construct a CoreWebView2NavigationStartingEventArgs type or extend it." Yes, exactly. You understand my problem.

Shouldn't I be able to use the default constructor in the CoreWebView2NavigationStartingEventArgs parent EventArgs? But I can't. Upon decomplication, CoreWebView2NavigationStartingEventArgs gives no reason why (e.g., a private parameterless constr

[2022-11-10 18:34] nishitha-burman commented on #2954
Hello,

WebView2 does not display the address bar but you can build the frame around WebView2 and add a text box to input an address and additional features like favorites. The sample app has an example of a textbox that takes an address: https://github.com/MicrosoftEdge/WebView2Samples/tree/main/SampleApps/WebView2APISample

[2022-11-10 19:53] champnic commented on #2457
Ideally a netlog would be captured to help identify what's going wrong here:
https://textslashplain.com/2020/01/17/capture-network-logs-from-edge-and-chrome/

Without that and without a repro, it's difficult to investigate this further.

As a workaround, if you are able to detect these failures, you may be able to have you app clear the cache and then retry using the ClearBrowsingData API (either

[2022-11-10 20:06] dbjorge opened #2956 "Sample Win32_GettingStarted is unusable with Narrator/keyboard-only (missing minimal focus handling)"
#### Description

As of writing, the contents of the WebView2 control in [the Win32_GettingStarted sample in WebView2Samples](https://github.com/MicrosoftEdge/WebView2Samples/tree/main/GettingStartedGuides/Win32_GettingStarted) are not interactable using keyboard-only and cannot be read at all using Narrator. I tested this against the sample as of commit [fc1269e](https://github.com/MicrosoftEdge/

[2022-11-10 20:49] champnic commented on #2956
Thanks for the suggestions @dbjorge! I've added this as a bug on our backlog.

[2022-11-10 21:10] champnic commented on #2954
@NENCAO We don't have plans to add back in all of the browser UI features such as the address bar and favorites. You should build out that functionality yourself. Thanks!

[2022-11-10 21:10] #2954 closed

[2022-11-10 21:25] champnic commented on #802
You need to use a runtime that is version 108.0.1436.0 or later. In this case that's Microsoft Edge Canary, Dev, or Beta.
https://learn.microsoft.com/en-us/microsoft-edge/webview2/how-to/set-preview-channel

[2022-11-10 21:34] champnic commented on #2030
Typically it's the installer that would check for the presence of the WebView2 Runtime, and install it if it's not on the machine yet. Alternatively the users can follow the instructions that are presented in your screenshot and install the runtime themselves.

[2022-11-10 21:37] champnic commented on #2330
@rperez030 Would you mind specifically opening a new issue to track the "Alt+F4" and "Alt+Space" scenarios?

[2022-11-10 21:40] champnic commented on #2343
I've added this bug to our backlog to take a closer look. If you have a sample app that reproduces the issue, more details on the lifetime/control of the WebView2s, or a crash dump, that would be helpful. Thanks!

[2022-11-10 22:25] colinsullivan commented on #2943
XHR using the `fetch` api !

[2022-11-10 22:34] LiangTheDev commented on #2955
What's the version display when you start cmd.exe? The first line should be something like `Microsoft Windows [Version x.y.z]`.

Getting the Edge install logs would be helpful. Could you do a `dir *edge*.log /s` from the root of C: drive and share those log files? The log files should normally be at:
%ProgramData%\Microsoft\EdgeUpdate\Log\MicrosoftEdgeUpdate.log
"c:\users\All Users\Microsoft\EdgeU

[2022-11-10 22:48] nishitha-burman commented on #2950
Hello,

We cannot provide legal advice and license interpretation of LGPL/GPL, but Edge/WebView2 runtime source code is published under https://thirdpartysource.microsoft.com/ and we publish 3rd party licenses in the show_third_party_software_licenses.bat file in WebView2 runtime.

Thanks

[2022-11-11 00:49] DexterWoo commented on #2950
Hi @nishitha-burman ,

   I am not able to find webview2's information in the website.

![图片](https://user-images.githubusercontent.com/11514478/201236521-f1936759-00e5-46ff-a015-c5e3c90f917c.png)

[2022-11-11 01:10] DexterWoo opened #2957 "Is there API to disable F12 accelerate key register for webview2 runtime?"
or is it possible to unregister the F12 key for the webview2 runtime?

[2022-11-11 01:46] NENCAO commented on #2852
If I don't set Source, I can't access `WebView2_CoreWebView2InitializationCompleted`
if I set Source, `System.StackOverflowException: 'Exception_WasThrown'`
Can you provide the code that will work? Thank you very much!

[2022-11-11 02:23] ElyssaJyu commented on #2852
Hi, you need to set Source property. What I mentioned before is since, in your previous sample, you have both set `Source `property and do `WebView.CoreWebView2.Navigate()` to the same url, you can choose either.
`<wv2:WebView2 Name="webView" Source="">` **or** `WebView.CoreWebView2.Navigate("");`

[2022-11-11 02:30] ElyssaJyu commented on #2852
I'm not sure about where Exception is thrown. Please try to see the call stack details to location it.
If there is a `System.UnauthorizedAccessException` related to dll , this might to be helpful.
` <wv2:CoreWebView2CreationProperties UserDataFolder="C:\Temp\myfolder"/>`

[2022-11-11 02:45] sln162 commented on #2955
@LiangTheDev
![3](https://user-images.githubusercontent.com/11196986/201251463-4cbda8bf-766b-494d-9dd8-63d7f00fea40.png)
![2](https://user-images.githubusercontent.com/11196986/201251475-8557935f-05bb-4fdf-a119-af79ab3b2a46.png)
[log.zip](https://github.com/MicrosoftEdge/WebView2Feedback/files/9986090/log.zip)

[2022-11-11 03:07] darbid commented on #2944
Thank you. So the answer is it I am not missing it the pdf is not exposed in anything.

[2022-11-11 06:03] onimor commented on #356
well, the year 2022 is ending, with the advent of blazer we got BlazorWebView for wpf, winforms and other things.
BUT HE HAS THE SAME PROBLEMS WITH THE HOLE IN THE WALL... I don't understand why this problem hasn't been solved for decades.

[2022-11-11 06:26] sukesh-ak commented on #356
I realized its waste of life waiting for a solution here unfortunately :)

[2022-11-11 06:31] NENCAO commented on #2852
@ElyssaJyu
Can you upload a working project? It feels like the same code, but it still reports an error, I don't know what's wrong, Thank you!

[2022-11-11 07:00] ElyssaJyu commented on #2852
Could you try
`private void button1_Click(object sender, RibbonControlEventArgs e)
{
new UserControl1().Show();
}` in Ribbon1.cs, instead of,calling this.show() in xaml.cs.
I think this is the only difference. We should be the same workaround.

[2022-11-11 07:34] sln162 commented on #2955
Today, I tried to install WebView2 again. Suddenly, the installation succeeded, but initialization failed after installation. Then I installed Edge again. When I opened it, it was blank and there was no response. After adding the -- no sandbox parameter, it works normally. I guess there is something wrong with his computer system.

[2022-11-11 08:19] NENCAO commented on #2852
@ElyssaJyu
![1](https://user-images.githubusercontent.com/13777693/201296128-7af0b8a8-7a75-45a8-8d0a-c0228446dd9c.png)
![2](https://user-images.githubusercontent.com/13777693/201296152-0bb7efe6-5936-458a-bc2e-356a9c60117a.png)
![3](https://user-images.githubusercontent.com/13777693/201296163-17742a78-5875-4097-9a3f-ac4d1e24ace0.png)
`WebView2_CoreWebView2InitializationCompleted`  Will not execute

[2022-11-11 08:28] ElyssaJyu commented on #2852
I do not do `async await` to `void button1_Click`. And please check Edge can read and write to its data: "F:\LOL". Other code I thought are the same

[2022-11-11 08:33] NENCAO commented on #2852
Removed async and await, and will enter here repeatedly
`F:\LOL` Can read and write
![4](https://user-images.githubusercontent.com/13777693/201298855-b5196ab3-b872-45a3-bfad-a516f3dc44e9.png)
Also tried other writing methods, all have problems
That's why I wanted to see the project files that could be run

[2022-11-11 08:39] ElyssaJyu commented on #2852
I understand that, but I may not be able to share the file directly. Sorry for that inconvenience.
I wonder whether the project can auto-open powerpoint and click on tab1-> button1.

[2022-11-11 08:41] NENCAO commented on #2852
If I don't set the breakpoint, it will flash back

[2022-11-11 08:44] NENCAO commented on #2852
Or can I see the complete code of these three files?

[2022-11-11 08:47] ElyssaJyu commented on #2852
Let us find what it happen. Comment out all code under `public partial class UserControl1 : Window` except `InitializeComponent();`

The code I show you before is the complete code I change base on yours.

[2022-11-11 09:10] ElyssaJyu commented on #2852
I redownload your sample. Please follow the below repro steps:

1. Change these three files as we mentioned
2. Run it, the expected: auto-open PowerPoint -> in a new PowerPoint, click Tab1, button1 --> a blank MainWindow is shown. And in code side, under output, there is a system exception: System.MissingMethodException: Microsoft.Web.WebView2.Wpf.dll
3. Find that dll file in the project folder (b

[2022-11-11 09:25] NENCAO commented on #2852
Thankfully, it finally worked... I updated the webview2 to the latest version and it worked... But I still don't understand why this is happening...
But the problem has been solved, thank you very much for your help!

[2022-11-11 09:37] Mips128 commented on #1090
I just want to kindly ask the following two questions:
Do you have any news regarding this feature request? Do you know if and when it will be implemented?

[2022-11-11 10:06] #2852 closed

[2022-11-11 11:31] criddell commented on #2949
@monica-ch I was able to bring up the print UI for the iframe by following your suggestion, so thanks for that. I ended up removing Print from the context menu and the ctrl-p / shift-ctrl-p accelerators because they don’t do what our users will expect.

I’ve also started playing with the experimental print API and it is almost exactly what I want except… you can’t print an iframe with it. Extendin

[2022-11-11 12:17] RusselRillema opened #2958 "Third Party Cookies being blocked"
**Description**
WebView2 appears to be blocking Third Party Cookies.
We are using WebView2 to load up the HTML pasted below. I believe the internals of tv.js have changed and now store 3rd party cookies as we have started getting the following error in WebView2
"Failed to read the 'localStorage' property from 'Window': Access is denied for this document."

If you save this HTML to a file and load

[2022-11-11 14:04] Soahr commented on #286
And most importantly, when the webview2 take the entire MainWindow space, i can't resize the MainWindow ...

[2022-11-11 17:00] monica-ch commented on #2949
@criddell Glad it worked for you. Current Print API prints the whole document per design.

 I've added this to our backlog to support printing an iFrame.

[2022-11-11 17:17] LiangTheDev commented on #2955
From the logs:
[2420:9052:1110/183730.274:8132222:VERBOSE1:install_util.cc(288)] **Windows NT 5.1.2600 SP2**
[2420:9052:1110/183730.274:8132222:ERROR:setup_main.cc(2872)] Edge only supports Windows 7 or later. Exit code: 9

So, there is something wrong with the machine.

For browser and webview not working, try use command line switch --disable-features=RendererCodeIntegrity and see whether it mak

[2022-11-11 17:22] Urmeli0815 opened #2960 "SourceMap not loading"
Hello,

we have an WebView2-Application that uses the `WebResourceRequested` event to serve content from a local ZIP-File. This works very well but we have one problem: we also serve minimized JS-Files which have a `sourceMappingURL` at the end. We now expected that the corresponding `.js.map` file is also requested via `WebResourceRequested` but it doesn't get loaded and the "Source Maps Monitor"

[2022-11-11 17:58] sln162 commented on #2955
@LiangTheDev   I installed the Edge browser on this machine and tested it. In the attribute and target address, add -- no sandbox, and it can be used normally. If it is replaced with -- disable features=RenderCodeIntegrity, it is still blank and unresponsive. If you add -- disable features=RenderCodeIntegrity to the startup parameters of WebView2, does it have a different effect or is it the same

[2022-11-11 18:04] LiangTheDev commented on #2955
WebView2 would be the same as Edge browser. So, it is something else.

[2022-11-11 18:13] sln162 commented on #2955
@LiangTheDev Is there any way to judge this situation and add the option of -- no sandbox? I tried to add a try catch in many places, but did not throw any errors. Check the task manager, and there are only two processes (or I may have waited too short, less than 1 minute). I guess it is still in the initialization process, and the ProcessFailed event cannot be triggered. Since this is a client ma

[2022-11-11 18:54] LiangTheDev commented on #2955
The way to detect failures:

- Webview creation failure, timeout triggered at ~130s
- ProcessFailed events

It is very dangerous to run with --no-sandbox. You could ask the user to set environment variable WEBVIEW2_ADDITIONAL_BROWSER_ARGUMENTS with --no-sandbox if he really wants to run the application in this unsecure way.

[2022-11-11 20:58] aluhrs13 commented on #2960
Hi - Can you add your thoughts to #961? That was closed a while back without much traction, and has a suggested work-around. We might want to consider re-opening it if there's more interest.

[2022-11-11 20:58] #2960 closed

[2022-11-11 21:02] champnic commented on #286
@Soahr You are right this is a current limitation related to this work. The WebView2 won't know that it's on the edge of the screen, and so won't hit test properly for the non-client region to tell Windows to resize the window or show the drag icon. As a workaround you can try adding a very slight border around the WebView2, and make it the same color as the expected background (you could choose a

[2022-11-11 21:21] nishitha-burman commented on #1090
Hi @Mips128,

This feature request is in our backlog and something we will be looking into next year.

[2022-11-11 22:37] rperez030 opened #2961 "A11y: The WinUI app window cannot be control using the keyboard while focus is inside a Webview2 control"
**Description**

Keystrokes such as Alt F4 and Alt +Space bar which are needed to control the app window using the keyboard does not propagate to the underlying window while focus is inside the webView2 control. this creates a situation in which a keyboard only user will have to somehow drive focus away from the web view control to be able to close the application or interact with the application

[2022-11-11 22:42] rperez030 commented on #2330
@champnic  done - #2961 -. Please let me know if there is anything I should add.

[2022-11-11 22:46] infinitegame111 opened #2962 "Setting as default browser"
I am making a webview2 browser in uwp c# how can i allow this to be my default browser?

[2022-11-12 00:00] champnic commented on #2936
This looks like the same issue as #2640, so closing this one. We have a fix in the updater code that will be shipping in the next month or two. I'll update the other thread when I have more info. Thanks!

[2022-11-12 00:00] #2936 closed

[2022-11-12 00:49] champnic commented on #2961
Thanks for opening as a new issue and adding these details. I've added this as a bug on our backlog and we'll take a look!

[2022-11-12 12:31] tomgst commented on #38
@champnic  Hi, has anything changed? Is there any work on functionality? Unfortunately, I couldn't find a thread to solve this :/

[2022-11-12 17:15] nsandeep87 commented on #2937
@david-risney : The error that I am seeing is Class not registered
I tried to access directly( and not via wv2winrt) and these are my observations. Let me know if I need to try anything else

Add reference by add project
1. Create a WinRT c# project.
2. Add the project reference to c++/c# WinUI3
3. But the WinUI3 fails to compile saying the **_WinRT project is not compatible with net6.0-windows10.

[2022-11-12 19:04] sln162 commented on #2955
@LiangTheDev Thanks for your help. I am now thinking about another question and want your help.

Chrome will stop supporting Win7 in January 2023. The major version number seems to be 110. Edge will also stop supporting in January 2023.

Will WebView2 stop supporting on this date? If so, there are still two months to go, and there are three versions. Wouldn't it be better to choose the fixed versi

[2022-11-12 19:32] sln162 opened #2964 "Will WebView2 stop supporting Win7 in January 2023?"
Chrome will stop supporting Win7 in January 2023. The major version number seems to be 110. Edge will also stop supporting in January 2023.

Will WebView2 stop supporting on this date? If so, there are still two months to go, and there are three versions. Wouldn't it be better to choose the fixed version mode for WIn7?

Advantages of evergreen mode: 1. For security updates, if Win7 support is stop

[2022-11-13 00:36] sinand99 commented on #2958
I have the same issue. I can't render any widget from [tradingview](https://www.tradingview.com/widget/advanced-chart/)  inside currrent WebView2. It was working fine until now, I think something has changed with the latest version.

![error](https://user-images.githubusercontent.com/5251826/201499757-0a37a174-98c2-47bb-809d-1a6952d5a071.jpg)

As [RusselRillema](https://github.com/RusselRillema) s

[2022-11-13 11:50] mukeshmishra996 commented on #616
@Kay-Burchardt  - can you please share details how you have fixed the 2nd issue. I am also facing same challenge with child window window.chrome.webview is not initialized. So, I am unable to communicate from java script to c#. Can you please help me on this

[2022-11-13 12:50] mukeshmishra996 opened #2967 "Custom Popup window window.chrome.webview undefined issue"
**Description**

I am creating a custom browser using webview2 dll. During development I am trying to surpress default child window and show customized child popup with the help of CoreWebView2_NewWindowRequested method. But, Now I am facing a challenge. When I am trying to communicate from java script code to C# code using window.chrome.webview.postMessage() method the window.chrome.webview objec

[2022-11-14 01:55] flashyyp123 commented on #802
Hello everyone, does win7 websocket affect webview2? I encountered a win7 websocket which caused msedgewebview2.exe process to crash

[2022-11-14 07:33] RusselRillema commented on #2958
Hi @sinand99
Yes, this is exactly what we are experiencing. We also have a production application that is now not working because of this.
If you do find any work arounds you are using in the meantime please let me know.

Something we have found on our end is that if you download the JS file and host that yourself WebView2 doesn't see the cookies as 3rd party and it works again but obviously this

[2022-11-14 08:19] RachidiL commented on #2948
Are there any new findings, on this issue? Or is this already known to you?

[2022-11-14 08:31] llu23 opened #2969 "WebView2 not showing anything"
Using .Net 6, Visual Studio 2022 17.3.5, Microsoft.Web.WebView2 1.0.1418.22.   Create a .Net 6 Winforms app, put a WebView2 onto a form,  set source to https://www.microsoft.com, run it up.  Nothing shows up.

[2022-11-14 08:52] plantree commented on #2668
Hi @TrendyTim and @cgeier, sorry to reply so late.

As Dave mentioned above, the doc about [Threading model for WebView2 apps](https://learn.microsoft.com/en-us/microsoft-edge/webview2/concepts/threading-model#re-entrancy) is an important reference.

`Form.ShowDialog()` will start a new message loop inside the exist one, which will bring some distractions.

The doc has an example, which would solv

[2022-11-14 09:35] DeveloperNo579212 opened #2970 "String binding invalid, dumps created at embedded browser shutdown?"
**Description**
Application shutsdown webbrowser and at the same time a dmp file is generated.

**Version**
SDK: 1.0.1210.39 in application (1.0.1418.22 [available).]
Runtime: Edge WebView2 Runtime 107.0.1418.42  on computer,
Framework:  .NET Framework 4.8
OS: Win10

**Repro Steps**
Used as a plugin to show webpage and when browser closed a dmp file seems created silently with
errormessage String

[2022-11-14 11:17] TrendyTim commented on #2668
Thank you for replying,

I did mention that in the original post, and mentioned that it did work.

The difference to the doc was I was not in a webview event handler and being that there was 100 ways to open a dialog form in the app, I didn't want to retrofit in everywhere (although in hindsight I don't know for sure if that would have had the same issue or if it was just because it was in the sam

[2022-11-14 11:38] darbid opened #2971 "ExecuteScriptAsync does not return after a GetDeferral is called in a NewWindowRequested"
**Description**
ExecuteScriptAsync never returns after a GetDeferral is called in a NewWindowRequested

**Version**
SDK: 1.0.1369
Runtime: 107.0.1418.42
Framework: WPF
OS: Win10

**Repro Steps**
In a standard project add this in the event NewWindowRequested

[code]

[2022-11-14 16:23] lxb320124 commented on #1905
very good!thanks

[2022-11-14 17:47] champnic commented on #38
@tomgst I believe we're tracking your request in #1544. We haven't started building that functionality yet, although I believe we have built some infrastructure that will make implementing it significantly easier. I'm checking with the team on the priority of this work. Thanks!

[2022-11-14 18:22] peiche-jessica commented on #2958
Hello @RusselRillema, could you please share the WebView2 runtime version before/after you observe that the third-party cookies being blocked?

[2022-11-14 18:53] animalis007 commented on #1817
Did you ever figure this out? I am having the same issue. Works in Edge, but in my app clicking on the input does nothing. It does  flash a spinning circle for a few milliseconds then disappears.

[2022-11-14 19:49] champnic commented on #1817
@animalis007 Can you share some info on your app? Or maybe a sample which reproduces the issue? If you are building a UWP/WinUI2 app, then we only just added support for that and it may not be available in your SDK or Runtime version yet.

[2022-11-14 20:21] animalis007 commented on #1817
It is a WinForms App used for various maintenance screens within our company. Some of these launch WebBrowser.cs to display other home built web pages. We are converting them one by one to use WebView2. Upon opening a 'screen' designated for WebView2 the WebView2 instance is initialized, then we call EnsureCoreWebView2Async with a CoreWebView2Envirnment and then we create a request with webview2.C

[2022-11-14 20:30] KiddoV opened #2972 "Cannot Use File Upload with Input ``type="file"``"
**Description**
I have a basic upload input in HTML:
[code]
When I click on the ``Choose File`` button, nothing happen in the ``runtime`` environment.
I tried putting the application on the Edge browser, then it is working.

**Version**
Runtime: Webview2 107.0.1418.42
Framework: Svelte, Wails, Golang
OS: Windows 10 Enterprise LTSC , Version 21H2

**Additional context**
I have tried the old Webview

[2022-11-14 21:14] champnic commented on #1817
If you try that page in a simplified WinForms app does it correctly load the file dialog there? I was unable to reproduce the broken behavior in my WinForms app using the same `<input>` that you are using. I'm not sure if you are seeing something weird due to the specifics of your app or machine.

[2022-11-15 06:37] plantree commented on #2668
Yes, you're right: we are not in a webview2 event handler, **but we are in a completion callback.**

This  involves the async/await feature in C#.

As I understand, `await` doesn't mean that the callback has completed. It still have some other actions to [ContinueWith](https://learn.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.continuewith?view=net-7.0). That's why `ConfigureAwait(fa

[2022-11-15 07:15] RusselRillema commented on #2958
Hi @peiche-jessica
Thanks so much for getting back to us.
The runtime I have installed is 107.0.1418.42 (I did not change this during the testing)

It seems like TradingView have updated their tv.js script to not require these 3rd party cookies anymore so unfortunately it's a little more difficult to reproduce now but I do believe this is still an issue in WebView2 and I am nervous if 3rd party co

[2022-11-15 07:33] DeveloperNo579212 commented on #2970
The frequency of this error is low so it is not 100% reproducible. It is not shown in a separate minimal application setup to reproduce it scripted over large number of iterations but shows when included in a more complex application.

[2022-11-15 08:20] plantree commented on #1045
Hi @orrindeng, sorry to reply so late.

We have finished a version of the design, which could provide a mechanism for developers to cancel goback/goforward regardless of event source. In my view, what you need is not preventing XButton1 and XButton2 clicking, but disabling goback/goforward. Is it?

[2022-11-15 08:28] orrindeng commented on #1045
@plantree  Yes, that's correct. In my case, any way of going back and going forward should be disallowed.  We only use Navigate method to go to different pages. Any going back/forward behavior made by user will cause unexpected results.

[2022-11-15 08:41] cbra-caa commented on #1045
@plantree I would like to second this

[2022-11-15 10:43] kornelijepetak commented on #2483
`-webkit-*` CSS is great as a workaround, but can you let us know if you plan on actually fixing the scrollbar coloring from `PreferredColorScheme`?

[2022-11-15 12:59] ibebbs commented on #2491
Hi @ztanczos / @vbryh-msft / @plantree1995 ,

I also believe there is a race condition between setting `CoreWebView2NewWindowRequestedEventArgs.NewWindow` and having scripts loaded (via `CoreWebView2.AddScriptToExecuteOnDocumentCreatedAsync`) prior to navigation / document loading.

Based on the above, I have put together a full reproduction of the issue in [this repo](https://github.com/ibebbs/Sc

[2022-11-15 13:21] DanielsCode commented on #547
@champnic  - Is there any news you can share with us?

[2022-11-15 14:02] robotsinthesun commented on #547
+1

[2022-11-15 15:21] AmirMahdiNassiri opened #2973 "Cookies When Navigating to String"
It seems that no cookies are saved for a page that is navigated using the `NavigateToString` method. More specifically, Firebase auth fails to save the user credentials for me in my case. However, if I use a local file to navigate and execute the `SetVirtualHostNameToFolderMapping` method, everything works as expected.

Is there a restriction that cookies (and/or the local storage) do not work whi

[2022-11-15 15:52] animalis007 commented on #1817
I created a generic WinForms app pointing to my same website and still could not get the file xplorer to open from the <input>. I then tried pointing the form to https://onedrive.com as suggested from previous posts and it worked however on inspecting the onedrive page the Upload button is not a standard <input> of type=file. It is a <button> with multiple embedded <span> so I'm not sure this is a

[2022-11-15 18:35] nishitha-burman commented on #2950
Hello,

WebView2 Runtime and edge have the same source, so you'd have to search for Microsoft Edge there.

[2022-11-15 19:19] nishitha-burman commented on #2809
Hi @zattu1,

You should be able to use CoreWebView2EnvironmentOptions > AdditionalBrowserArguments to specify proxy options however this does not support dynamically changing the proxy at any time while the browser is running. Here are some threads where this was discussed: https://github.com/MicrosoftEdge/WebView2Feedback/issues/132 and https://github.com/MicrosoftEdge/WebView2Feedback/issues/193

[2022-11-15 19:23] nishitha-burman commented on #2442
Hi @q71114,

I do not see a screen sharing permission in edge://settings/content. Is there an existing screen sharing permission you are thinking about that you would like to see exposed/supported in WebView2?

Thanks,
Nishitha

[2022-11-15 20:11] advos opened #2974 "Need support for Webview2 browser policies to enable Kerberos delegation"
Following on issue 2563, hereby the request for support for SPNEGO/Kerberos policies

For integration it is necessary to be able to set the 'AuthNegotiateDelegateAllowlist' option. There are no options for webview2 to control this with parameters. The links below also state that several people have this problem, but there is no solution.

[https://github.com/MicrosoftEdge/WebView2Feedback/issues/1

[2022-11-15 20:17] Curve commented on #547
Please use the thumbs up reaction instead of occluding the issue with `+1` comments

[2022-11-16 01:36] NENCAO opened #2975 "How to adjust the display hierarchy of webview2 in wpf"
Now webview2 is always at the top
![QQ截图20221116093440](https://user-images.githubusercontent.com/13777693/202061679-37460575-0260-49bf-b1ad-7edf771e5159.png)

[2022-11-16 10:27] ibebbs commented on #2491
I have pushed a workaround for this issue to [this branch](https://github.com/ibebbs/ScriptVsNewWindow/tree/cancel_initial_navigation).

Short answer: Use `CoreWebView2.NavigationStarting` to cancel any navigations that occur prior to `CoreWebView2.AddScriptToExecuteOnDocumentCreatedAsync` completing then schedule the desired navigation manually.

Long answer: The issue was that setting CoreWebVie

[2022-11-16 10:42] Asufin2007 opened #2976 "Webviev2 occupancy issues"
WebView2 occupies too many resources, can you optimize WebView2, many WebView2-based applications occupy too much, resulting in Windows freezing, hope to fix WebView2 resource occupancy, Thanks

[2022-11-16 14:20] ztanczos commented on #2491
Hi @ibebbs,
Our use-case is a bit special because we're in fact opening a new *blank* window, i.e.: about:blank, and once opened we're directly manipulating and projecting DOM elements to the new window.

Because a blank window is special we ended up using `ExecuteScriptAsync` instead of `AddScriptToExecuteOnDocumentCreatedAsync` and also we triggered an "extra" navigate on the newly opened window

[2022-11-16 15:09] rajankapadia opened #2977 "Webwiew2 ExecuteScripts on HostObject fails"
**Description**
we are using Webview2 win32 control in our application with ExecuteScripts to call the CPP code exection. once we have updated webview2 runtime version from 98 to 102 we have started seeing sometime this executescript on CPP Hostobject is not returing any result.

**Version**
SDK: WebView2.1.0.1418.22
Runtime: Microsoft.WebView2.FixedVersionRuntime.107.0.1418.42.x86
Framework: win3

[2022-11-16 16:00] RendijsSmukulis opened #2978 "WebView2 opens an SSL connection to bing.com even when opening about:blank page"
**Description**

After starting an app with WebView2, ~5 seconds in it opens an SSL connection to bing.com (even though it does not appear to send any data over):
![image](https://user-images.githubusercontent.com/4180387/202229613-be933f6f-db15-44b3-abb3-92827189cec9.png)

**Version**
SDK: 1.0.1466-prerelease
Runtime: Version 107.0.1418.42 (Official build) (64-bit)
Framework: WPF
OS: Win10

**Rep

[2022-11-16 16:52] q71114 commented on #2442
Hi @nishitha-burman,

Checking the behaviors of Edge and Chrome I can see that they are identical apart from some branding differences. This probably means that our options are limited in terms of what we can expose in WebView2. I think it'd be ok to have the screen share in progress state exposed in WebView2 for now whenever a screen share session is started / stopped so an indicator can be displ

[2022-11-16 17:14] appindus-ibiller opened #2979 "Webview2 rendering incorrectly and inconsistently"
**Description**
I've got a problem where I load a very basic HTML page showing a video feed from an external source into an embedded webview2 object in WinUI3 XAML (<WebView2 width, height, zindex Source=source />) and the rendering is inconsistent.
The above is rendered as:
<html style="height: 100%;"><head><meta name="viewport" content="width=device-width, minimum-scale=0.1"></head><body style="

[2022-11-16 18:04] yildirimcagri commented on #2920
Hi @yogurt1234 , I'm unable to reproduce this issue with a large image and repeated navigations. Are you still running into this? If so, could you attach a dump of the relevant process?

[2022-11-16 18:25] yildirimcagri commented on #2928
Since a WinForms app can [raise generic events](https://learn.microsoft.com/en-us/dotnet/standard/events/how-to-raise-and-consume-events?redirectedfrom=MSDN), it is possible for the app to create EventArgs objects of certain WinForms control events that are functionally raisable, such as input events.  CoreWebView2 events are specific for the WebView, they always originate from WebView2 and an app

[2022-11-16 18:25] #2928 closed

[2022-11-16 21:42] KieranDevvs commented on #2766
grab and grabbing also dont work.

[2022-11-16 22:52] logikonline commented on #802
It still doesn't work - I press the File browse button on the latest Windows 11 box and nothing.

[2022-11-16 22:54] logikonline commented on #802
Do we have any timeline when we can expect this to be in production?  Are we looking at an April rollup?

[2022-11-16 23:20] champnic commented on #802
It should ship to the stable WebView2 runtime in early December.

[2022-11-17 00:09] champnic commented on #547
@DanielsCode Unfortunately not really. We had begun the design phase but are currently dealing with high priority bugs. I really want to get this done as I know it's a huge pain for a large portion of our developers, and I'm hoping we can get back to focusing on it soon.

[2022-11-17 00:20] champnic commented on #1817
Can you share the test app you created? Good callout on the onedrive.com example. My sample app using the w3schools.com link you used works as expected on my machine. I'm curious if it's something to do with the host app (.NET version or framework, WebView2 version) or the host machine itself (permissions?).

[2022-11-17 00:25] #1418 closed

[2022-11-17 00:37] champnic commented on #2093
This is fixed in runtime versions 108.0.1461.0+. Thanks!

[2022-11-17 00:37] #2093 closed

[2022-11-17 00:46] #2279 closed

[2022-11-17 00:51] champnic commented on #2346
This is fixed in runtimes version 108.0.1432.0+. Thanks!

[2022-11-17 00:51] #2346 closed

[2022-11-17 02:07] daviduuang opened #2982 "Is there any API for capturing console messages?"
I cannot find any API for capturing console messages.

The  situation is I need to capture console messages and process them externally, e.g. submit all console log messages to [Exceptionless ](https://exceptionless.com/).

In the past, I use [CefSharp.WinForms](https://cefsharp.github.io/) to capture conole messages:

But I cannot find any similar APIs in WebView2.

[2022-11-17 02:21] animalis007 commented on #1817
[WindowsForms_WebView2_App.zip](https://github.com/MicrosoftEdge/WebView2Feedback/files/10027151/WindowsForms_WebView2_App.zip)

[2022-11-17 02:53] ElyssaJyu commented on #2862
I will close this issue as no fix needed, and feel free to reopen with more info so we can investigate further, thanks.

[2022-11-17 02:53] #2862 closed

[2022-11-17 06:03] yildirimcagri commented on #2513
Hi, circling back on this with a fresh mind, I can think of a simpler workaround to this problem. When WebView2 reads the WebResourceResponse data stream, it reads it until the end or the Read fails, and does not have any further use to it afterwards.

[code]
If you wrap the stream you are passing to WebView with this ManagedStream class, this should ensure that the stream is disposed when WebView

[2022-11-17 06:12] yildirimcagri commented on #2562
Hi again, a potentially simple workaround to this issue is just posted on the other thread. You can wrap the Stream class with the posted ManagedStream that will ensure the stream is disposed after WebView2 is done with it. Please see the referenced doc and let me know if this works for you.

#2513

[2022-11-17 06:55] yildirimcagri commented on #2946
Hi, you have run into a known issue documented in [WebView2 Threading model](https://learn.microsoft.com/en-us/microsoft-edge/webview2/concepts/threading-model) article. In this case WebView2 breaks to debugger with output, but the output only shows up when Native debugging is enabled. We will look into improving the feedback mechanism to developers here.

[2022-11-17 07:32] yildirimcagri commented on #1825
Are you not seeing any WebResourceRequested event firing? Do you see any console output in DevTools Window and the request with the custom scheme in Network tab?

[2022-11-17 07:50] yildirimcagri commented on #2909
Hi @nirbil , I'd expect that some of the resources are refreshed on back-forward navigations and correspondingly additional WebResourceRequested events will fire and if navigating back/forward too rapidly, the app could receive events for resource requests even though the WebView2 navigated away from the page with that resource. We will look into being able to map the WebResourceRequest to a given

[2022-11-17 07:54] nirbil commented on #2909
I'm developing a browser and I need to correctly map the resources consumed by each page so I could know of any potential security breaches and potential cookies usage and changes.

[2022-11-17 12:59] ztanczos opened #2983 "Blank WebView2 when a non-activated & hidden window is resized"
**Description**
When opening a new WPF window with `ShowActivated=false` which hosts WebView2 and that window is resized while being hidden then WebView2 is blank until activated/resized.

**Version**
SDK: 1.0.1418.22
Runtime: Canary
Framework: WPF
OS: Win10

**Repro Steps**
[code]

and in my HTML I have something like this:

[code]

When I click on the button the new Window pops up but it's blank

[2022-11-17 14:25] Flaflo commented on #2876
![](https://user-images.githubusercontent.com/12973684/202471902-57ed44fb-7b4a-4f3f-b976-4a82461baa17.png)

Trying to get into the editor settings leads me to this page:
![](https://user-images.githubusercontent.com/12973684/202472093-4546e209-c0fa-4500-af6b-da7f3cc55130.png)

[2022-11-17 14:36] Woofthecat commented on #961
We are also having an issue with this., same as #2960.

Tried the Chromium Devtools Protocol approach but strangely there is no warning about the missing source map and the `Debugger.scriptFailedToParse` event never triggers. [Debugger.scriptParsed](https://chromedevtools.github.io/devtools-protocol/tot/Debugger/#event-scriptParsed) is triggered and we can see the `sourceMapURL` being the correct

[2022-11-17 16:06] #2955 closed

[2022-11-17 16:16] bpassaro95 commented on #1825
I dont see the Event Being fired even though the event is attached to the control.

On the console the only thing I see is the failed to load resource error message

![image](https://user-images.githubusercontent.com/38334329/202498716-b08bb831-d2f4-4f70-a703-6c97434feef9.png)

And on the network tab I don't see any call to the resources. Maybe that is related to the event not being called?

[2022-11-17 17:55] champnic commented on #2589
This issue has been fixed and will be available for testing in the next prerelease SDK.

[2022-11-17 20:06] victorthoang commented on #2694
Hello @Suresh-BabuLV,

Just wanted to follow up that we are actively pursuing this bug and have additional resources on the matter. I just had some clarifying questions from our dev team if you could help respond:

- Has your team tried using the latest version of the runtime to see if the regression still exists? (106)

- Does the issue still reproduce outside of kiosk mode? We've had some strang

[2022-11-17 21:05] champnic commented on #2876
@Flaflo That's expected within WebView2. We block some of the "edge://" pages, including settings:
https://learn.microsoft.com/en-us/microsoft-edge/webview2/concepts/browser-features#blocked-internal-urls

[2022-11-17 21:29] champnic commented on #1817
Your sample app works fine on my machine when I hit 'Run'. This may be related to something with machine configuration.

Do file choosers work fine for you in Edge/Chrome browsers?
Do you get any errors or debug output when it fails for you, through VS or debugging tools? Any messages in the Devtools console?
Do you get any errors in the Windows Event Viewer (try under "Windows Logs > Application"

[2022-11-17 23:06] champnic commented on #2728
This should be fixed in the latest SDK update. Thanks!

[2022-11-17 23:06] #2728 closed

[2022-11-17 23:13] JohnThomson commented on #2728
Thanks!

[2022-11-17 23:13] animalis007 commented on #1817
Do you get any errors or debug output when it fails for you, through VS or debugging tools? NO
Any messages in the Devtools console? NO
Do you get any errors in the Windows Event Viewer (try under "Windows Logs > Application")? NO
Do you see any errors from your exe or msedgewebview2.exe when looking at procmon? https://learn.microsoft.com/en-us/sysinternals/downloads/procmon hard to tell, its a b

[2022-11-18 07:57] Take-A-Byte commented on #2937
@nsandeep87 In my opinion it is always better to create a new issue if there is some unsolved problem. This was all the developers would be able to see the issue and provide you with a solution after checking the `Open` issue. IMHO, developers might miss out on `Closed` issues, thinking that the problem has been solved and even that by default Github would only show `Open` issues.

By the way, if

[2022-11-18 09:51] jonferreira commented on #1096
any update on this one?
I'm also seeing this with latest nuget version. as soon as the webview2 control is "visible" then it enters a WS_PAINT loop and CPU Load Skyrocket

[2022-11-18 09:52] DreamlandForsure opened #2984 "When logon as an admin user, WebView2 raised Element not found COMException during the initialization"
Hi, WebView2 team,
Our application integrated the webview2 runtime for an internal embedded browser. Now end users reported an issue that the embedded browser is not working well. After debugging we found that the exception is actually raised at calling EnsureCoreWebView2Async() internally. We just follow the webview2 example to initialize the webview2 control.

_27/14:41:06 browsers   T100    :Th

[2022-11-18 10:20] Flaflo commented on #2876
Well, I understand that, but what will users think using the app?

[2022-11-18 13:24] applefanbois opened #2985 "WinUI3 WebView2 ContextMenuRequested event crash the app"
webView.CoreWebView2.ContextMenuRequested += WebView_ContextMenuRequested;

void WebView_ContextMenuRequested( object sender, CoreWebView2ContextMenuRequestedEventArgs args)
{
    //Crash here even if you do nothing here
}

I copied the sample code from MS but when the event actually trigger, it will crash the app.
Weirder, if you put a break point inside that function it will go there, but trying

[2022-11-18 14:55] htcfreek commented on #2794
I tried to install the x64 version side by side with the x86 version because I thought that I need both. But at the end nothing changed on my system. No x64 version was installed.

Do I need both on my client or can all apps work with x86 version only too? Does it make sense to install both WebView2 setups (x86 and x64)?

[2022-11-18 18:25] victorthoang commented on #2964
Hello @sln162 ,

Thanks for your question. I've assigned your inquiry to someone that might best answer this.

[2022-11-18 18:26] victorthoang commented on #2967
Hello @mukeshmishra996,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-11-18 18:29] victorthoang commented on #2970
Hello @DeveloperNo579212,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-11-18 18:30] victorthoang commented on #2971
Hello @darbid,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-11-18 18:42] htcfreek commented on #2794
Are the files for x64 on the x86 folder? Because I can't find anything inside `C:\Programfiles\Microsoft`.

[2022-11-18 19:01] victorthoang commented on #2974
Hello @advos,

Could you please describe the scenario of the integration you are trying to accomplish with this feature?

This will help us identify if something similar exists or we can offer a solution/workaround. This is a request we're tracking as more developers are asking for these Allow lists.

Thanks!
Victor

[2022-11-18 19:02] victorthoang commented on #2975
Hello @NENCAO ,

Thanks for your inquiry! I've assigned this to a dev that might best answer your question.

[2022-11-18 19:13] victorthoang commented on #2976
Hello @Asufin2007 ,

Thanks for your inquiry! In the meantime, could you provide more context to the resource constraints that you're dealing with? Perhaps the hardware you're trying to use, the goal you're trying to achieve, and the scope of your audience?

Just trying to capture a relative idea of what resources in WebView2 is a concern.

Thanks,
Victor

[2022-11-18 19:14] victorthoang commented on #2976
@Asufin2007 also the runtime version, OS you're running, and framework (WPF, win32, UWP, etc.) would help with this investigation as well.

Thanks again,
Victor

[2022-11-18 19:16] victorthoang commented on #2972
Hello @KiddoV,

Thanks for your bug report. I've assigned this to a dev that might best try to replicate the issue and follow up on this.

[2022-11-18 19:17] victorthoang commented on #2977
Hello @rajankapadia,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-11-18 19:18] victorthoang commented on #2978
Hello @RendijsSmukulis,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-11-18 19:19] champnic commented on #1817
@animalis007 Are you running your application as admin/elevated? We have a known issue where file dialogs wouldn't show when running the host app elevated. We recently checked in a fix for that but it hasn't shipped to stable yet.

[2022-11-18 19:20] david-risney commented on #2977
Do I understand correctly that you are implementing your own C++ based IDispatch object and you are calling AddHostObjectToScript to make that object available in script, and then you are calling ExecuteScript to inject script that interacts with the IDispatch object you added?

What does the injected script do and what was it returning and what, exactly is it returning now?

[2022-11-18 19:23] champnic commented on #1096
@jonferreira Do you have a sample app you can share which demonstrates the issue? Can you add some details on how often the WS_PAINT is being called, or the CPU spike?

[2022-11-18 19:30] victorthoang commented on #2982
Hello @daviduuang,

Thanks for your inquiry! I've assigned this to a dev that might best answer your question.

[2022-11-18 19:30] champnic commented on #2876
Oh sorry - you meant that we should disable the entry point into the editor settings because it's a broken link. (I thought you were saying if someone tried to manually navigate there to edit settings). You are right - we need to disable that!

[2022-11-18 19:30] victorthoang commented on #2983
Hello @ztanczos ,

Thanks for your inquiry! I've assigned this to a dev that might best answer your question.

[2022-11-18 19:32] oggy22 commented on #2972
Hi @KiddoV, can you please tell us what kind of app is it? Win32, dotnet or UWP? Also what is the nuget package version?

[2022-11-18 19:35] champnic commented on #2876
I checked and we just checked in a fix that disables the spellcheck feature (including the menu item to get to settings). It's available in runtimes 109.0.1481.0+. Thanks!

[2022-11-18 19:35] #2876 closed

[2022-11-18 19:35] victorthoang commented on #2985
Hello @applefanbois,

Could you please provide some general info related to:

- Webview runtime/SDK you're using:
- OS you're using
- Framework (win32, WinUI3, WPF, WinForms, etc)

Thanks!
Victor

[2022-11-18 19:40] champnic commented on #2865
This has been fixed in runtimes version 109.0.1481.0+. Thanks!

@zewt I'm forwarding your concern to our folks looking into potential privacy policy issues. I agree we need some testing around this to catch instances of other teams on the browser adding unexpected traffic.

[2022-11-18 19:40] #2865 closed

[2022-11-18 19:40] victorthoang commented on #2979
Hello @appindus-ibiller,

Some general questions for you before I find a dev to look into this:

- Could you provide the steps on how we might be able to reproduce this issue?
- Also, your html snippet uses an image tag. Not sure if that is causing an issue?
- Does this happen in the Edge browser?

Thanks!
Victor

[2022-11-18 19:40] david-risney commented on #2984
@LiangTheDev you've looked into this issue previously. Do you know if there is any solution or workaround?

[2022-11-18 19:42] victorthoang commented on #2962
Hello @infinitegame111,

Thanks for your inquiry! I've assigned this to a dev that might best answer your question.

[2022-11-18 19:47] advos commented on #2974
Hi Victor,
Our web application must be able to be integrated into applications from other suppliers that use WebView2 as a browser component. At the moment we use Windows Authentication based on kerberos for user authentication and authorization.
If you need more information feel free to contact.
Thanks,
Arco

[2022-11-18 20:00] animalis007 commented on #1817
Indeed I was. I've got VS set to always open running as Admin, so I didn't even think about that. Running the .exe directly without admin the Explorer opens as expected.

When do you think the fix for admin will ship approx? Just need a rough timeline to update my project manager with.

[2022-11-18 20:29] LiangTheDev commented on #2984
The workaround for the normal case is to restart Windows Explorer using Task Manager.
In this case, it seems to be different. We are running at logon around the same time explorer is starting. So, I would suggest that we try to delay the webview creation a little, or retry webview creation after a delay, and don't display the UI before we know webview is created and working.

[2022-11-18 20:30] LiangTheDev commented on #2794
The Edge WebView2 Runtime is always installed under "c:\Program Files (x86)\Microsoft\EdgeWebView"

[2022-11-18 20:33] applefanbois commented on #2985
-Latest update of Windows 10 Pro version 22H2 build 19045.2311
-Not sure MS changed then name 10x over the past 5 years : Universal App-> UWP -> Reunion-> Win32? -> WinUI3 not sure about the name.

Microsoft.Windows.SDK.BuildTools 10.0.22621.755
Microsoft.WindowsAppSDK 1.2.221116.1
Microsoft Edge WebView2 Runtime 107.0.1418.42

[2022-11-18 20:38] appindus-ibiller commented on #2979
@victorthoang Hi, sorry I should really update the title/desc. I figured out that this is really just a side effect of that image object being tapped or pinched. I can't seem to disable user input using the properties that would imply that they disable tap, pinch, and zoom (https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2settings?view=webview2-dotnet-1.0.1418.2

[2022-11-18 21:09] htcfreek commented on #2794
Is there a way to check which architecture version of WebView2 is installed?

[2022-11-18 21:18] LiangTheDev commented on #2794
The simplest way is to check whether there are x64 and x86 sub folder under EBWebView sub folder of the installation, like whether there are x64 and x86 under "C:\Program Files (x86)\Microsoft\EdgeWebView\Application\107.0.1418.52\EBWebView". If only x86 is there, it is x86 installation.
The original post has a link for more sure way of checking.

[2022-11-18 21:29] htcfreek commented on #2794
Thank you @LiangTheDev. Hopefully I don't have to uninstall the x86 version and can override it with the x64 version. (We deployed the version 90 as x86 and updated it using wsus. Now the uninstall command is invalid because of the changed version nunber in the uninstall path.)

[2022-11-18 21:53] victorthoang commented on #2979
@appindus-ibiller thanks for providing further information.

I'll assign this to a dev to see if we can have any information for you. Will need to confirm which work stream this is.

Are you able to reproduce this pretty easily? (e.g. simply tapping/pinching the image object?*).

Thanks,
Victor

[2022-11-18 21:58] appindus-ibiller commented on #2979
yes, exactly that. IsZoomControlEnabled, IsPinchZoomEnabled, and IsTapEnabled don't seem to change the behavior when set to false. So basically unable to prevent them from zooming, and then the next time that control hits that url its cached and I can't clear the cache either (Kiosk application, so subsequent users see the zoomed in webview and are confused).

[2022-11-18 22:48] david-risney commented on #2979
Changes to properties on CoreWebView2.Settings generally don't apply until the next document loaded in WebView2. Are you setting the property values before navigating to the page where you experience the issue? If its still not working we'll need to look into why those settings aren't working.

Otherwise, talking about work arounds: One work around might be to disable pinch zoom in the page. You m

[2022-11-18 23:47] peiche-jessica commented on #2962
Hi @infinitegame111, you should be able to configure your app to [handle URI activation](https://learn.microsoft.com/windows/uwp/launch-resume/handle-uri-activation) and then [change default programs](https://support.microsoft.com/windows/change-default-programs-in-windows-e5d82cad-17d1-c53b-3505-f10a32e1894d) in your OS settings.

[2022-11-18 23:47] #2962 closed

[2022-11-19 02:29] KiddoV commented on #2972
I am building an application using this framework: [Wails](https://wails.io/) - Golang + Webview2
More details on the issue: https://github.com/wailsapp/wails/discussions/2075#discussioncomment-4137777
Also an issue was opened: https://github.com/wailsapp/wails/issues/1331#issuecomment-1318493195

This is hard to re-produce, because I found it happens not on every computer. Also it doesn't throws

[2022-11-19 07:40] jinleil commented on #2972
Hi @oggy22, I had the same problem too. But the problem occur only when you run app as an administrator.
My app type is the wpf application with .NET6.
I tried to use the nuget package version:1.0.705.50/1.0.1418.22 ...

[2022-11-19 15:01] julianhu1979 opened #2986 "On all apps with WebView2 has screen flashing on Intel HUD graphics"
On all apps with WebView2 has screen flashing on Intel HUD graphics

i tested the webview by WebView2APISample-release-x64-1.0.902. If i change the edge://flags/#use-angle to D3D9 or D3D11on12 instead D3D11 or default. the problem solved.

following is the information of edge://gpu

Graphics Feature Status
Canvas: Hardware accelerated
Canvas out-of-process rasterization: Disabled
Direct Rendering

[2022-11-19 15:16] julianhu1979 commented on #2986
------------------
System Information
------------------
      Time of this report: 11/19/2022, 23:05:58
             Machine name: JULIAN-NPC
               Machine Id: {3BFD0C6A-587A-46E6-934D-50421DC82689}
         Operating System: Windows 11 专业版 64-bit (10.0, Build 22621) (22621.ni_release.220506-1250)
                 Language: Chinese (Simplified) (Regional Setting: Chinese (Simplified))

[2022-11-19 21:04] Bilnaa commented on #2236
Is there any updates on this issue ?

[2022-11-21 00:01] exchange321 commented on #1777
Are there further findings around ^? We're observing the same issue too.

[2022-11-21 02:17] TempleToth opened #2987 "How to re open automatic password saving?"
Hello, I want to know that after opening automatic password saving, I clicked Never when the password saving prompt was displayed on the page. How can I turn on the switch again?

[2022-11-21 02:20] #2987 closed

[2022-11-21 02:22] TempleToth opened #2988 "How to re open automatic password saving?"
Hello, I want to know that after opening automatic password saving, I clicked Never when the password saving prompt was displayed on the page. How can I turn on the switch again?

[2022-11-21 02:37] ElyssaJyu commented on #2866
This has been fixed. Thanks!

[2022-11-21 06:28] DreamlandForsure commented on #2984
Hi @victorthoang @david-risney , thanks for your prompt response and bridging the issue.
@LiangTheDev , your proposal sound reasonable. So do you have a quick private of the fix which we can request a verification for our customer side?

[2022-11-21 07:14] leaanthony commented on #1508
@champnic - any update on this?

[2022-11-21 08:19] ElyssaJyu commented on #2824
Hi @incheon-kim Since you have fixed this issue, is there any following issue you have?

[2022-11-21 13:42] ynborokh commented on #2677
@david-risney Are there any updates here?

[2022-11-21 15:13] kyle-mcknight commented on #1777
Hey, I can't recall what version helped, but when we updated to a later version, this worked for us with no changes from us. If I can find the version, I'll post it.

[2022-11-21 16:23] Houuse opened #2989 "Fresh Edge install Crashes after few seconds of launch"
Hello, just installed edge on a fresh Fedora linux install, and Edge is crashing 2 seconds after oppening
when I start microsoft-edge from the terminal, I get this output:
`[mohamed@fedora ~]$ microsoft-edge
libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)
[1121/172127.312485:ERROR:elf_dynamic_array_reader.h(64)] tag not found
[1121/172127.313186:ERROR:el

[2022-11-21 17:29] LiangTheDev commented on #89
A new API has been developed for this scenario. Please check it out (the API is supported in current stable WebView2 Runtime, version 107).
API spec: https://github.com/MicrosoftEdge/WebView2Feedback/blob/main/specs/SharedBuffer.md.
API reference: https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2environment.createsharedbuffer?view=webview2-dotnet-1.0.1466-prerel

[2022-11-21 17:30] LiangTheDev commented on #1005
A new API has been developed for this scenario. Please check it out (the API is supported in current stable WebView2 Runtime, version 107).
API spec: https://github.com/MicrosoftEdge/WebView2Feedback/blob/main/specs/SharedBuffer.md.
API reference: https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2environment.createsharedbuffer?view=webview2-dotnet-1.0.1466-prerel

[2022-11-21 17:52] LiangTheDev commented on #2984
Sorry for the confusion, I am expecting the app not WebView2 Runtime to make a change to work around the situation so that we have an improved end user experience.

[2022-11-21 18:35] monica-ch commented on #842
Hi all, we've completed our design for the https://github.com/MicrosoftEdge/WebView2Feedback/blob/main/specs/TrackingPrevention.md! Please review and add any feedback you have about this API. We appreciate your input and support!

[2022-11-21 19:18] david-risney commented on #2677
We're working on fixing this currently. Sorry I don't have a better update.

[2022-11-21 21:48] #1817 closed

[2022-11-21 22:42] #2692 closed

[2022-11-21 22:44] champnic commented on #2652
This is fixed in runtimes 109.0.1496.0+. Thanks!

[2022-11-21 22:46] champnic commented on #2607
This is fixed in runtimes version 109.0.1496.0+. Thanks!

[2022-11-21 22:46] #2607 closed

[2022-11-21 23:11] oggy22 commented on #2972
@KiddoV can you also check if that only reproes when the app is run as an administrator?

[2022-11-21 23:33] champnic commented on #2775
This should be fixed in the latest SDK releases. Thanks!

[2022-11-21 23:33] #2775 closed

[2022-11-21 23:33] champnic commented on #2804
This is fixed in the latest SDK releases. Thanks!

[2022-11-21 23:33] #2804 closed

[2022-11-21 23:36] champnic commented on #2822
This is fixed in the latest prerelease SDK [1.0.1466-prerelease](https://www.nuget.org/packages/Microsoft.Web.WebView2/1.0.1466-prerelease). Thanks!

[2022-11-21 23:36] #2822 closed

[2022-11-21 23:37] champnic commented on #2819
This is fixed in the latest prerelease SDK [1.0.1466-prerelease](https://www.nuget.org/packages/Microsoft.Web.WebView2/1.0.1466-prerelease). Thanks!

[2022-11-21 23:37] #2819 closed

[2022-11-21 23:38] champnic commented on #2851
This is fixed in runtime versions 108.0.1461.0+. Thanks!

[2022-11-21 23:38] #2851 closed

[2022-11-21 23:39] champnic commented on #2858
This is fixed in runtimes 108.0.1454.0+. Thanks!

[2022-11-21 23:39] #2858 closed

[2022-11-21 23:51] champnic commented on #2842
The format of CDP API is outside the scope of WebView2 and is currently By Design.

[2022-11-21 23:51] #2842 closed

[2022-11-22 00:07] #2840 closed

[2022-11-22 00:09] champnic commented on #2895
This was fixed and will be in the next prerelease SDK (version 1484+).

[2022-11-22 00:11] champnic commented on #2897
We've discussed with the team and this isn't something we are likely to pursue, so I'm closing this issue. Sorry for any inconvenience this may cause.

[2022-11-22 00:11] #2897 closed

[2022-11-22 00:12] champnic commented on #2866
The fix is available in runtime versions 109.0.1474.0+.

[2022-11-22 03:15] zhuhaichao518 commented on #1202
@SureshkPerumal @niclet @kurash
Maybe calling [CoreWebView2.Stop](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.stop?view=webview2-dotnet-1.0.1418.22#microsoft-web-webview2-core-corewebview2-stop) in WebResourceRequested event or override WebResourceResponse there with code 204 can solve your problem.
Anyway, we are adding a param in NavigationStartingEventA

[2022-11-22 06:53] my2iu commented on #89
The documentation should be more clear about whether you receive an ArrayBuffer (that is shared with native but only transfer ownership to web worker threads) or a SharedArrayBuffer (that is shared with native and can be shared with web worker threads) on the JavaScript side.

[2022-11-22 07:09] my2iu commented on #89
It might also be useful to show an example of passing data from JS to native. I assume it’s not possible to create a shared buffer from JS, so the JS side would first have to message native side to create such a buffer and pass it into JS where it can be filled with data?

[2022-11-22 09:10] xu-ms commented on #1958
Hi @Sridevids ,
1.Please try to update webwiew2 package to latest version.
2.Could you provide more details about your solution code?
I used showDialog() to open a new form and log in www.microsoft.com, then close it with call webview2.dispose(). but cookies are saved which is different result with yours. So, I need more information.

[2022-11-22 09:43] e-tobi commented on #1136
Just stumbled upon this too. I have a ContentControl which swiches content between two user controls, one containing a WebView2. Once I switch to the control not containing a WebView2 the "source property can not be null" exception is thrown. IMHO WebView2 should just show a blank page if Source is null.
My workaround:
`
<wpf:WebView2 x:Name="Browser" Source="{Binding TargetNullValue=about:blank,

[2022-11-22 12:11] KiddoV commented on #2972
@oggy22 you are right, when running the app in ``administrator mode``, input file doesn't work. @@!

[2022-11-22 17:53] LiangTheDev commented on #89
It is ArrayBuffer, not SharedArrayBuffer. The ArrayBuffer is shared between native and JS side. On JS side, you have to transfer ownership to worker thread if we want to access it from worker thread.
The sample code in API documentation is at https://learn.microsoft.com/en-us/microsoft-edge/webview2/reference/win32/icorewebview2experimental18?view=webview2-1.0.1466-prerelease#postsharedbuffertoscr

[2022-11-23 01:55] yizhao5 commented on #2929
It seems about mac related. how to deal with it. @imicy

[2022-11-23 04:36] TonyAntony33 opened #2991 "Disable shortcut not working for the first loaded page"
Hi ,
I am using the below code to disable those short cuts .But its not working for the first page. But it works just after refreshing the page or clicking any link on the first page. How to disable those in the first page itself.
Note : Here I cannot use _WebViewSettings.AreBrowserAcceleratorKeysEnabled_ . Beacuse i dont want to disable all browser specific accelaration keys.

 //Disable 'Ctrl+R'

[2022-11-23 05:29] llu23 commented on #2969
Hi, is there any progress on this please?

[2022-11-23 06:49] VoidExploiter commented on #2875
Its fixed in WASDK 1.2

[2022-11-23 08:05] petr-horny-bsshop opened #2992 "Validated event not fired properly"
If the WebView2 control loses focus it should raise the "Validated" event. However, this will only happen if WebView2 has gained focus by pressing the TAB key. If it gains focus by clicking the mouse, the "Validated" event will not be fired on subsequent loss of focus.
Microsoft.Web.WebView2 version 1.0.1418.22
Below is the source code to reproduce the problem.

**How to reproduce the problem:**
1

[2022-11-23 10:12] ElyssaJyu commented on #2868
Hi @cheide-beta, there is no response when clicking on 'Reset Password', it doesn't launch the 'exe' file on the user lock screen. Is there additional configuration needed?

[2022-11-23 11:44] andrejapotic opened #2993 "Spellcheck missing from Context Menu"
**Description**
For a while context menu displayed the spellcheck option and it was possible to switch between languages.

Is there a way to return this feature? Is it due to Edge updates? If that is the case, is there a way to force WebView2 control to use a specific version of Edge where this was available without actually forcing everyone using the app to downgrade their Edge in order to have t

[2022-11-23 11:59] mikeduglas commented on #2993
@andrejapotic, I see the same behavior in my program compiled with SDK
1.0.1418.22, but if I compile with 1466-prerelease SDK then the context
menu has a spell check option.

--
Mike

ср, 23 нояб. 2022 г. в 14:44, andrejapotic ***@***.***>:

[2022-11-23 12:47] frostius commented on #1005
This looks great.  Is there a call from the app side to release the shared buffer?

[2022-11-23 13:13] andrejapotic commented on #2993
@mikeduglas Just tried going up to 1466-prerelease and have the same issue...still no spell check option unfortunately :\

[2022-11-23 17:30] LiangTheDev commented on #1005
Yes, for C++ API, call [Close ](https://learn.microsoft.com/en-us/microsoft-edge/webview2/reference/win32/icorewebview2experimentalsharedbuffer?view=webview2-1.0.1466-prerelease#close) on the shared buffer object. For .NET, the CoreWebView2SharedBuffer object implements [IDisposable](https://learn.microsoft.com/en-us/dotnet/api/system.idisposable), so you can call either Close or Dispose. For WinR

[2022-11-23 21:01] malylemire1 commented on #833
I use this event to set the Accept-Language header. CoreWebView2EnvironmentOptions Language property was doing nothing.

`webView2.CoreWebView2InitializationCompleted += webView_CoreWebView2InitializationCompleted;

private void webView_CoreWebView2InitializationCompleted(object sender, Microsoft.Web.WebView2.Core.CoreWebView2InitializationCompletedEventArgs e)
{
    if (e.IsSuccess)
    {

[2022-11-23 22:38] TanayParikh commented on #2513
Hey @yildirimcagri, thanks for the comment. That's exactly the workaround we're using presently 😄

https://github.com/dotnet/maui/pull/9645

[2022-11-24 00:51] ryanroe commented on #288
have you tried with javascript
[code]

i don't know if this works on wpf / winform version , but this works on [tauri](https://tauri.app)  :)

[2022-11-24 01:15] johnnylq opened #2994 "Any known software/project using "The Fixed Version runtime distribution mode""
Is there any known project or software using the "The Fixed Version runtime distribution mode"?

We are working on a project based on Webview2 control.  Hope can find some successful "Fixed version distribution" examples.

[2022-11-24 01:52] DreamlandForsure commented on #2984
Hi @LiangTheDev , thanks for your kindly input. Let me discuss with our colleagues about if this is possible and how to implement the suggestion you proposed.

[2022-11-24 03:16] kikokuo opened #2995 "WebView2 will disappear when window touch input cover it."
**Description**
I got problem that webview2 screen disapper, it only happen when window touch input cover webview2 screen.
No error message and crash. Even you use Devtools to check web, no any error message.
I created a simple project to check this issue, it also happen.
Please help us to find root cause. thansks.
PS: I provide a simple project and video to help you to find root cause.

**Version

[2022-11-24 04:27] #2957 closed

[2022-11-24 08:45] DexterWoo opened #2996 "LaunchApplication2 + scan code 0x21 key is handled by webview2 control when it got focus."
**Description**

there's this utility function key (launchApplication2) for launching calculator app quickly.
somehow when webview2 got focus, it will capture the keyboard event and handle it.
we tried to disable the default accelerate keys via property, yet it still captured.

**Version**
SDK: ANY
Runtime: ANY
Framework: .NET 6.0
OS: Win10 RS5 - Win11 21H2

**Repro Steps**
with a keyboard that ha

[2022-11-24 09:01] plantree commented on #2983
Hi @ztanczos,

Sorry for the late reply.
With the code you provided, I didn't reproduce locally. By the way, I used the WPF sample app from the public GitHub repository and release runtime.
If it's convenient for you, I have two advice:
1. try it in GitHub sample apps and release runtime
2. share a runnable project to help reproduce

[2022-11-24 10:35] barts2108 opened #2997 "H264 Video decoding - license required or not?"
If I use the latstes stable Webview2 nuget package in a own usercontrol (wrapping the webview2 control) I am able to play videos that are h.264 encoded. If I want to distribute my usercontrol as part of our (small scale) product, is the h.264 codec license covered ?

I am not downloading the evergeen or fixed runtime. I only distribute the binaries of my application.

The [license from the nuget p

[2022-11-24 11:43] yizhao5 commented on #2921
@darbid. Hello, what are your problems and expectations?

![image](https://user-images.githubusercontent.com/109595412/203770035-a6b6e4d2-fc27-4783-862d-5f755de5cfe9.png)
firstly, there are indeed 4 frames here, which are consistent with what you wrote.

![image](https://user-images.githubusercontent.com/109595412/203776174-c961dade-4d07-402a-aaff-1e55fe993614.png)
In addition, the `javaSrcriptToL

[2022-11-24 12:09] suzhouhu opened #2998 "Is it possible to prohibit the download of multiple file dialogs, it is very inconvenient to have to pop up every time"
![L18`Q7_WW`}7D6E{XU{A$MH](https://user-images.githubusercontent.com/23079693/203780557-ff7fe22a-809c-439e-a029-b312dcdfc419.png)
Can you unblock multiple file downloads?Every time you click to download involving multiple files, this dialog box pops up, which feels both tiring and unsightly!

[AB#42438178](https://microsoft.visualstudio.com/90b2a23c-cab8-4e7c-90e7-a977f32c1f5d/_workitems/edit/4243

[2022-11-24 12:35] yizhao5 commented on #2921
Do you mean that `frame4` (same as `loadscript.js`) has not been created, which is `window.frameElement = null`?

![image](https://user-images.githubusercontent.com/109595412/203779728-b67c13c8-d4d7-4cdb-944a-88de3292808e.png)
Meanwhile, there is no "Testing multiple Top document" log of `MainHTMLPage.html`.

Debug shows that the running order is:
[code]

Your `frame4` (same as `loadscript.js`) is

[2022-11-24 15:55] vagisha-nidhi195 opened #2999 "x:Bind in WebView2 Source property does not work in UWP"
**Description**
x:Bind in WebView2 Source property does not work in UWP. When you x:Bind the Source property in WebView2 to a view model property, it causes a stackoverflow exception

**Version**
Microsoft.UI.Xaml 2.9.2-prerelease-220830001
Framework: UniversalWindowsPlatform 6.2.12
OS: Win10

**Repro Steps**
https://github.com/vagisha-nidhi195/UWPWebView2-xBindNotWorking

When you run this app, y

[2022-11-24 17:29] darbid commented on #2921
Thank you for your candid responses.

1. I do not have any problems but I am happy to assist you with your problems (assuming you are responsible for the good working condition of this code)
2. my expectation is that the JS code added with AddScriptToExecuteOnDocumentCreatedAsync is injected into the frame with the name frame4
3. my test show that it is not.

[2022-11-24 19:28] sln162 opened #3000 "Check for available disk space and permission to install software. Unable to create temporary directory."
The user reported that the installation failed: Check for available disk space and permission to install software Unable to create temporary directory.

His reply is that the disk space is enough. Since he has not been contacted yet, I guess the problem may be the temporary folder permission? For example, change the TEMP environment variable? My program writes the WebView2 installation program to

[2022-11-24 19:29] sln162 commented on #3000
![QQ图片20221125031416](https://user-images.githubusercontent.com/11196986/203854369-59674019-9bd0-4d23-adb3-004c6f95e162.jpg)
@LiangTheDev

[2022-11-25 13:57] qingluwww opened #3001 "How to make sure codes execute before NavigationCompleted"
Hi, I encountered an extreme use case. At the same time, there are three calls to create different webview2 instances. I have some logic written in the NavigationStarting event handler, and I wish them to be executed completely before navigation completes. However, when I checked my log, there is an instance which loads a pdf, and my codes written in NavigationStarting event handler were executed

[2022-11-25 15:12] contactteckee opened #3002 "UWP Webview2 Size shrinks - Extended displays"
Iam trying with a simple test UWP app which is having a webview2 control , noticed an issue where in the extended monitor , if i minimize the app and restore the app , the webview control shrinks in size. Please see the attachment.
if i resize the main window then the control docks properly.
I tried using Grid instead of frame , still the issue exists. Any ideas to fix this issue. I guess this is

[2022-11-25 18:32] applefanbois opened #3003 "WinUI3 WebView2 mouse stop working while keyboard is still working."
There are 2 ways to replicate the problem.
It is new to the latest version stable version of WebView2.

-Click in an web page input box and type super fast.
    or
-Select text in a page and Ctrl + c multiple times super fast.

The webview2 and the app will look like it is crashed and froze.
It is not frozen, keyboard is still working.
You can continue to type in the input box.
You can tab to chan

[2022-11-26 00:35] vankyy26 commented on #2975
@NENCAO I'm sure you'll get response hah, take a look here: https://github.com/MicrosoftEdge/WebView2Feedback/issues/356
Maybe after a decade you may get a solution.

[2022-11-26 17:28] ZanzyTHEbar commented on #98
wouldbe nice to use react dev tools extension for developing webView2-based applications with frameworks like `tauri`

[2022-11-27 01:36] muhamedRadwan commented on #2958
any update on that?

[2022-11-27 09:14] BIBLETEAM commented on #1737
I am waiting too. It is one of the very necessary features. I look forward to the good news.

[2022-11-27 17:39] yildirimcagri commented on #2944
Have you tried if [PrintToPdf ](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.printtopdfasync?view=webview2-dotnet-1.0.1418.22) API works here by any chance?

[2022-11-27 17:40] yildirimcagri commented on #2871
Closing this issue for now, please let me know if you still need help with this.

[2022-11-27 17:40] #2871 closed

[2022-11-27 17:46] yildirimcagri commented on #2751
Thanks for the report, I've added this to our backlog.

[2022-11-27 17:49] yildirimcagri commented on #2380
Update: This should be fixed in latest canary as we already mentioned in a duplicate issue. #2607

[2022-11-27 17:49] #2380 closed

[2022-11-27 18:03] yildirimcagri commented on #2367
Hi again, it seems we may have not been clear in our documentation about what the icon parameter is used for. It is specifically to provide an icon for a custom context menu item, but not to obtain the default context menu items of Edge. We will update the docs about this. Do you need to be able to read the default resources, and if so, is this not something you can obtain via the Edge runtime?
Fo

[2022-11-27 18:09] mikeduglas commented on #2367
For me everything works as expected now, thank you.

[2022-11-27 18:10] #2367 closed

[2022-11-28 02:52] plantree commented on #2983
@ztanczos, I tried to start in Visual Studio and .exe.

**Both can open the new window.**

However, I found that if I opened by .exe, **it would take a bit long time to render the web page**.
I will study this issue and synchronize with you if I have a conclusion.

[2022-11-28 06:59] ElyssaJyu commented on #2868
I have tried launched a simple WPF app window (without WebView2) on lock screen. It's no response after clicking, so there is some additional configuration or setting needed for Winlogon. Since I cannot reproduce the issue and have little knowledge on Win logon, I have thought that is it possible that there is some procedure that blocks msedgewebview2.exe process from being created on lock screen?

[2022-11-28 06:59] kiddliu opened #3004 "WebView2 Runtime as UWP PackageDependency"
**Is your feature request related to a problem? Please describe.**

Due to the license issue, the commercial UWP app owner may not distribute the WebView2 Runtime as suggested in [MSDN](https://learn.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution)

**Describe the solution you'd like and alternatives you've considered**

Make a standalone dependency package of WebView2 Runtime, a

[2022-11-28 08:54] victorthoang commented on #2989
Hello @Houuse,

This GitHub is for issues related to WebView2 runtime and SDK. To submit an issue related to the Edge browser, please use the keyboard shortcut: Alt+Shift+i, and submit your issue there. It will create a screenshot and be sent to someone to support you further.

Thanks!

[2022-11-28 08:57] #2989 closed

[2022-11-28 09:11] ElyssaJyu commented on #2967
Hi @mukeshmishra996,
Basically, `window.chrome.webview.postMessage` is using on the web side and` WebView2.CoreWebView2.WebMessageReceived` on the WPF side. It seems the sample code you provided is not enough to show how you communicate from java script code to C# code to locate the issue specifically. For the WebView2 control to send and respond to the web message, after CoreWebView2 initializati

[2022-11-28 09:19] victorthoang commented on #2991
Hello @TonyAntony33,

Thanks for your inquiry! I've assigned this to a dev that might best answer your question.

[2022-11-28 09:22] mukeshmishra996 commented on #2967
@ElyssaJyu but in my case `window.chrome.webview` it self is undefined on child window. How we can able to send the message from web side to wpf side.
Whatever you mentioned I have followed same thing. but still webview is undefined. Can you please share any sample code which can help me to implement popup window within webview2 solution.

[2022-11-28 09:30] victorthoang commented on #2993
Hello @andrejapotic,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-11-28 09:48] ElyssaJyu commented on #2967
I simple create two windows, then call PopupView from MainWindow.
![image](https://user-images.githubusercontent.com/111425758/204244097-e2059faf-7a92-4c5c-b950-189140aa6c64.png)
Something like this:
`private void button1_Click(object sender, RoutedEventArgs e)`
`{`
`new PopupView().Show();`
`}`
There is a button on MainWindow, then click, PopupWindow shows up. But I'm not sure what your expected

[2022-11-28 09:57] mukeshmishra996 commented on #2967
@ElyssaJyu Let me create a sample project for you

[2022-11-28 10:43] ibebbs opened #3005 "Open Source WebView2?"
Hi,

Would Microsoft consider open-sourcing WebView2?

We use WebView2 extensively and often encounter issues which we would likely be able to resolve or workaround ourselves if we could see the underlying implementation. Additionally, should we find the cause of an issue in WebView2 code, we would happily contribute a fix back to the WebView2 team in the form of a pull request.

Obviously there a

[2022-11-28 14:50] applefanbois commented on #3003
If you type too fast in a web page input box, you select text and do many Ctrl-V or simply use the webview2 normally it will deactivate all mouse input in the whole app. A friend across the globe reported the exact same problem.

As of now, the webview2 is useless and so is our app.

Waiting for MS to fix it.

WebView2 disable all mouse inputs.
WebView2 freeze the whole app. (this is an illusion)

[2022-11-28 15:05] Manka-Muakido commented on #202
i also need to use webview2 in projects that don't has UI, but no matter what CoreWebView2 never is initialized without UI showing up, any fix?

[2022-11-28 16:14] mukeshmishra996 commented on #2967
[WebView2.zip](https://github.com/MicrosoftEdge/WebView2Feedback/files/10105505/WebView2.zip)
@ElyssaJyu Please find above sample code to re-produce this issue.
Steps to re-produce above issue:
Step 1: Open Outlook(webmail)
Step 2: Login
Step 3: double click and open a mail from inbox in child window or expand any mail on child window.
Step 4: Click on Test Child window button to verify web to wpf

[2022-11-28 17:22] LiangTheDev commented on #3000
Try to collect Edge install logs and see what errors are logged in the logs. Instruction on where to find installer logs are at https://github.com/MicrosoftEdge/WebView2Feedback/blob/main/diagnostics/install.md. (For Win7, https://github.com/MicrosoftEdge/WebView2Feedback/issues/2955 has info about where to find the install logs.)

[2022-11-28 18:30] david-risney commented on #2991
`CoreWebView2.AddScriptToExecuteOnDocumentCreatedAsync` adds script that will run before any script in the document runs for future navigations. I would guess you're calling `AddScriptToExecuteOnDocumentCreatedAsync` after your first navigation has started and so its not apply to the first document. You should await for `AddScriptToExecuteOnDocumentCreatedAsync` to complete before the first naviga

[2022-11-28 19:42] simon-knuth commented on #2933
Hi @victorthoang, did you already get a chance to find out more about this?

[2022-11-28 20:46] dfedotenko commented on #1907
@tochukwuIbeEkeocha  Hi!

Could you let us know what the MSFT team is prepared to support? :)
I agree that some of not most use-cases could be satisfied by keeping the data in run time memory until the actual user signs in and then access data storage for persistence.

But perhaps there could be cases where some writing to a temp file (perhaps with explicit (non-DPAPI) crypto for extra protection)

[2022-11-28 21:01] cheide-beta commented on #2868
Sorry for the delay, I've been off sick.

I've been able to launch WPF apps on the lock screen before, such as the sample app seen in the screenshot above, but these apps were built to target .NET Framework 4.7.2 so that they relied only on the .NET runtime included with the OS.

Before, I've done some testing on whether the credential provider is successfully launching processes or not by copying

[2022-11-28 21:08] tochukwuIbeEkeocha commented on #1907
Hey,

There will be no support for downloads to the user's machine.

[2022-11-29 01:21] peiche-jessica commented on #2958
@RusselRillema AFAIK we don't explicitly block third party cookies by default. Although [Tracking Prevention](https://learn.microsoft.com/microsoft-edge/web-platform/tracking-prevention) is by default on Balanced mode. Could it be related to your scenario? Also, I understand that TradingView may have updated their code. Have you experienced this with other site as well? It seems a TradingView logi

[2022-11-29 01:35] peiche-jessica commented on #2973
Hello @AmirMahdiNassiri, thanks for the question. We've added this to our backlog to investigate more and will get back to you as soon as possible. Thanks!

[2022-11-29 03:12] xu-ms commented on #2958
@RusselRillema I try another website to test 3rd party cookies, and it is work.

@muhamedRadwan If you've same error, could you please share a repro then I can test that.

[2022-11-29 04:19] TonyAntony33 commented on #2991
private async void Form1_Load(object sender, EventArgs e)
        {

            //disable keyboard shortcuts and drag and drop functions
            disableFunctions();

            //Setting events and disable functions
            WebView2_Ready();

            //Launching url
            InitializeWebView2Async(webView21, formUrl, "");

       }

This is how I have written the code.

1. In the

[2022-11-29 04:35] ElyssaJyu commented on #2967
@mukeshmishra996, is it what you expected?
![image](https://user-images.githubusercontent.com/111425758/204439164-b0241fd6-9cb0-4bb6-80da-54635e40f497.png)
I launched the project, and it works for me. But in case, I use netcoreapp3.1, not net6.0.

[2022-11-29 05:04] ArjanGr14 commented on #2871
Sorry for the late response, completely forgot about this. No the issue had nothing to do with any limit to the POST data content. The issue was indeed with the limit on target server. thank you.

[2022-11-29 05:30] sln162 commented on #3000
@LiangTheDev   I can't get in touch with him. I shut down the issues first, and then I will give feedback when they appear again.

[2022-11-29 06:15] RusselRillema commented on #2958
Unfortunately I can't find another way to reproduce the issue either. I don't know if Tracking Prevention could have caused it. It seems unlikely but I really don't know what the internals of TradingView were trying to do that caused that cookie error.

For my part I am happy to close the issue and I'll reopen it if I find another scenario where I am getting the same error.

Unless @sinand99 or @m

[2022-11-29 06:36] mukeshmishra996 commented on #2967
@ElyssaJyu - Yes, Then what is the solution with .net framework? Because we are migrating from CefSharp to WebView2 and my all the existing code on .net framework.

[2022-11-29 07:07] ElyssaJyu commented on #2967
If you would like to convert .net Core/.net to .net framework, you can change in project "properties" or edit project file (.csproj).

[2022-11-29 07:16] mukeshmishra996 commented on #2967
@ElyssaJyu - there is any plan to fix this issue in upcoming release.

[2022-11-29 07:27] ElyssaJyu commented on #2967
what is the issue you refer to?

Your sample project works without undefined issue. There might be some improper coding you have before.

you can choose which target framework you would like to use when you create a new project.
![image](https://user-images.githubusercontent.com/111425758/204465124-e15fa189-3f07-4337-a268-cab0610d7e01.png)

[2022-11-29 07:35] mukeshmishra996 commented on #2967
@ElyssaJyu - we can't migrate from .net framework to .net core. We already have existing code base and if migrate from .net framework to .net core. Might be so many existing functionality will break. So, if possible can you please let me know it is possible to fix this issue with .net framework or not?

[2022-11-29 08:09] ElyssaJyu commented on #2967
Applications created for .NET Framework use a desktop technology such as WinForms and WPF, which both have been ported to .NET, but these remain Windows-only technologies. Consider the following dependencies:

- Project files for .NET use a different format than .NET Framework.
- Might use an API that isn't available in .NET.
- Third-party controls and libraries might not have been ported to .NET

[2022-11-29 08:53] 53b4 commented on #2948
Hi, question above is also important to me, so is there any solution or hint ?

[2022-11-29 09:07] Desz5 opened #3007 "PrintAsync prints blank page - WinForms VB.NET"
I have a question and i hope someone can help me:)
I load a page containing a label PDF and i would like to print it using the following command:

await WebView_Browser2.CoreWebView2.PrintAsync(PrintSettings)

I have the PrintSettings set to a number of Copies and PrinterName.
After the page is fully loaded i wait an additional 4/5 seconds to ensure everything is completely loaded.
But it prints a

[2022-11-29 09:40] TempleToth commented on #2988
Yes, I use  WebView 2 `CoreWebView2Settings.IsPasswordAutosaveEnabled` to open this option. But after clicking Never, I can't open this setting again.

[2022-11-29 09:45] mukeshmishra996 commented on #2967
@ElyssaJyu then how same code is working on main window? Main window also developed using .NET framework.

[2022-11-29 10:04] ElyssaJyu commented on #2967
Do you mean that you would like to maintain all codes, but only change Project property to migrate .NET Framework to .NET Core?
On my understanding, you might change the code if not available in .NET but working on main window in .NET Framework.
I thought migrating a WPF app from .NET Framework to .NET Core means a migration of the whole project (includes main window and popup window). You need to

[2022-11-29 10:36] crushonme commented on #2823
Hi @plantree Do we have update about this issue?

[2022-11-29 12:39] ShaunLoganOracle opened #3008 "COMException 0x8007139F in Microsoft.Web.WebView2.WinForms.WebView2.<InitCoreWebView2Async>d__13.MoveNext"
**Description**
We have some customers that are encountering this exception when our code is creating a WebView2 control hosted in a Winform. The UserDataFolder used is specific to the user and not shared by other apps. We use the same CoreWebView2Environment properties when calling EnsureCoreWebView2() for subsequent WV2 controls we create. We are unable to reproduce the issue in-house.
[code]

*

[2022-11-29 17:32] david-risney commented on #2948
What version of the WinAppSDK or WebView2 SDK are you using? Are you using the WinRT WebView2 API or the .NET WebView2 API? Do non-async methods work OK for you?

[2022-11-29 17:38] david-risney commented on #2991
AddScriptToExecuteOnDocumentCreatedAsync is an async method that you need to await. If its called in disableFunctions then is disableFunctions an async method too? If so, you need to await it before calling InitializeWebView2Async. If right now disableFunctions is an async method but you don't await it then the AddScriptToExecuteOnDocumentCreatedAsync call isn't finished before you navigate the we

[2022-11-29 19:22] RachidiL commented on #2948
I am using the version 1.0.1343.22 of the WebView2 SDK.
It is the .NET WebView2 API.
And yes non-async methods are working fine.
For example:
public string TestMethod(){....} works fine

[2022-11-29 19:26] ShaunLoganOracle commented on #3008
Additional Info: We have one customer that reports getting this exception when they:
1. **Using the Google Chrome browser** Click on a web page link that downloads an XLSX file
2. Open the XLSX file as part of the download operation
3. When Excel opens the file, our add-in is notified and we put up the Winform with the WebView2 control and get the exception: COMException 0x8007139F in Microsoft.We

[2022-11-29 19:51] david-risney commented on #2948
Ok, and a non-async method with one parameter also working OK for you?

There was a feature to have .NET async methods working but it had to be backed out after it broke something. I'm not sure of its current status. Let me find out.

[2022-11-29 21:32] vbryh-msft commented on #2491
Hi @ibebbs  - thank you for providing the repro repo. I have checked it - it should work if you will remove `alert` from the script and put `console.log` instead. Could you please try that? Do you really need to have alert in script or it was just for demo purpose? As mentioned before in general flow with adding script for new window should work unless you have some corner case also - then we woul

[2022-11-29 21:54] Rezakarimi66 commented on #1408
Any update on this?

[2022-11-29 23:02] david-risney commented on #2948
It looks like the feature was reenabled in SDKs after 1.0.1280.0 and WebView2 Runtime after 104.0.1280.0. I assume you are using a Runtime that is more recent than 104.0.1280.0. I've marked this as a tracked bug so we can have someone look into this. Thanks.

[2022-11-30 02:07] ElyssaJyu commented on #2870
Hi @victorthoang, since no response for a long while, is there any other issue?

[2022-11-30 02:51] acrankyturtle commented on #2290
I have this problem using .NET 7 MAUI Blazor and the above workarounds did not resolve my issue. This, however, works for me. This is `MainPage.xaml.cs`.

[code]

[2022-11-30 04:22] JohnDizzle opened #3009 "Why are you keeping all my history"
I would think that utilizing your webview2 and forging an app that will track or delete history either in IndexedDb or through a simple Navigation handler capturing of the history from the webview2 that it an understanding that all is kept or lost after an instance is garbage collected.    Although MS has been keeping all my traffic / history / search / visits in a sqllite format db in my localsta

[2022-11-30 05:34] Brosinski commented on #2290
This would only update the select position when moving the screen, resizing the screen would still cause an error. Please refer to my solution above

[2022-11-30 09:31] b-maslennikov commented on #2341
Any progress on this?

[2022-11-30 09:36] HO-COOH commented on #2788
Can you please gives an general steps to make this work? I looked through the webview2 samples and there are no samples about getting WinUI3 with webview2 works. Is this even possible now? I have an urgent need to determine the techonology to use in one of our project.

[2022-11-30 09:47] dude202 commented on #2234
Is there any follow-up on this topic, why this is happening and why only on some machines?

[2022-11-30 09:48] Desz5 commented on #1938
The same issue happens when navigating to a PDF file and using PrintAsync. It results in a blank page.
It would be great if we can get a fix on this.

[2022-11-30 09:53] Desz5 commented on #3007
I see it's the same problem with this: https://github.com/MicrosoftEdge/WebView2Feedback/issues/1938

[2022-11-30 14:33] rruprai1 commented on #1907
@tochukwuIbeEkeocha  Is there any updated documentation you can point to that will outline what is/isn't allowed with webview2 when used in a credential provider?

[2022-11-30 16:32] RendijsSmukulis commented on #2491
@vbryh-msft I've just tried @ibebbs repro with alerts replaced with `console.log`s, with the same outcome 🤔

[2022-11-30 16:39] vbryh-msft commented on #2491
@RendijsSmukulis could you please check this comment https://github.com/MicrosoftEdge/WebView2Feedback/issues/2491#issuecomment-1211604701 - it summarizes the issue, thanks.

[2022-11-30 16:54] yildirimcagri commented on #2513
Ohh great, I must have missed that reference. :) To prevent any breaking changes, I think we will retain the behavior here, so we will add this workaround to our guidance with regarding the streams passed to WebView2 that need to be disposed. Closing this issue for now, please let me know if you need a different resolution here.

[2022-11-30 16:54] #2513 closed

[2022-11-30 16:55] vbryh-msft commented on #2341
@b-maslennikov webresourcerequested events for iframes are available as part of new API in prerelease. [AddWebResourceRequestedFilter(String, CoreWebView2WebResourceContext, CoreWebView2WebResourceRequestSourceKinds)](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.addwebresourcerequestedfilter?view=webview2-dotnet-1.0.1466-prerelease#microsoft-web-webview2-co

[2022-11-30 17:01] yildirimcagri commented on #1825
Hi @bpassaro95 , that error would mean the custom scheme was not registered properly. Is the sample code you shared above how you are registering the custom scheme and trying to access it? One issue I can see there, is that URL for the resource you are accessing is `mycustomscheme://myapp/resources/script.js`, which means your custom scheme has an authority component (myapp). Therefore, you would

[2022-11-30 17:16] nishitha-burman commented on #2998
Thank you for the feedback, we have added this to our backlog!

[2022-11-30 17:18] nishitha-burman commented on #3004
Thank you for the feedback, we have added this request to our backlog!

[2022-11-30 17:19] nishitha-burman commented on #3005
Thank you for the feedback, we have added this to our backlog!

[2022-11-30 17:35] #2950 closed

[2022-11-30 17:37] david-risney commented on #3009
When you create a `CoreWebView2Environment` you specify (or leave null and get the default) the user data folder path which is where WebView2 will store state on the disk. WebView2 matches the Edge browser and other chromium-based browsers in this behavior and what is stored in the user data folder. If you have a WebView2 and the end user logs in to a website that stores the user's authentication

[2022-11-30 18:21] vbryh-msft commented on #2491
@RendijsSmukulis @ibebbs also to reiterate - this is correct order of calls, which should work, do not set NewWindow after adding the script:
[code]

[2022-11-30 19:01] peiche-jessica commented on #2994
Hi @johnnylq, thank you for your inquiry. Currently, we do not have samples that uses the Fixed Version Runtime distribution mode. You can find more information about the Fixed Runtime distribution mode in [Details about the Fixed Version runtime distribution mode - Distribute your app and the WebView2 Runtime - Microsoft Edge Development | Microsoft Learn](https://learn.microsoft.com/microsoft-ed

[2022-11-30 19:01] #2994 closed

[2022-11-30 21:23] JohnDizzle commented on #3009
I understand all well on how everything works.  You are referring to the cache, and the cookies which is understandable.  I am referring multiple files that are database files that are stored in the ebview/default directory.    History is one of those files in the default directory which stores all your navigation history and searches.   I also understand chromium dev tools that MS has forked to m

[2022-11-30 21:30] ShaunLoganOracle commented on #3008
@yunate
In case it helps, here is a _slightly_ different exception stack from a different customer:
[code]