[2022-09-18 00:17] TcNobo commented on #2805
I'm having very similar issues with dragging items using [SortableJS](https://github.com/SortableJS/Sortable). Drag events do nothing, but I can "drag" the image -- A full click starts a drag, and a full click stops the drag. The preview image of the drag only appears if I tab in and out of the program.

Using Windows API `SendMessage` to drag the window also results in very odd issues - but that'

[2022-09-18 02:48] zattu1 opened #2809 "Ability to dynamically change Proxy"
Is there a way to change the browser proxy dynamically without restarting webview2Core?
If not, please create a method.

[2022-09-18 06:49] darbid commented on #1005
Just throwing my thumbs up support for this. I'd like to be able to send office files. In a chrome extension with native code support I turned the files in base64 and sent them as text, but it would be nice to be able to not need to do that with webview2.

[2022-09-18 06:59] darbid commented on #2143
Maybe #2796 would help with different scroll bars.

[2022-09-18 07:03] darbid commented on #2613
Thank you once again for helping me understand and taking the time.

[2022-09-18 07:04] #2613 closed

[2022-09-18 07:07] nirbil commented on #2596
I'm using the latest version (107.0.1379.1) and am not saying any changes. Upon download completion the ResultFilePath still points to the temporary app folder.

[2022-09-18 14:11] gh615 opened #2810 "Opening link in the same window from NewWindowRequested causes System.InvalidOperationException"
**Description**
Opening link in the same window from NewWindowRequested causes following error.
System.InvalidOperationException: 'CoreWebView2 members cannot be accessed after the WebView2 control is disposed.'

NewWindowRequested handling is like this.
`webView2.CoreWebView2.NewWindowRequested += (s, e) => e.NewWindow = (CoreWebView2)s!;`

Full message: (Sorry in Japanese.)
[code]

**Version**
S

[2022-09-18 16:51] Worldwidebrine commented on #2804
No [that](https://github.com/MicrosoftEdge/WebView2Feedback/issues/2804#issuecomment-1249572696)'s the workaround.
[This](https://github.com/MicrosoftEdge/WebView2Feedback/issues/2804#issuecomment-1249478318) is the same issue with minimized reproduce

[2022-09-18 20:58] darbid commented on #1412
@liwuqingxin quick question about your blog post, where is your little loading animation located? Is it simply behind the webview2?

[2022-09-19 05:21] DexterWoo commented on #2760
set **e.Handled = true** to dismiss the new window request, and then call **Launcher.LaunchUriAsync(newUri(e.url));** to launch the uri with default application.

[2022-09-19 07:06] yildirimcagri commented on #2562
Hi @mikeduglas , could you give some repro steps? I can see from the WebView2 sample app that icons can be added to context custom menu items.

[2022-09-19 07:39] plantree commented on #2787
Hi @Vampire2008,

Following this doc [CoreWebView2.AddHostObjectToScript(String, Object) Method](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.addhostobjecttoscript?view=webview2-dotnet-1.0.1293.44#microsoft-web-webview2-core-corewebview2-addhostobjecttoscript(system-string-system-object)), we know that

The example you showed using the `return Task`, it wil

[2022-09-19 08:18] huchengv5 commented on #2782
After many attempts, in the win7 virtual machine, as long as my Window is transparent, the webview2 will not be displayed。
But I'm not sure there is no such problem in the physical machine。

[2022-09-19 09:54] cyberdarius commented on #2775
Please Fix ASAP.
It broke all our webview2 applications

[2022-09-19 11:01] ppchavan001 commented on #349
EnsureCoreWebView2Async didnt help in my case.
The only thing that worked was to uninstall and reinstall webview2 runtime from apps & features.

[2022-09-19 12:17] tylersouthard commented on #2511
@krschau Here is a minimal repro.

It appears the minimal change to make it work for this repro is to change the `static Main` entry point from the `Task`-based version to the synchronous (`void` returning) version. If that change is made in the attached repro, the web view works. Apparently there is something wrong with using the `Task`-based `Main` when using `WebView2`.

[WebView2Test.zip](http

[2022-09-19 12:48] Dennie-van-Dijk opened #2811 "UWP Touch keyboard not working in Webview 2 after Task.delay"
**Description**
If task.delay is used before creating a WebView2 component the touch keyboard will not be displayed.

**Version**
SDK: 1.0.1369-prerelease and 1.0.1343.22
Runtime: Release 105.0.1343.42
Framework: UWP C#
OS: Win11 21H2 22000.194 and Win10 21H2 19044.1889

**Repro Steps**
Create a UWP project with WebView2

Add to the MainPage class the following code:

[code]

The touch keyboard is

[2022-09-19 12:54] darbid commented on #2180
@champnic  I have now got this problem where neither StateChange nor EstimatedEndTime happens. Unfortunately I am using an intRAnet page so I cannot give you an example, I will post more if I can but there are 3 things which might (am not sure) be relevant.

1. I think it happens where the file is very small.
2. I also think it happens when the Operation does not have a value for TotalBytesToRecei

[2022-09-19 12:57] mikeduglas commented on #2562
@yildirimcagri , sorry my bad. I disposed the stream just after menu item creation:

[code]

[2022-09-19 13:58] darbid commented on #2180
Another thing I am noticing is that the Download Operation properties TotalBytesToReceive and BytesReceived can have the same value when reading them in the DownloadStarting event but it will have an InProgress state.  ie. It instantly has received all the bytes, but shows an incorrect state and does not fire any events.

[2022-09-19 16:17] yildirimcagri commented on #1825
Hi @baseline808 , thanks for the report! We'll look into why custom scheme registration is not working for POST requests.

[2022-09-19 16:28] monica-ch commented on #2800
@akiratfli Looks like this a bug in WebView2. We'll investigate and update the thread when we have a fix. Thanks for the bug report.

[2022-09-19 17:07] Eilon commented on #2775
@champnic / WebView2 owners - can we please prioritize this because I think this is breaking many existing Blazor Hybrid scenarios when they update their package. Adding parameters to a method (even optional parameters) is a binary breaking change.

[2022-09-19 17:59] monica-ch commented on #2786
@nznk Can you test the same using Edge canary channel 107.0.1390.0+ and see it repros. Instructions on specifying a preview channel  https://learn.microsoft.com/en-us/microsoft-edge/webview2/how-to/set-preview-channel.

[2022-09-19 18:14] champnic commented on #2784
Hey @BachynskyiBohdan - If this issue reproduces on Chrome and Edge browsers and is not specific to WebView2, our team won't be the ones fixing this. Please file a bug on Chromium (https://crbug.com) or Edge using "Send Feedback" tool (shift + alt + i). Thanks!

[2022-09-19 18:39] LiangTheDev commented on #2782
VM and physical machine should be the same. What do you mean by "webview2 will not be displayed"? Everything seems to be working, just that we cannot see the content in the WebView? If this is the case, is it expected that we cannot see any transparent content?
Anyway, if the same code works on Windows 10, but not on Windows 7, then it could be a limitation of the OS.

[2022-09-19 18:59] champnic commented on #2804
Thanks for the info. We'll dig into this. It seems there may have been a binary incompatibility introduced with a new optional param in the function.

[2022-09-19 19:00] champnic commented on #2775
We'll dig into this. I've added this bug on our backlog. May be related/similar to #2804 (though for a different function).

[2022-09-19 20:29] raroraca commented on #136
Hi @david-risney,
Thank you for verifying. The above code seems to be running in the example webview sample from Microsoft in only case of Inject Script. If we use the above snip in the InjectScript function from webview2 sample and ExecuteScript, it works well.
But when we try to ExecuteScript in any callback completion eg NavigationCompleted or DOMContentLoaded, it does not works and hits a brea

[2022-09-20 01:39] huchengv5 commented on #2782
yes，you are right !
The same code runs normally on win10 ，but not on Windows 7！

[2022-09-20 02:13] yunate commented on #2567
The browser process and render process has run, but from the spy++ cannot find the window handle, it is so strange, could you search the window with class `Chrome_WidgetWin_1` to see if the windows exit.
![image](https://user-images.githubusercontent.com/37793342/191152146-38218abc-2ef7-44cd-9718-7a3f73efd7c2.png)

[2022-09-20 07:13] tiagoabreu commented on #2794
I add here the collected logs. They are quite long, since it goes back to the first installations.
[MicrosoftEdgeUpdate.log](https://github.com/MicrosoftEdge/WebView2Feedback/files/9604972/MicrosoftEdgeUpdate.log)
[MicrosoftEdgeUpdate.bak.log](https://github.com/MicrosoftEdge/WebView2Feedback/files/9604980/MicrosoftEdgeUpdate.bak.log)

[2022-09-20 10:54] darbid commented on #2180
@champnic I have now made a test app. [TestApp Link](https://github.com/darbid/WebView2DownloadStartingTest)

Unfortunately I cannot get the test website to do exactly the same as reported here. Where the download takes place in a new window I do not get the DownloadStarting event at all. I assume I have a timing/code error.

In my Test App I link to a page where you choose to have an attachment a

[2022-09-20 11:09] darbid commented on #2180
@HarriVa Based on my test can you try this in your code. Add in a `await Task.Delay(500);` before you add a url to Source.

[code]

[2022-09-20 11:33] nagisetty1 commented on #286
@champnic, can you please give ETA, by when we can expect this change?
if there is no plan at your side to fix this issue, please let us know so that we will switch to other control.

[2022-09-20 11:46] Evilpaule commented on #286
Please read all of the issue and its past. Its been more than 10 years now. Here you can give yourself an answer.

[2022-09-20 15:11] koenvd commented on #2525
Happens as well in a WinUI3.0 desktop app with WinAppSDK 1.4. Would be awesome to see this working!

Is there any update available yet @vickiez @champnic ?

[2022-09-20 16:11] szanto90balazs opened #2812 "Extend GetFaviconAsync to support custom output dimensions"
**Is your feature request related to a problem? Please describe.**

The [favicon API](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.faviconuri) sometimes returns an URL pointing to an SVG (GitHub is a great example). Calling `CoreWebView2.GetFaviconAsync(CoreWebView2FaviconImageFormat.Png)` does the job and produces a valid PNG, but the PNG's dimensions are

[2022-09-20 16:34] #2752 closed

[2022-09-20 16:35] david-risney commented on #2738
It should be queued.

[2022-09-20 16:43] vbryh-msft commented on #2808
1. _correlation to my Frame object_ - there is [get_Name](https://learn.microsoft.com/en-us/microsoft-edge/webview2/reference/win32/icorewebview2frame?view=webview2-1.0.1343.22#get_name) method  - could you check if it is helpful for connecting the dots to real iframes? Also currently we are supporting frame objects for first level iframes only.
2. _Navigation events_ - `FrameNavigationStarting` a

[2022-09-20 17:07] david-risney commented on #2668
There's code that tries to detect reentrancy and give this message

And then do a debug break (probably why you only see this when debugging).

But this really shouldn't be reentrancy. You awaited the call to ExecuteScriptAsync so it doesn't seem like anything from WebView2 should be trying to run during the form's message loop.

[2022-09-20 17:43] champnic commented on #2525
This bug will be fixed by work we are doing refactoring how we handle some of our windowing. That work is in progress.

[2022-09-20 20:15] champnic commented on #286
@nagisetty1 We do plan to fix this, but I would guess within the next 6 months. Understood if that doesn't work for your timeline. As @Evilpaule mentioned this has been a longstanding issue.

[2022-09-20 20:23] champnic commented on #2596
We'll take another look, thanks for checking.

[2022-09-20 20:28] champnic commented on #1727
Hey @frankdekker - We are tracking the API support for controlling the find experience in #1737. We're still actively looking into this bug, but haven't been able to root cause the issue yet.

[2022-09-20 22:39] nishitha-burman commented on #2812
Thanks for the feedback, we've added this to our backlog!

[2022-09-20 22:42] nishitha-burman commented on #2809
Hi @zattu1,

Can you please provide more details about the scenarios you are trying to address?

Thank you

[2022-09-20 23:51] nagisetty1 commented on #286
Thank you very much for response. This gives me to plan my task.

On Wed, 21 Sep 2022 at 1:46 AM, Nic Champagne Williamson [MSFT] <
***@***.***> wrote:

--
Thanks & Regards
Nagi Setty.A
Phone: +91 9849226425

[2022-09-21 02:54] nickwitteman opened #2813 "1 pixel line added to right-hand side of window affecting window.innerWidth"
**Description**
There appears to be the introduction of a 1px line to the right of the scrollbar in the last release of Edge.
This 1px line is affecting the window.innerWidth value.
Something that used to be reported as 1920 now reports as 1919.
This has an impact on sites using a responsive framework where the breakpoint sizes are set at standard sizes, including 1920.
Edge is now reporting a pre

[2022-09-21 04:45] zbjxb commented on #2803
I has this breakdown.   Js : await hostObjects.comObject.OpenFileDialog/BrowserFolderDialog/ ...and so on.

[2022-09-21 04:46] zbjxb commented on #2803
I had this crash. Js : await hostObjects.comObject.OpenFileDialog/BrowserFolderDialog/ ...and so on.

[2022-09-21 06:35] haQathon20 opened #2814 "Can we use MSEdge policies in WebView2"
I want to disable print, save and download options in WebView2 by using group policies.

Can we use MSEdge policies such as PrintingEnabled, AllowFileSelectionDialogs, and DownloadRestrictions in WebView2 to achieve the same.

[2022-09-21 09:08] szanto90balazs commented on #2812
I could also imagine having an API returning a list of favicons (e.g. `CoreWebView2.FaviconUriList`) with some metadata (dimension, kind, ...). Most of the websites offers SVG and PNG favicons at the same time.

[2022-09-21 10:37] rob-bateman commented on #1994
Hey @champnic! would it be possible to get an update on webview2 progress? Do you have any more info on timescales and how this will be implemented? e.g. will it be through UWP or will it be possible to create webview2 projects with GDKX? thx

[2022-09-21 15:27] Aaron-Junker opened #2815 "WebView2 flickers when resizing"
**Description**
At [Microsoft PowerToys](https://github.com/microsoft/PowerToys) we use for developer file preview a webview inside the preview pane of explorer.

An event checks when the preview window is reaized it also resizes the webview2 element.

https://github.com/microsoft/PowerToys/blob/main/src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandlerControl.cs#L246-L251

For more in

[2022-09-21 19:50] mnasers commented on #2030
We just released our UWP Webview2 app to the store and we are now experiencing the same issue. This is very bad experience and communications.

[2022-09-21 19:55] sgacond commented on #2567
It finds a window when looking for the specific class:
![image](https://user-images.githubusercontent.com/9912606/191597976-2109f0db-bbd3-4dc1-92e6-659b45ecff76.png)
When i use the "Finder-Tool" - a sub window of it is found:
![image](https://user-images.githubusercontent.com/9912606/191598220-9f6adecf-3af3-4180-9354-cda9ea73f43d.png)

[2022-09-21 22:02] Eilon commented on #2290
Thanks to Mike from the Windows App SDK team, we came up with a workaround for anyone running into this issue. The same type of workaround should work in a Windows App SDK (WinUI3) app, and also in a .NET MAUI app running on Windows.

The workaround is to cause the WebView2 to "update" itself when the app's window moves, which will cause any open dropdowns to close themselves (which is normal beha

[2022-09-21 22:50] champnic commented on #2030
@mnasers Can you add some detail on what issue you are hitting? Is your app trying to deploy the WebView2 runtime itself?

[2022-09-21 22:52] champnic commented on #1994
Hey @rob-bateman - We're probably looking at some sort of preview around the end of this year, and then a full GA release sometime in 2023. It will mostly be through UWP apps, though we are also investigating support in Unity apps.

[2022-09-21 23:26] mnasers commented on #2030
@champnic No we are not trying to deploy the WebView2 runtime. AFAIK, this is not possible for UWP apps that use MSIX. When certain Windows10 users attempt to launch our app after updating, they are presented the following screen instructing them that the WebView2 runtime needs to be installed along with a link.

![WebView2Runtime](https://user-images.githubusercontent.com/8701032/191626746-f5e42b

[2022-09-22 01:01] zattu1 commented on #2809
Hi @nishitha-burman,
Currently, there is no other way to specify the proxy at the command line when the browser is started.
I would like to have a function or mechanism that allows me to change the proxy at any time while the browser is running.

[2022-09-22 05:30] DrNoLife commented on #2290
Just tried the proposed workaround for the .NET MAUI app, Eilon. But it didn't work.

Gave the webview a name, and copy pasted the rest of the code over into ```MainPage.xaml.cs```, however it changed nothing. The bug still persists, at least for MAUI apps.

[Gif of the bug still persisting](https://i.imgur.com/MYAhhwH.gif)

[2022-09-22 06:21] adamfierek opened #2816 "WebView2 slowing Windows 10 performance"
UPDATE: Nevermind, it seems to be not connected with WebView2

After launching an application with WebView2, the Windows UI becomes unresponsive and slows down. For example, desktop icon highlights don't work. The effect persists even after closing the application. The only solution is to reboot the system. There are no anomalies in the task manager or event viewer.

**Version**
SDK: 1.0.1343.22 (

[2022-09-22 07:17] Brosinski commented on #2290
@DrNoLife I also tried the code and it didn't work.

I did find a semi-reliable way to correct the behaviour in .NET MAUI Blazor by adapting the code a little.

**When I say semi-reliable, I'm talking like 30-40% of the time. Better than broken **

[code]
I'm not too sure if `UpdateLayout()` will cause any unknown issues.

There is a mention in the docs of it causing performance issues if overused

[2022-09-22 07:19] ispysoftware commented on #2290
Seems to work ok in WinUI3

[2022-09-22 08:30] DearVa commented on #1925
Is there any progress? I'm countering the same problem here.

[2022-09-22 10:34] #2816 closed

[2022-09-22 10:40] efsfssf commented on #1136
I am having the same issue here

[2022-09-22 11:05] darbid commented on #1136
@efsfssf and @jpgarza93 there are a number of people here who are not complaining of this problem and are using WPF tab controls.  see for example #1412 which has a few people on it including @RickStrahl and @liwuqingxin @Symbai they all do not seem to have this issue.

For me the fix is not to let the TabControl tear down the non-showing tab which you can do yourself or just use ControlzEx.

I am

[2022-09-22 12:14] rob-bateman commented on #1994
@champnic thx! So does that mean no interoperability with GDKX games? I'm specifically looking to build a webview2-based game for Game Pass

[2022-09-22 14:22] jpgarza93 commented on #1136
Not sure why you might be insinuating my question as a complaint. Nevertheless, your suggestions are good, I am using one of them. But this still does not resolve the issue.

[2022-09-22 14:36] baseline808 commented on #1825
Thanks!

[2022-09-22 14:41] nishitha-burman commented on #2813
Hi @nickwitteman thank you for the feedback. If this is an Edge issue you can leave feedback through the "Help and Send feedback" button in the menu on the right.

[2022-09-22 15:58] #2814 closed

[2022-09-22 16:14] darbid commented on #1136
sorry sorry, not at all. My main goal was actually to see if this only happened to us here because of the method of adding to a tabcontrol. How do you add your Webview2?

[2022-09-22 19:41] jpgarza93 commented on #1136
I see :) Here is how I use it:

BrowserView.xaml
[code]
BrowserView.xaml.cs
[code]
BrowserViewModel.cs
[code]

[2022-09-22 20:40] VelkyVezir opened #2817 "Are there any logs available from WPF WebView2?"
I have an issue with WPF WebView2.EnsureCoreWebView2Async() not finishing in certain cases. It doesn't come back until the application is closing, in which case it crashes. When this issue happens, only one renderer process is started instead of the usual 3.

Are there any logs where we can see what could be causing this? I am initializing the control with fresh CoreWebView2Environment and it has

[2022-09-22 21:42] yildirimcagri commented on #2656
Hi again, this has been fixed and the fix is currently available in the Edge Canary runtime. Thanks for reporting this!

[2022-09-22 21:42] #2656 closed

[2022-09-22 21:47] yildirimcagri commented on #2810
Hi, this is a known issue that has been recently fixed. The fix is available in the latest Canary build.

#2656

[2022-09-22 21:47] #2810 closed

[2022-09-22 22:52] yildirimcagri commented on #2797
Hi @TranquilleXav , For the file picker used for downloads you can use [CoreWebView2Profile.DefaultDownloadFolderPath](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2profile.defaultdownloadfolderpath?view=webview2-dotnet-1.0.1343.22) property to specify the default download directory (also being the directory the file picker for download will open in when user

[2022-09-22 22:55] yildirimcagri commented on #2757
Assuming the question is answered, closing this issue for now. Feel free to reopen if you have any more questions.

[2022-09-22 22:55] #2757 closed

[2022-09-22 22:55] #2759 closed

[2022-09-22 22:58] yildirimcagri commented on #2679
Closing this for now, feel free to reopen if you have more questions about this.

[2022-09-22 22:58] #2679 closed

[2022-09-22 23:03] yildirimcagri commented on #2585
Hi @Nuliax7 , is this something that still reproes for you? When WebView2 navigates to content it cannot display, the expected behavior is that it downloads that file like Edge does. That is the behavior I am seeing (I've verified with a .psd file via file URL as well). If you are still running into this issue, could you provide a crash dump of the crashing processes (app, browser)?

[2022-09-22 23:04] champnic commented on #1994
I'm not sure specifically, let me check with the Xbox folks :)

[2022-09-22 23:05] yildirimcagri commented on #2789
Thanks, I've added this to our backlog. We want to get all streams working with WebResourceRequested eventually.

[2022-09-22 23:05] nishitha-burman commented on #2732
Hi @WilliamQue,

We have support for WebView2 to work with Selenium WebDriver: https://learn.microsoft.com/en-us/microsoft-edge/webview2/how-to/webdriver. Is this what you are looking for?

[2022-09-22 23:13] yildirimcagri commented on #2562
Hi @mikeduglas , we are evaluating improving our design for APIs that consume .NET streams to fix this issue. I will keep you updated. For now, I'd recommend disposing the iconStream when the  ContextMenuRequested event is fired again.

 #2513

[2022-09-22 23:52] champnic commented on #1994
Hey @rob-bateman - We heard back from the Xbox folks. We don't have plans to support WebView2 in GDKX. The GDK and Game OS are limited on purpose to maximize resource availability, but as such don't have support for XAML and web rendering technologies. They suggested looking at potential GDK licensed middleware solutions such as Gameface.

[2022-09-23 00:32] kenmckaba opened #2819 "CoreWebView2Environment.GetAvailableBrowserVersionString() will throw System.DllNotFoundException: Unable to load DLL 'WebView2Loader.dll' when attempting to load from a path with UNICODE characters."
When our app is running from a path with Japanese characters, e.g. お客様, CoreWebView2Environment.GetAvailableBrowserVersionString() throws:
System.DllNotFoundException: Unable to load DLL 'WebView2Loader.dll' or one of its dependencies: The specified module could not be found (0x8007007E)
   at Microsoft.Web.WebView2.Core.CoreWebView2Environment.LoadWebView2LoaderDll()
   at Microsoft.Web.WebView2.

[2022-09-23 03:03] Syul968 commented on #1882
The root cause of this issue was fixed in the WebView2 Runtime back in February/March. Closing incident.

[2022-09-23 03:03] #1882 closed

[2022-09-23 03:06] Syul968 commented on #2717
Duplicate of #136

[2022-09-23 03:06] #2717 closed

[2022-09-23 05:07] bommas12 commented on #2457
We are facing the same issue. We are trying to load a com addin in Excel which is causing the issue.

Although I tried to clear cache from
%LOCALAPPDATA%/Microsoft/Office/16.0/Wef

We observed the webview2 not being deleted when the cache is cleared(probably due to the webview2 instance running). Closing all the office applications and clearing cache deleted the webview2 folder.

[2022-09-23 06:02] gh615 commented on #2810
I got it. Thank you for your reply and sorry for reporting known issue.

[2022-09-23 09:01] TranquilleXav commented on #2797
Hello @yildirimcagri

i already use this parameter:
WebBrowser.CoreWebView2.Profile.DefaultDownloadFolderPath = WebBrowserCoreWebView2.Profile.ProfilePath & "\download"
but it's not that i want, the folder is not "memorized"... and it is bound to the current user.
I want to use a generic folder, whatever the user, because this folder is fed elsewhere for everyone...

ok thank for adding this reque

[2022-09-23 12:24] gkralik commented on #2817
Have you tried adding the `--enable-logging=stderr --v=1` command line flags?

See https://www.chromium.org/for-testers/enable-logging/.

[2022-09-23 12:48] henrygo2208 opened #2820 "System.DllNotFoundException at Microsoft.Web.WebView2.Core.CoreWebView2Environment.CreateCoreWebView2EnvironmentWithOptions"
i've developed a **excel vsto**. After deploying to some client computer i meet this problem. the webview2 runtime is latest version **105.0.1343.42** and the office version is **2016 pro plus** and the os is **win11**. the stack trace is as follow :
`Application: EXCEL.EXE Framework Version: v4.0.30319 Description: The process was terminated due to an unhandled exception. Exception Info: System.D

[2022-09-23 13:02] stevealex1 opened #2821 "Is it possible to make registry path of msedgewebview2.exe configurable?"
I want to configure WebView2 group policies from a custom path.

Is it possible to make registry path of msedgewebview2.exe configurable?
ie. If I set the value of "BrowserExecutableFolder" in the path SOFTWARE\Policies\Microsoft\MyApplication, can WebView2 pick up the value from this path?

[2022-09-23 14:39] Fab06460 commented on #746
Hi, I would be also interessed in a fix for this issue: beforeunload event handler is never called when a webview2 window is closed by the user (WPF).
Thanks !

[2022-09-23 14:47] VelkyVezir commented on #2817
Thanks, @gkralik.

[2022-09-23 14:47] #2817 closed

[2022-09-23 18:36] vickiez commented on #2821
Hi @stevealex1, WebView2 will only pick up overrides under SOFTWARE\Policies\Microsoft\Edge\WebView2. Is there some reason you want to change the path?

[2022-09-23 18:49] darbid commented on #1825
Hi @yildirimcagri

I just wanted to check, this new CustomSchemeRegistration will not avoid CSP, right?

I tried adding a scheme so that I could add my own js and css files to a script element like this

[code]

but I get in the console these 2 things.

[2022-09-23 20:28] LiangTheDev commented on #2794
It seems that you have x86 Edge browser installed. As Edge browser and WebView2 Runtime are managed by the same Edge Update. A bug there is causing the issue. We will try to fix the bug.

To workaround it, we need to cause Edge browser to switch to x64. The following steps seem to work:

1. Ensure that there is no msedgewebview2.exe process running, if needed, close apps using WebView2 like outloo

[2022-09-24 13:02] mungojam commented on #1595
If it is due to background 'tab' throttling, I really hope there is a switch to turn that off. I was hoping to move our LOB app from PWA to webview in order to avoid the throttling which currently impacts our users

[2022-09-24 15:26] Nuliax7 commented on #2585
@yildirimcagri
Hello. Checked it out. I don't have this problem anymore. The file is expected to be downloaded to the specified directory. Thanks.

[2022-09-24 15:26] #2585 closed

[2022-09-25 08:37] chinasmu opened #2822 "About runtime WebView2Loader.dll"
**Description**
I want to let my app looks clean so I moved all dlls needed to a filefolder named "System", here is the setting in App.config file:
`<probing privatePath="System"/>`
And then I moved WebView2Loader.dll,Microsoft.Web.WebView2.Core.dll,Microsoft.Web.WebView2.WinForms.dll,Microsoft.Web.WebView2.Wpf.dll
all to System filefolder, and it all works good.
But after version 1.0.1340-pre It

[2022-09-25 14:24] yowu opened #2823 "The registered host objects can't be reached sometimes."
**Description**
We are moving our CefSharp based application to WebView2.  It uses a html page as start page and allow user open their recent files from the system.  When user clicks a button "Open model" in the html page,  it calls an async function `openModel` of the registered host object to handle the action in native side.

We found a strange bug recently. Sometimes, the promises in JavaScrip

[2022-09-25 14:58] Sridevids commented on #1958
Hi @champnic,

Even I'm facing the same issue, i.e. if the dispose function is not called, then the cookies are saved. How will we know if the cookies are saved, is there is way we can check and then call dispose once cookies are saved. Could you please respond.

Thanks
Sridevi

[2022-09-25 21:42] cgeier commented on #2668
@TrendyTim: I believe that I also replicated the issue that you're describing. In my testing, this seems to be related to the usage of [Form.ShowDialog](https://learn.microsoft.com/en-us/dotnet/api/system.windows.forms.form.showdialog?view=windowsdesktop-6.0&viewFallbackFrom=net-6.0). The issue seems to occur as threads start to exit. However, the issue doesn't seem to occur if one uses [Form.Show

[2022-09-26 00:10] TrendyTim commented on #2668
@david-risney yeah that is what really confused me and the .ConfigureAwait  workaround seems like a low impact fix, thats why i thought if that could be done internally it could prevent this for other people (though i understand if its deemed too iffy  a fix to implement that way, ill just have to inherit webview2 and add it or make an extension method for safeExecScript).

I guess the awaiting of

[2022-09-26 00:20] TrendyTim commented on #2668
@cgeier

Yep that does see to be the same issue, and basically the same fix i suggested, i just put the configureAwait in a separate method, so i could cheat and keep the sync context while avoiding the crash. Yep also noticed that .Show didnt induce the behavior but its not exactly something that can be used as a workaround in most cases.

And interesting on RickStrahls post (funnily enough almos

[2022-09-26 00:49] incheon-kim opened #2824 "InvalidCastException when Environment.Exit()"
**Description**
When I call Environment.Exit() with some opened windows contain webview2 control, it throws InvalidCastException.

I tried implementing IDisposable, call Dispose() during Closing/Closed events or overrided OnClosed()/OnClosing().
None of them worked.

== Exception, Error Message, Call stack ==
System.InvalidCastException
Unable to cast COM object of type 'System.__ComObject' to int

[2022-09-26 01:46] SkyIsWhite commented on #2745
Has any update about this issue? @tofuandeve

[2022-09-26 05:15] stevealex1 commented on #2821
"[WebView2-specific policies](https://learn.microsoft.com/en-us/deployedge/microsoft-edge-webview-policies) are available for you to manage WebView2 directly. However, we recommend that WebView2 app developers implement their own group policies to manage the use of WebView2, because it's easier for administrators to manage the app instead of managing WebView2 directly."
https://learn.microsoft.com

[2022-09-26 06:30] yowu commented on #2823
More information found.

When the bug happens,  the call `embedded_browser::mojom::HostStubDispatch::Accept` is never been reached anymore.

[code]

[2022-09-26 07:02] victorthoang commented on #2653
@Srinivass0704 currently looking back on some issues. Do you still need assistance with this?

@imicy, I've reassigned this since it might be related to WPF. Originally assigned to @jamesoli for focus.

[2022-09-26 07:27] Brosinski commented on #2290
So I found a workaround that works 100% of the time with .NET MAUI Blazor

It is the same as @Eilon with the exception that it is targetting the actual window needed to trigger a change in the selects position
[code]
The change is not registered if you don't make an actual change to WidthRequest or HeightRequest, hence the increment.

Thank you @Eilon, saved my sanity

[2022-09-26 08:28] Rezakarimi66 commented on #173
@champnic @maurawinstanley Any update on this?

[2022-09-26 09:50] wintrue commented on #2562
yes,can`t dispose the stream, this is run!

[2022-09-26 10:07] heiberik opened #2825 "class="notranslate" on the html element no longer prevents translation in browser."
See title.

Should this be considered a bug or is it as expected?

Only a issue in v105.

[2022-09-26 11:58] Shirk opened #2826 "In-Page Drag & Drop via Javascript is not working for UWP Applications"
**Description**
As the title states, drag & drop events are not properly working in Javascript (and react) if the WebView2 is hosted inside a simple UWP/Xaml application.
 No errors are generated, none of the 'drag' events are properly registered inside the view so no reaction to them is possible.
The same test case used below works fine if the WebView2 component is instantiated in a non-UWP proje

[2022-09-26 13:11] jairbubbles commented on #2495
Hey all, I have a similar issue that happens when I update the WebView2 package in my application.

After reading this thread  I considered that it might a cache issue so I try to override the user data folder:
[code]

And it's working! I'll make more tests and add the results in this thread.

[2022-09-26 13:34] cremor opened #2827 "MissingMethodException with SDK version 1.0.1343.22 if UserDataFolder is set"
**Description**
After updating the WebView2 SDK in my application from 1.0.1293.44 to 1.0.1343.22 I can't open the window any more that contains the WebView2 control. The event `CoreWebView2InitializationCompleted` is raised with `IsSuccess` value of `false` and it contains the following exception in `InitializationException`:

[code]

**Version**
SDK: 1.0.1343.22
Runtime: Evergreen 105.0.1343.50

[2022-09-26 13:54] cgeier commented on #2668
@TrendyTim:
After reading [ConfigureAwait FAQ](https://devblogs.microsoft.com/dotnet/configureawait-faq/), I did some more testing, both of the following seem to work as well:

**.NET 6**:

**Works #2**:

[code]
**Works #3**:

[code]

See [ConfigureAwait FAQ](https://devblogs.microsoft.com/dotnet/configureawait-faq/) for more information.

[2022-09-26 14:27] LiamRiddell commented on #2236
Is there any updates regarding this issue or has it been abandoned?

[2022-09-26 16:12] WilliamQue opened #2828 "Visual studio installer projects and webview2"
I checked edge webview2 runtime as prerequisite of a setup project and then generated installation files, but when installation in a clean environment without runtime, nothing was promoted. Anything did I miss?

[2022-09-26 16:18] WilliamQue opened #2829 "Visual studio installer projects and webview runtime"
I checked edge webview2 runtime as prerequisite of a setup project and then generated installation files, but during installation in a clean environment without runtime, nothing was promoted. Anything did I miss?

[2022-09-26 18:40] vickiez commented on #2821
Are you able to accomplish this using WebView2 APIs? i.e. develop your own policy, read the value in the app, and use WebView2 APIs to ensure that the WebView behaves according to the policy

[2022-09-26 20:48] pgodha commented on #2819
@imicy We are constantly running this issue and our customers are not able to use webview features. Any immediate help would be great help. Thanks in advance

[2022-09-26 21:02] ml2238 commented on #1938
I agree with both @SharpKing and @KVolin. This is a very important feature, specially when the WV2 doesnt download the file but only gives an option to open the file as PDF.

[2022-09-27 00:32] champnic commented on #2236
It hasn't been abandoned, and is in the top third of our feature requests in terms of priority.

[2022-09-27 00:35] champnic commented on #1958
I've added this as a bug on our backlog to take a closer look at why the cookies aren't getting saved. Thanks!

[2022-09-27 02:47] #2828 closed

[2022-09-27 04:01] schikura opened #2830 "Disable Secure DNS (DNS over HTTPS) for WebView2 embedded browser"
By default, the WebView2 embedded browser is using **Secure DNS** for DNS query resolutions, which I do not want.

And, I am not able to find any configurable way to **disable the Secure DNS(DNS over HTTPS).**

Is there anyway this can be done programmatically using CoreWebView2 SDK?

[2022-09-27 06:49] LiamRiddell commented on #2236
@champnic thanks for the quick reply and the update.

[2022-09-27 07:11] plantree commented on #2690
Hi @q71114, it seems the `Drop` event works in your screenshots.
If you are available, please share your project which consist of `.sln`.

[2022-09-27 07:46] darbid commented on #1426
@champnic  I am hitting this problem now too. I felt the need to add what I have found out just in case it helps.

I am targeting an intRAnet site with a top level document and multiple frames.

1. Source has been set to https://mickey.mouse.com/two/ears.jsp
2. script added with AddScriptToExecuteOnDocumentCreatedAsync in WebView2InitializationCompleted
3. Navigation completes and dom content is r

[2022-09-27 07:55] yizhao5 commented on #2506
@datvm. Please check if it solves your problem. If so, please close it. Thanks for your cooperation.

[2022-09-27 07:57] #2506 closed

[2022-09-27 09:17] q71114 commented on #2690
Hey, the first `Drop` worked when the menu `Popup` was not open. Subsequent drops were unsuccessful while the `Popup` was open but it's hard to see in the screen capture as nothing is happening. You can notice that the drag cursor didn't change back to normal cursor because it got stuck in the dragging state even though the item was dropped.

You can find [the project here](https://github.com/q711

[2022-09-27 09:32] pareekvipul commented on #468
Hi @champnic  - We are also facing the same issue with the key down events  so can you please provide us the ETA for your fix release or prerelease.Thanks!

[2022-09-27 09:35] aquinn39 opened #2831 "Does WebView2 support 32 bit UWP apps?"
According to this article, WebView2 is not supported in 32 but UWP apps, only 64 bit: https://docs.microsoft.com/en-au/microsoft-edge/webview2/how-to/publish-uwp-app-store.

However, when testing, WebView2 seems to work fine in 32 bit UWP apps (tested on a 32 bit version of Windows). An example of this is the WinUI 2 Gallery - the WebView2 control there works fine on 32 bit Windows. So my question

[2022-09-27 17:33] champnic commented on #468
It's still in code review - I'm reaching out to the owners for updated status. Thanks!

[2022-09-27 17:40] champnic commented on #1426
@darbid  That sounds like it may be By Design. When setting the source, it is both implicitly initializing the page and navigating. By the time the script is being added in InitializationCompleted (async) the top-level page may already have navigated past the point of "DocumentCreated". The InitializationCompleted event is non-blocking - the page will continue to navigate even if stuff is happenin

[2022-09-27 18:37] victorthoang commented on #2831
@aquinn39 Thanks for your inquiry,

This seems to be like an article that we will need to provide more clarity on. We will check with our architects and see if we can better explain this behavior.

[2022-09-27 18:37] victorthoang commented on #2813
Closing ticket as it seems to be an edge problem, not particularly with webview2.

[2022-09-27 20:09] jmecosta opened #2832 "Locked UI - after async/await"
Hi,

Looked around but have not found any help, related with this https://github.com/MicrosoftEdge/WebView2Feedback/issues/75. And using
<img width="701" alt="image" src="https://user-images.githubusercontent.com/1041352/192624313-b8ea8cff-7d0a-431e-99bf-25ef652ba17f.png">

And
<img width="389" alt="image" src="https://user-images.githubusercontent.com/1041352/192624410-6c4d9e0b-c62e-41c4-be2b-447

[2022-09-27 20:52] jmecosta commented on #2832
Ive also converted from content to directly use weview in xaml because of this

[code]

Bu same result...

[2022-09-27 21:06] victorthoang commented on #2824
Hello @incheon-kim,

We will have these tasks triaged to the right developers to take a look at the issue soon.

Thanks!

[2022-09-27 21:08] victorthoang commented on #2823
Hello @yowu

We will have this issue triaged to the right developer to take a look at the issue soon.

Thanks!

[2022-09-27 21:10] victorthoang commented on #2825
Hello @heiberik,

I was just wondering if this is specifically a WebView2 issue and not an Edge issue?

could you please provide some more information about your inquiry? E.g. Operating System, Framework (WinUI, Win32, WinForms, UWP, WPF, etc), the SDK/Runtime being used for webview2.

I see you mentioned 105, but possibly Edge?

Thanks,
Victor

[2022-09-27 21:42] champnic commented on #2030
@mnasers Using the link to download unfortunately defaulted to downloading the per-user version (if it wasn't run elevated). We had a bug that the UWP apps didn't have permissions to access the per-user install, but that should have been fixed about a month ago. If you still have it available, can you see what version of the per-user runtime was installed? If the per-machine/elevated runtime was i

[2022-09-27 21:45] champnic commented on #2273
This is fixed in runtime versions 107.0.1389.0+, and we are working on backporting to 106 versions. Thanks!

[2022-09-27 21:46] champnic commented on #2656
The fix is in runtimes version 107.0.1393.0+. Thanks!

[2022-09-27 21:48] champnic commented on #2753
The original issue should be resolved in runtimes version 107.0.1383.0+.

@darbid Can you open the additional bug as a new GH issue? Thanks!

[2022-09-27 21:48] #2753 closed

[2022-09-27 22:07] aluhrs13 commented on #961
I'm going to close this - It isn't going to reach a high enough priority. The recommended approach for this scenario would be to index your sourcemaps into Azure DevOps, and configure Edge/WV2 to download them from there; https://learn.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium/javascript/publish-source-maps-to-azure

[2022-09-27 23:28] victorthoang commented on #2826
Hello @Shirk,

We will discuss internally and get back to you!

[2022-09-27 23:46] LiangTheDev commented on #2822
I believe that this is due to a behavior change in WebView2 SDK. For your scenario, you could use [CoreWebView2Environment.SetLoaderDllFolderPath](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2environment.setloaderdllfolderpath?view=webview2-dotnet-1.0.1343.22) to specify the path where we can find the WebView2Loader.dll.

[2022-09-27 23:57] sancarn commented on #321
@champnic Yes, `Web Browser Control` used in VBA software is `WebView1`, which is ofc why people are looking for `WebView2` to provide a replacement ActiveX interface.

I don't personally think this is a valid statement. ActiveX is indeed an old technology yet hundreds of systems and businesses still rely heavily on the technology. Many businesses still run internally on VBA/Python/Ruby and other

[2022-09-28 00:19] nishitha-burman commented on #2672
Hi @ynborokh and @IvanKarpan,

Can you describe why you would like the event to be fired even if it is set to denied?

Thank you,
NIshitha

[2022-09-28 00:30] nishitha-burman commented on #2427
Hi @q71114,

Can you describe the end user scenario where you would do this?

Thank you,
Nishitha

[2022-09-28 01:37] chinasmu commented on #2822
Yes,Sure.
I use SetLoaderDllFolderPath to specify the path, but there is still a problem.
My scenario:  In my app I will Dynamic create several webView2s according to the need. In general ,there will be 1-8 webView2s.
I Wrapper my webView2 like this:

[code]
So when I start my app, only one browserCache filefolder is generated. That meas only one webView2 is available！
I need to delete " CoreWebVi

[2022-09-28 05:51] liwuqingxin commented on #1412
It's not. The loading control contains the WebView2.

[code]

[2022-09-28 06:57] IvanKarpan commented on #2672
Hello @nishitha-burman!

When working with a browser the user has the option to manage permissions, so the initial denial of a permission is reversible.

WinUI 3 doesn't expose the profile object the WebView2 is working with... So in case the end-user denied a permission they basically have to completely remove the application's data to get another chance and allow it.

So I see two potential solu

[2022-09-28 08:59] BKSoftCraft commented on #2523
On Microsoft Edge Beta Version 106.0.1370.26 scale percentage is sticky but what about scale option (e.g Fit to printable area , Actual size, and customer percentage), Option always reset to Fit to printable area every time. Why ?

[2022-09-28 09:00] q71114 commented on #2427
Hi @nishitha-burman,

We offer option to clear all data for specific domains. When selected all user data will be cleared for those domains including any permissions previously allowed / rejected by the user.

[2022-09-28 15:15] tochukwuIbeEkeocha commented on #2279
Hello,
The tests have been run, and the jury says that Webview2 is supported on Windows Server 2022. There is an open PR for updating the Doc to reflect this.

[2022-09-28 16:21] darbid opened #2833 "List of downloads at edge://downloads/all does not update DownloadStarting is implemented"
**Version**
current

**Repro Steps**
I have also noticed another minor issue/bug.

1. view a pdf in the default pdf viewer
2. save the pdf using the save button
3. open edge://downloads/all
4. the pdf is shown in the download list

1a. implement DownloadStarting
2a. No need to make any changes to ResultFilePath, simple set e.Handled = true;
3a. now repeat the above steps 1-3
4a. the pdf is not sho

[2022-09-28 16:41] LiangTheDev commented on #2822
You should be able to call CoreWebView2Environment.SetLoaderDllFolderPath at the startup of the application. It is a static function that can be called at anytime.
As you stated, it is really a bug. We will try to fix it in the future.

[2022-09-28 17:00] victorthoang commented on #2830
hello @schikura,

Could you provide a brief explanation of what you are trying to accomplish by disabling Secure DNS?

By default, we don't have a way to programmatically disable this (mostly to keep our philosophy of having webview behave similary to Edge and lightweight).

[2022-09-28 18:14] Optimierungswerfer commented on #2571
Thank you for the clarification.

I also dug a little deeper and found some interesting things regarding the project properties that the WebView2 package adds (accessible only by editing a .props file by selecting _Properties_ from the context menu in the **Property Manager** - for some reason they do not show up when opening the _Properties_ on the project itself in the _Solution Explorer_).
![im

[2022-09-28 18:25] Optimierungswerfer commented on #2571
It would also be really helpful if the [Sample apps](https://learn.microsoft.com/en-us/microsoft-edge/webview2/code-samples-links) included an example for a desktop application using C++/WinRT, in addition to the existing .NET, WinUI/UWP and C++/Win32 samples, because the setup for this scenario is anything but trivial.

[2022-09-28 18:36] david-risney commented on #2571
Wow, yes that makes sense, thanks! I agree. I've marked this tracked to get internal bugs to add the following:
* We should add a sample showing how to have a win32 app using c++/winrt to access webview2 winrt APIs
* We should add documentation for our nuget package properties (similar to https://github.com/microsoft/cppwinrt/blob/master/nuget/readme.md#customizing)

[2022-09-28 20:35] victorthoang commented on #2826
@Shirk Hello,

After speaking with the team, I've determined that we already have a similar bug/issue in our backlog and is being worked. adding @jamesoli for any futher comments regarding webview2.

But currently we will need time to prioritize work and figure out when we can implement this with UWP.

[2022-09-28 20:38] Shirk commented on #2826
Looking forward to it.. you'd expect something as basic as DOM javascript events to work in a component that's replacing a deprecated IN WebView.

This issue is effectively blocking my company from moving our UWP apps away from the old IE WebView component.

[2022-09-28 22:46] DavidShoe commented on #2614
It is always general guidance to use the latest platform toolset unless you have some hard requirements to not do so.  Being on the latest platform will include bug fixes and additional features.

That being said we do try to avoid any regressions if a developer does have to use older platforms for some reason. We don't have any other reports at this time of issues using the v141 toolset for debug

[2022-09-28 23:04] DavidShoe commented on #2724
There is a limitation in the CDP pipeline that keeps you from being able to debug two webview2's at the same time in the same application.  Internally there is only one hosted debugger going at a time.

If you have more than one webview2 open in your application you can target a particular window for debugging following the instructions from: https://learn.microsoft.com/en-us/microsoft-edge/webvie

[2022-09-28 23:04] #2724 closed

[2022-09-28 23:20] victorthoang commented on #2722
Hello @bung87,

My apologies for the delay in response. I incorrectly assigned your question without a follow up. Rest assured that we try our best to respond to all questions and I admit fault on this. All bugs and features are tracked and hope that you can still rely on us to answer your questions!

Are you still needing response to this issue you are experiencing?

[2022-09-28 23:44] Shituation commented on #1223
webview2 is just another way of getting user's private data and serve ads.

[2022-09-29 00:12] incheon-kim commented on #2824
Actually, I found workaround. Just close the window that contains webview2 control when process exit.

AppDomain.CurrentDomain.ProcessExit event helps it.

When the Name property of WebView2 control is "webView", code would be like this.

[code]

[2022-09-29 05:54] plantree commented on #2653
Hi @Srinivass0704, could you share the specific versions of SDK and runtime?

And you also said:

Could you record a simple GIF? It might be very helpful.

[2022-09-29 06:40] bung87 commented on #2722
yes, still not solved. please help me!

[2022-09-29 07:41] plantree commented on #2573
Hi @q71114,
I will close this issue. If you have any other questions, please let me know.

[2022-09-29 12:52] ahmed-salem-me opened #2834 "DllNotFoundException: Unable to load DLL 'WebView2Loader.dll' >> When I use a package of Library that uses WebView2"
**Description**
I have wpf class library that uses webView2, when I reference my library from another project everything works fine, but when I create a nuget package for my library and reference it, it fails with the following exception:
DllNotFoundException: Unable to load DLL 'WebView2Loader.dll' or one of its dependencies: %1 is not a valid Win32 application (0x800700C1)
Inner Except stack tra

[2022-09-29 12:53] ahmed-salem-me commented on #2372
@champnic Hi, I have the same issue happening plz check #2834
would appreciate any advise, thanks

[2022-09-29 15:44] jmecosta commented on #2832
Solution:
use chrome.webview2.hostObjects.sync.startLauncherModel for synch methods
and use chrome.webview2.hostObjects.startLauncherModel for async methods

[2022-09-29 15:44] #2832 closed

[2022-09-29 18:10] champnic commented on #2834
Hey @ahmed-salem-me - Can you verify that the bitness of the WebView2Loader.dll you have and the architecture you are running on are compatible? Does your library include both x86 and x64 versions of the WebView2Loader.dll?

[2022-09-29 18:46] victorthoang commented on #2827
Hello @cremor,

I've included @imicy who will properly triage and assign a dev to investigate your bug. Thanks!

[2022-09-29 21:06] DavidShoe commented on #2722
What local is your windows configured for?

[2022-09-29 21:32] MackinnonBuck opened #2835 "Shift+tab traps focus inside WinForms WebView2 control when wrapped in a ContainerControl"
**Description**
When a WinForms `WebView2` control is a child element of a `ContainerControl`, shift+tab navigation cannot move focus out of the WebView. While focus cannot escape the WebView in the reverse direction, it _can_ escape the WebView in the forward direction.

This bug affects the `BlazorWebView` WinForms control, which extends `ContainerControl` and wraps the `WebView2` control.

**Ve

[2022-09-30 00:34] jinshaopu opened #2836 "nested iframe postmessage don't fired the message event"
**Description**
in my page,an iframe named "cframe" in a parent iframe named "pframe".
pframe postmessage fired the OnFrameWebMsgRec event.
but the cframe didn't;

**Version**
SDK:
Runtime: 105.0.1343.53
Framework:
OS: Win11

**Repro Steps**

**Screenshots**
![image](https://user-images.githubusercontent.com/14891482/193165079-6a523ca9-da63-48e4-b31f-17636fc93db5.png)

**Additional context**

[2022-09-30 02:26] aquinn39 commented on #2482
Looks like this might be what's causing the horizontal scroll issue: https://github.com/microsoft/microsoft-ui-xaml/issues/7772#issuecomment-1263021855. For the zoom issue (and also another issue, which is scrolling being slightly laggy with touchpad), I think this is because it does not use Direct Manipulation for touchpad events, whereas it does for touch events (though normal Edge uses Direct M

[2022-09-30 02:51] bung87 commented on #2722
sorry, I dont know what information I need provide, no idea what's "local" in windows programing.

[2022-09-30 03:20] wenghjld commented on #2813
hi @nickwitteman we've met the same problem, I wonder if you get further information about this problem.

[2022-09-30 04:11] schikura commented on #2830
Hi @victorthoang ,

Thanks for the response.
We have some product use cases where parsing of the DNS responses is critical.
We need a programmatical way to enable/disable Secure DNS.

[2022-09-30 04:15] incheon-kim commented on #2807
This happens too on 1.0.1343.22, WPF, Win 10.

[2022-09-30 05:52] kbparkch opened #2837 "EDIUS Plugin problem"
EDIUS Plugin SDK BatchExporter attatch webview2 but EDIUS did not recognized.
Why?

[2022-09-30 07:03] salvadordf commented on #2836
SDK : 1.0.1343.22
Framework : WebView4Delphi (Win32)

[2022-09-30 07:17] jebihug opened #2838 "Some files and folders of the cache directories have different permissions"
I build an application using webview2 that can delete, at startup, the cache folder.
The cache folder is set to a different path for each Windows users.
The deletion fail on some files and directories for "access denied"
The permission on those files and directories are not the same than the permissions on parents directories.
The permissions are set specifically to the user and do not inherit fro

[2022-09-30 08:23] grabinat commented on #308
@jasonstephen15

This sounds like it is planned, that Edge/WebView itself will create the toast notifications showed to the user. Is this optional?

For my use case it would be important, that the WebView is providing the HTML5 Notifications payload to the app without showing any notification itself. The payload would then be processed by the app code, and the toast notification would then be crea

[2022-09-30 08:27] ztanczos commented on #2750
I'd also be interested in knowing how to use remote debugging with WebView2.

[2022-09-30 11:28] syumi-1 opened #2839 "C++ Restarting program CreateCoreWebView2Controller gives null pointer when WebViewController pauses unexpectedly"
C++ When printing with some printers that are offline but not showing offline, the program will crash. Then the WebViewController is not released normally. After restarting the program, CreateCoreWebView2Controller will get a null pointer. How do I release the process that is not released normally?
![anime](https://user-images.githubusercontent.com/60103345/193277971-53a86746-c8be-4ce5-8c5c-2f252b

[2022-09-30 12:01] Srinivass0704 commented on #2653
@plantree  @victorthoang  Thanks for checking on this ,issue is observed on latest version of SDK and runtime
You can close the issue as we have worked around the issue in the application code

[2022-09-30 12:57] ahmed-salem-me commented on #2834
@champnic , you're right the runtimes folder only had a folder for x86, and when I copied over the x64 it worked.
Now what do I need to do to have this present or is this a bug on your side, thanks

[2022-09-30 13:13] wilsonmfg commented on #308
if the event allowed updating the payload and the option to set a Handled property like keypress events do that would tell the webview to not show the notification, that would be amazing.

[2022-09-30 13:28] darbid commented on #1426
Thank you @champnic for the explanation. All I had to do was think about what the words in the method name meant :-)

However, to either save some time down the road or alot of dev hair I really think some of these events need to be explained a little better.

For example this one needs to be called prior to DocumentCreation.  Where is it explained when DocumentCreation takes place? For example if

[2022-09-30 15:53] ztanczos opened #2840 "COMException when calling method on host object"
**Description**
There is an exception thrown when calling a method on a host object:
```Exception thrown: 'System.Runtime.InteropServices.COMException' in Microsoft.Web.WebView2.Core.dll```
It is thrown from:
```Microsoft.Web.WebView2.Core.dll!Microsoft.Web.WebView2.Core.CoreWebView2PrivateHostObjectHelper.RawHelper.GetMethodInfo(System.Type type, string methodName, int? parameterCount)```

The ex

[2022-09-30 17:47] victorthoang commented on #2830
Hello @schikura,

I've included @LiangTheDev to weigh in on this question for some further discussion. It sounds like what you are trying to accomplish simply doesn't exist with wv2 today and might be worth pursuing if there is a strong use case among the industry.

[2022-09-30 18:12] champnic commented on #2834
If you are just publishing an application that should be handled by our project files, but in this case I think it's just something you have to manage as the library publisher. We describe this here: https://learn.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution#files-to-ship-with-the-app

Thanks!

[2022-09-30 18:12] #2834 closed

[2022-09-30 18:15] vbryh-msft commented on #2836
Hi @jinshaopu  - we are currently not supporting nested iframes. But it is on our backlog - you can follow issue https://github.com/MicrosoftEdge/WebView2Feedback/issues/2440 for updates.

[2022-09-30 18:15] #2836 closed

[2022-09-30 20:07] ahmed-salem-me commented on #2834
Thanks @champnic , but WebView2Loader is part of the webView2 nuget package right? it exists in it's folder under runtimes
so my Library references this package, so another app references my library then I in theory should get the prober webViewloader, the package is installed on the machine with all the runtimes!

My library nuget spec have a specific WebView2 package version, having to maintain

[2022-09-30 20:43] tochukwuIbeEkeocha commented on #841
Hello,

As @champnic  mentioned we have tried to repro this bug on Windows 11, and it looks like it is not present. Please try what @shiva445 did and update the runtime.

[2022-09-30 20:43] #841 closed

[2022-09-30 21:51] erik-anderson commented on #2830
We're interested in better understanding your scenario to make sure that what we put on the backlog will appropriately meet your use case.

Where are you parsing the DNS requests/responses? On-client or off-client on the network? Is this for a network protection scenario?

If on-client by leveraging some OS DNS diagnostics, then I should also note that the browser platform has the ability to use i

[2022-09-30 22:41] yanxiaodi opened #2842 "Chrome DevTools Protocol Fetch.enable cannot receive RequestPattern parameters - System.ArgumentException"
**Description**
I would like to call `Fetch.EnableAsync()` method with a `RequestPattern` parameter but I got an error:

An exception of type 'System.ArgumentException' occurred in System.Private.CoreLib.dll but was not handled in user code
Value does not fall within the expected range.

**Version**
SDK:  WebView2: 1.0.1343.22, WebView2.DevToolsProtocolExtension: 1.0.824
Runtime:
Framework:  WPF
O

[2022-10-01 00:33] victorthoang commented on #2835
hello @MackinnonBuck,

I've assigned your query to one of our devs to investigate the bug. Thanks and we shall get back to you.

[2022-10-01 00:37] victorthoang commented on #2837
Hello @kbparkch,

Are you saying that you had an issue with exporting webview2 SDK when using EDIUS? Or while using WebView, it did not recognize EDIUS?

Can you provide a brief description of what you are trying to accomplish, along with the webview version you're using, framework, and operating system? This will help me figure out who might best be able to help.

Thank you!

[2022-10-01 13:27] ahmed-salem-me commented on #2834
Okay, I found the problem, the app that was referencing my library was set to target platform x86

[2022-10-01 17:58] sigmarsson opened #2843 "Could you tell what 0x8007139F means ?"
https://github.com/microsoft/microsoft-ui-xaml/issues/7688

```Thank you```

[2022-10-01 19:53] sigmarsson opened #2844 "What does "No installed components were detected. (0x800F1000)" mean here ?"
![image](https://user-images.githubusercontent.com/43340959/193426012-83278c58-6941-485d-8776-2595d8b3e5d9.png)

[2022-10-01 19:54] #2844 closed

[2022-10-01 23:57] burleyman24 commented on #1355
We had to abandon a previous project's desire to use WebView2 due to this limitation. Checking back here a year later it looks like no progress has been made which is disappointing. Would really like to upgrade our project but this is a deal breaker.

We went the rounds trying to make it work through other means but always ran into errors. The only real work around was to discard NavigateToString,

[2022-10-02 06:41] ppixiv commented on #944
I just ran into this too.  Hopefully this gets some attention, since it's a real headache when the platform completely supports what you're trying to do, but you end up spending hours trying to work around Web security policies that you can't turn off.

FWIW, videos with audio also do require a gesture by default (don't know about audio).  I was able to work around that with the --autoplay-policy=

[2022-10-02 08:33] Viir commented on #1355
@burleyman24

I see a workaround fitting your application better: Start an HTTP server in the same process that hosts WebView2 to deliver the sensitive content. This way, we don't need to write the sensitive data into a file. This is cleaner and avoids the race condition where the process is stopped before it gets to delete the said file. The information stays in the same process where you have it

[2022-10-02 15:16] zbig1000 commented on #2030
simply do not try more this crap. Nor install newer version of w11 crap.

[2022-10-02 16:43] mnasers commented on #2030
@champnic What difference does it make which version is being installed. The end result is the same.

[2022-10-03 01:07] hanfeige opened #2845 "How do I listen for sub-page requests？"
When a page has an IFRame (and possibly a cross-domain) and cannot get a network request, I try two methods

1, use WebResourceResponseReceived
[code]
2. Use DevToolsProtocol
[code]
But I can only get home page requests. What do I do？

[2022-10-03 03:39] SethReber opened #2846 "Blank Screen and crashes with dynamically loaded win form library"
Hello,
I'm having an issue where the WebView2 control appears blank, never completes navigation, and then crashes the windows form. The scenario is a WinForm executable that dynamically invokes a method from a class library to launch the initial winform. The class library has a nuget package reference to the WebView2 sdk. I've attached event handlers for almost every event on the WebView2 and the

[2022-10-03 06:28] chinasmu commented on #2846
I do not think that is a bug.
I modify some of your code,it works fine.
Login.cs:
`private void btnLogin_Click(object sender, EventArgs e)
        {
            try
            {
                using (BrowserForm browserForm = new BrowserForm())
                {
                    //await browserForm.InitializeAsync();
                    browserForm.ShowDialog();
                }

[2022-10-03 06:43] chinasmu commented on #2842
In my winform app, I try this
` await CoreWebView2.CallDevToolsProtocolMethodAsync("Fetch.enable", "{\"patterns\":[{\"urlPattern\":\"*\", \"requestStage\":\"Response\"}]}");`

It working good.
About "RequestPattern[]", is it form CefSharp Common? I did not see any ref in webView2.

[2022-10-03 06:57] victorthoang commented on #2838
Hello @jebihug,

Can you provide more details about your build process so that I can assign someone to help look at this?

Operating System, Framework (WinUI, Win32, WinForms, UWP, WPF, etc), the SDK/Runtime being used.

Thanks!

[2022-10-03 07:04] victorthoang commented on #2839
Hello @syumi-1

Could you please provide some more basic information about your computer?

E.g. Operating System (win10 or win11), Framework (WinUI, Win32, WinForms, UWP, WPF, etc), the SDK/Runtime being used?

With this information I can make a better assessment as to who can help with your question. thanks!

[2022-10-03 07:06] victorthoang commented on #2840
Hello @ztanczos,

I have assigned this to @imicy, who will help figure out how to approach the bug you're seeing. Thanks for your find!

[2022-10-03 07:08] victorthoang commented on #2829
Hello @WilliamQue,

Can you provide some basic information about your system/build?

E.g. Operating System, Framework (WinUI, Win32, WinForms, UWP, WPF, etc), the SDK/Runtime being used.

Thanks!

[2022-10-03 07:12] jebihug commented on #2838
Windows 10 64 bits, build with win32 SDK: 10.0.19041.0

[2022-10-03 07:17] syumi-1 commented on #2839
System win7 & win10
SDK 1.0.1343.22 neweast
Edge 107.0.1402.2 X64 dev
Framework Win32-WebView2GettingStarted-HelloWebView.cpp

When you open the sample program, then call the print button, use a remote printer, and close the window very quickly before actually printing, the next time you enter the program, it will not initialize properly

[2022-10-03 07:17] xieguigang opened #2847 "[BUG report] strange behaviour on ajax POST message"
**Description**

Hi,

I'm using the webview2 nuget package for build a winform UI currently, the backend code logic is called via two method:

1. some ligh-weight UI related VB.NET code is executed from the javascript via the webview2 IDispatch COM interop method.
2. some heavy data processing code is executed in another .NET core background services, from the web frontend via the ajax post messag

[2022-10-03 10:44] q71114 opened #2848 "Opening a link in a PDF in a new window opens a new Edge popup window"
**Description**
Opening a link in a PDF with middle mouse click / Ctrl + click / Shift + click opens a new Edge-like popup window instead of triggering `NewWindowRequested` event.

**Version**
SDK: 1.0.1369-prerelease
Runtime: Evergreen, 104.0.1293.54
Framework: WPF
OS: Win11 22H2 (OS Build 22621.521)

**Repro Steps**
1. Open a PDF file with links in it
2. Open the link with either of the followin

[2022-10-03 11:33] Wizard13 commented on #2025
Same thing is happening to me in 1 laptop out of 10 identical laptops (Windows 7 SP1 32-bit)
WebView2 v102.0.1245.41 (fixed deployment), WinForms
The error is:
[code]
If I skip the call to `GetAvailableBrowserVersionString`, browser loads successfully.
The code I use is:
[code]

[2022-10-03 12:49] SethReber commented on #2846
After making your suggested changes the sample application worked. I'm going to try it in our enterprise code base and verify it works there too. I appreciate your quick response.

[2022-10-03 14:04] SethReber commented on #2846
@chinasmu The changes worked in our application. Weird that setting the userDataFolder location and dll location using async doesn't work, but thank you for responding to this again so quickly.

[2022-10-03 14:04] #2846 closed

[2022-10-03 17:59] monica-ch commented on #2523
@BKSoftCraft This is by design. For HTML documents, it defaults to 'Actual Size'. For PDF documents, the selection defaults to 'Fit to Printable Area'. Please open a feature request with us if you want a different behavior in WebView2.

[2022-10-03 18:46] yildirimcagri commented on #1825
That is correct, custom scheme URLs also abide by the CSP currently. For the second error, you can specify your custom scheme to be secure, which should prevent the mixed content error. Feel free to open a different issue if you'd like to make a feature request for custom schemes to be able to bypass CSP.

[2022-10-03 18:48] victorthoang commented on #2842
Hello @yanxiaodi ,

I have assigned this to @imicy, who will help figure out how to approach the bug you're seeing. Thanks for your find!

[2022-10-03 18:50] BrianRoach opened #2849 "WebView2 and launching file dialog (WPF/C#)"
We are using the latest stable version of WebView2 controls in a WPF/ C# application.   We have a few web pages that are designed to upload files to our backend.  The displayed webpages call a simple script, similar to what this webpage (https://output.jsbin.com/kimoqaw) does.

The link above is the perfect sample.  It works in Edge on win 10 and win 11 (both buttons launch a file picker)
Using th

[2022-10-03 22:00] rob-bateman commented on #1994
@champnic I'm confused, does this mean the roadmap info here is out of date? https://learn.microsoft.com/en-us/microsoft-edge/webview2/roadmap

I cannot believe that Microsoft would launch Webview2 support on UWP for Xbox, seeing as UWP is no longer supported for new releases. So if it isn't going to be for use with UWP and it isn't going to be for use with GDK, what will it be compatible with?

I

[2022-10-03 22:09] rob-bateman commented on #1994
@champnic here is another link mentioning xbox support for webview2 https://blogs.windows.com/msedgedev/2022/05/24/microsoft-edge-build-2022/

Its been 6 months since this statement. All I'm asking is when and how

[2022-10-04 00:12] DavidShoe commented on #1604
WebView2 on the UWP platform for desktop is supported now using WinUi2.  You can use that to get a let up on upcoming support for UWP / WebView2 applications on the Xbox.  We will not have GDKX support for WebView2 though, only UWP applications on Xbox.   What is the scenario you are trying to accomplish with Game Pass support?

[2022-10-04 00:43] rob-bateman commented on #1604
@DavidShoe We want to be able to publish web games using Game Pass on desktop and Xbox.

Our current publisher has said they have been directly told by Microsoft that 'support for new UWP products on Xbox has ended'. So they are suggesting GDKX as an alternative.

[2022-10-04 06:27] DavidShoe commented on #1604
Thank you for that information, could you tell me the publisher?  You can send it to me directly instead of posting it here.  I have shared that feedback with our internal team who are directly working on uwp / webview support for Xbox right now (of which I am a member).

Sent from my T-Mobile 5G Device
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Rob Bate

[2022-10-04 07:08] darbid opened #2850 "Custom Schemes should avoid CSP"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like and alternatives you've considered**

Through the use of a short injection of code JS could be added and removed for that matter with pinpoint accuracy.
[code]

[2022-10-04 12:29] yoursen commented on #2806
Please fix it, this issue is really annoying in daily coding.

[2022-10-04 13:16] Stormwalker commented on #2093
Also, the documents say: "If an empty string or null value is provided, no title is shown in the header."

Passing nullptr to put_HeaderTitle() triggers an access violation reading 0x000000000 etc,  Same for put_FooterUri().

[2022-10-04 13:35] Stormwalker opened #2851 "PrintToPDF - Default URI in footer is missing"
**Description**

Using ICoreWebView2PrintSettings with ICoreWebView2_7::PrintToPdf().

PrintSettings:

- Called put_ShouldPrintHeaderAndFooter( TRUE )
- Have NOT called put_FooterURI().

The docs say: "The footer consists of the URI and page number."  and for the FooterURI: "The default value is the current URI."

When the PDF is printed No URI is printed in the footer, although the page number _i

[2022-10-04 15:15] DavidShoe commented on #2722
Go to settings -> Language & Region
What are the settings for windows display language, preferred language, country and region, and regional format configured for.

[2022-10-04 15:31] bung87 commented on #2722
it's chinese, china stay same as just bought

[2022-10-04 17:50] DavidShoe commented on #2722
Thanks for those, I am trying to reproduce the issues locally.

[2022-10-05 08:24] NENCAO opened #2852 "Cannot find a method when using VSTO WPF"
**Description**
When I use WPF Webview2 in VSTO, can't find the method “Void Microsoft.Web.WebView2.Core.CoreWebView2EnvironmentOptions..ctor(System.String, System.String, System.String, Boolean, System.Collections.Generic.List`1<Microsoft.Web.WebView2.Core.CoreWebView2CustomSchemeRegistration>)”。
![QQ截图20221005162046](https://user-images.githubusercontent.com/13777693/194015101-daeeb359-756a-4ad8

[2022-10-05 09:53] cyberdarius commented on #2435
WPF BlazorWebView is broken:

REPO is the example here:
https://learn.microsoft.com/en-us/aspnet/core/blazor/hybrid/tutorials/wpf?view=aspnetcore-6.0

With the current webview2 Runtime (105) it's impossible to use the workaround [Worldwidebrine](https://github.com/Worldwidebrine) mentioned.

Webview2 is wrapped into BlazorWebview, that is configured in XAML. The EnsureCoreWebView2Async  is called

[2022-10-05 10:01] cyberdarius commented on #2775
Please see also this

https://github.com/MicrosoftEdge/WebView2Feedback/issues/2435#issuecomment-1268210310

[2022-10-05 10:25] Symbai commented on #611
I'm not using WebView2 anymore and this has been nearly 2 years ago, I cannot give you an answer I'm sorry. You can try asking your question in discussions: https://github.com/MicrosoftEdge/WebView2Feedback/discussions

[2022-10-05 10:28] ahmed-salem-me commented on #611
@Symbai no worries and thanks for your reply

[2022-10-05 13:11] yildirimcagri commented on #2671
Could you verify that this is still reproing for you? We should have disabled the Entity Extraction feature for WebView2 and such requests should not be made. I'm currently unable to repro this on my side after waiting 6 minutes.

[2022-10-05 16:55] vbryh-msft commented on #2845
@hanfeige cross-domain iframes support for WebResourceRequested is available in prerelease package - you would need to use [AddWebResourceRequestedFilter](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.addwebresourcerequestedfilter?view=webview2-dotnet-1.0.1369-prerelease#microsoft-web-webview2-core-corewebview2-addwebresourcerequestedfilter(system-string-mic

[2022-10-05 19:31] LK-Global commented on #2310
Hello @champnic,
I hope your are doing well; is there an update on this defect? Our logs indicate the exact issue.

We have a client who is getting this issue; I am attaching an eventvwr file with the error.
For this crash, we are running in a Excel Addin, x64bit.
This is a stable software version; with thousands of clients; it is running:

- WebView2 Fixed runtime version: 88.0.705.81
- WebView2

[2022-10-05 19:55] Desz5 opened #2855 "How to use DOMContentLoaded in WinForms VB.NET?"
Hi!
I would like to use the DOMContentLoaded event in vb.net.
I'm using this code:
[code]
But it gives the error: Event DomContentLoaded cannot be found.

Apparently i'm doing something wrong.
Could somebody please help me?
Thank you!

[2022-10-05 20:27] nishitha-burman commented on #2850
Hi @darbid,

Thank you for the feedback. Can you please describe the scenarios you are trying to achieve with this feature?

[2022-10-05 22:53] DavidShoe commented on #2722
I won't be able to setup the nim runtime so can't reproduce locally.  But looking at the information you provided above can you try setting the user data folder to something like c:\temp (or where ever your temp drive is), I am wondering if you are running into a permissions issue and that should verify that you can bypass that.

You might also try using the win32 sample we have at https://github.

[2022-10-05 23:11] vickiez commented on #2851
Thanks for reporting this @Stormwalker, we'll look into it and get back to you.

[2022-10-05 23:40] aluhrs13 commented on #2657
@UweKeim given this is a niche ask that has a pretty simple work-around, I'm going to close this. If there's something that would make this a higher priority, feel free to re-open it with more details.

[2022-10-05 23:40] #2657 closed

[2022-10-06 00:00] mayuragarwal-qm commented on #1889
I am also facing similar issue when tried with runtime version 105.0.1343.53
Any updates on the fix?

[2022-10-06 04:16] aquinn39 commented on #2831
It seems it is indeed a documentation mistake - see here: https://github.com/MicrosoftDocs/edge-developer/issues/2224

[2022-10-06 04:16] #2831 closed

[2022-10-06 05:20] victorthoang commented on #2839
@syumi-1,

Thanks for your inquiry, @vickiez might be able to address your question. Please allow some time for her to follow up on this!

[2022-10-06 05:27] victorthoang commented on #2838
Hello @jebihug,

Thanks for your bug report. I've included @LiangTheDev to assess the bug and share his thoughts.

If we identified it is indeed a bug, we can assess where it needs to be in the backlog. Thanks!

[2022-10-06 08:16] darbid commented on #2850
My apologies @nishitha-burman my text was hidden in the post.  I hope what I have written is understandable and that my fundamental understanding of the current options are correct.

[2022-10-06 08:28] jameslee214 commented on #2606
@LiangTheDev
Thank you very much for your reply. 👍

[2022-10-06 08:28] #2606 closed

[2022-10-06 08:28] heiberik commented on #2825
You are right, this is an Edge issue :)

[2022-10-06 08:28] #2825 closed

[2022-10-06 09:11] estet commented on #951
@champnic @ShaunLoganOracle @alaincao Is there anything else we could do with the issue?

[2022-10-06 13:05] tiagoabreu opened #2856 "Setting DefaultBackgroundColor on WebView2 affects Web add-ins"
**Description**
We have a VSTO add-in that uses WebView2. Setting the DefaultBackgroundColor on the WebView affects any web add-in loaded later.

**Version**
SDK: 1.0.1293.44
Runtime: 105.0.1343.53
Framework: WinForms
OS: Win10 21H2

**Repro Steps**

1. Install Web add-in that opens a simple page
2. Run Sample add-in that sets a background color for the WebView (in this case, red)
3. Verify the ta

[2022-10-06 14:36] juipinjao commented on #1633
fanioparoid
I face the same problem on a MFC app. too. Just wonder if you find any solution? Thanks

[2022-10-06 16:06] david-risney commented on #779
InPrivate is supported via the [CoreWebView2ControllerOptions.IsInPrivateModeEnabled](https://learn.microsoft.com/en-us/microsoft-edge/webview2/reference/win32/icorewebview2controlleroptions?view=webview2-1.0.1343.22#put_isinprivatemodeenabled)

[2022-10-06 18:11] monica-ch commented on #1331
Hi all, we've completed our design for the https://github.com/MicrosoftEdge/WebView2Feedback/pull/2604/files! Please review the pull request and add any feedback you have about this API. We appreciate your input and support!

[2022-10-06 19:59] gallderhen opened #2857 "CoInitialize error when trying to initialize a webview2 component from a DLL"
Hi,

I posted the  following on stackoverflow but had no luck of a reply, so I thought I'd try here.

The following code is kind of a mish-mash I've slap together from examples and tutorials I found on the internet.

The premise of the code is to create a webview2 component in a winform, where the winform is a DLL that gets loaded by a third-party application.

Now, the third-party application loa

[2022-10-06 20:32] LiangTheDev commented on #2838
I could not find any Edge code setting special permissions on those folders. I could not repro the issue either. The folders always have inherited permissions in my tests. Is it possible that some special machine setup caused the files created while running WebView2 to have those special permissions?

I am not sure what the setup is and what are we trying to achieve. If WebView user data folder is

[2022-10-06 22:08] johna-ms commented on #1889
Hi we were able to duplicate this issue by opening find bar and clicking near it but over app content ie. non webview content. I have a workaround for this pending that will causes those clicks to go to the find bar instead of hanging the app. Hopefully this resolves the issue. Work for a more complete fix is planned at a lower priority.

[2022-10-06 22:10] champnic commented on #2310
@LK-Global I'm not sure if this is related or not - the eventvwr doesn't look to have a lot of helpful info. If you look in the `<user data folder>\EBWebView\Crashpad\reports` is there a dump file in there from the same time?

Given it's a fixed version, I'd be surprised about contention with another plugin, or whether a windows update would cause this. Can you share a stack trace, repro steps, or

[2022-10-06 22:13] champnic opened #2858 "Also, the documents say: "If an empty string or null value is provided, no title is shown in the header.""
Also, the documents say: "If an empty string or null value is provided, no title is shown in the header."

Passing nullptr to put_HeaderTitle() triggers an access violation reading 0x000000000 etc,  Same for put_FooterUri().

_Originally posted by @Stormwalker in https://github.com/MicrosoftEdge/WebView2Feedback/issues/2093#issuecomment-1266981931_

[AB#41704276](https://microsoft.visualstudio.com

[2022-10-06 22:14] champnic commented on #2858
@Stormwalker I've moved your comment to a new issue and we are now tracking this bug on our backlog. Thanks!

[2022-10-06 22:29] champnic commented on #1994
Hey @rob-bateman - Sorry if that sounded like a canned response, it might have been - just sharing what I heard back from Xbox.

I'm slightly confused by your questions - I've answered both the how (using WebView2 in UWP apps) and the when above. Are you looking for other info?

[2022-10-06 22:41] champnic commented on #2025
@Wizard13 If you are using a fixed version deployment, then there may not be a lot of value to calling GetAvailableBrowserVersionString anyways, as your app is typically the one controlling the version and deployment of the runtime.

[2022-10-06 22:44] champnic commented on #2030
It matters because we put in a fix into one version. If you share the runtime version we can confirm either 1) That you are using a version without the fix and the issue is expected, with the workaround being to get a newer version or figure out where the older version came from, or 2) That you are using a version with the fix, but the fix is not working as expected, or there is another issue occu

[2022-10-06 22:48] champnic commented on #2834
Glad you got it working!

[2022-10-06 23:07] mayuragarwal-qm commented on #779
How to use it in a WPF application with a WebView2 control in it? Can you point to any documentation?
As far as I have researched, ControllerOptions are not available for the control.

[2022-10-07 00:14] metrogary opened #2859 "updating an element value"
Hi, I'm new to vb.net and I would really appreciate your help.

I'm trying to update a field on a website with WebView2.

I found this command :
Dim strGoogleSearchValue As String = Await WebView21.ExecuteScriptAsync("document.getElementById('gbqfbb').value")
I tested it and works great.

Now, I'm trying to get and set the value for the weight field on EasyShip.com, highlighted in the attached fil

[2022-10-07 03:07] rob-bateman commented on #1604
@DavidShoe sure, how should I message you directly? Your hotmail email account?

[2022-10-07 03:10] rob-bateman commented on #1994
@champnic yeah, sorry for the confusion. I just don't get what's going on - isn't UWP a deprecated platform? Our publisher has been told that 'support for new UWP products has ended' by Microsoft themselves. I just don't understand why you would launch Webview2 on a platform that's no longer supported by Microsoft.

[2022-10-07 05:17] jebihug commented on #2838
Juste some sub-folders of the UDF have this problem.
For exemple the folder ..\EBWebView\AutoLaunchProtocolsComponent have inherited permissions but the sub-solder ..\EBWebView\AutoLaunchProtocolsComponent\1.0.0.8 doesn't.

<img width="732" alt="image" src="https://user-images.githubusercontent.com/17977436/194472695-99c15b3d-602e-4bb7-a148-e5e6bb01982a.png">

[2022-10-07 10:34] SyntaxEvg commented on #2859
document.querySelector("input[name='order.parsel....']"); copy the name attribute correctly

[2022-10-07 11:14] Wizard13 commented on #2025
@champnic , Yes I know, I just wanted to share my code if it helps.

[2022-10-07 16:10] mayuragarwal-qm commented on #1889
This issue happens not just during find in PDF but even using ctrl + F in a normal webview2 browser screen.
WPF application hangs searching on a page with WebView2.

[2022-10-07 16:15] #2115 closed

[2022-10-07 17:56] vickiez commented on #2839
Hi @syumi-1, this is a general issue with closing the app while printing is in progress. We are tracking the bug internally and will let you know when it has been fixed. As a workaround you can listen to the JS event [afterprint](https://developer.mozilla.org/en-US/docs/Web/API/Window/afterprint_event) to prevent closing the app before printing is complete. Thanks!

[2022-10-07 18:04] ASM-SW commented on #1889
We switched to Sumatra PDF.  It has a built in kiosk mode that worked for us with a smaller footprint.

[2022-10-07 19:11] champnic commented on #1889
Going to keep this reopen until we complete the fix.

[2022-10-07 19:12] logikonline commented on #802
I have a new prospect that will use Windows.  Can we get a status update?  Hopefully, it is near complete

[2022-10-07 19:23] champnic commented on #1994
Confusion understood. Do you know if your publisher has a specific article or documentation from Microsoft with this info? Most of the articles I'm finding are pointing to this post: https://github.com/microsoft/WindowsAppSDK/discussions/1615

It mentions that the "Windows App SDK" (WinUI 3) is dropping UWP support moving forwards. But it also specifically mentions that WebView2 is coming to WinUI

[2022-10-07 19:41] tofuandeve commented on #802
Hi all, we are working on this issue and it is one of the highest priorities we're focusing on right now. The support for file dialog running on admin mode is currently under review and should be checked in very soon.

Thank you!

[2022-10-07 19:46] tofuandeve commented on #2745
We have opened a bug for this issue and will work on the issue soon.

Thank you

[2022-10-07 20:04] Methuselah96 commented on #2787
@plantree I am also running into this issue. Are you say there is no way to have a method on a host object that returns a non-generic task?

[2022-10-07 20:34] metrogary commented on #2859
Thank you so much for your help, that worked great!

[2022-10-07 20:35] #2859 closed

[2022-10-07 21:43] GJStarCode commented on #2206
Hi everybody
Have you tried this aproach?

private void CoreWebView2_WebMessageReceived(object sender,
CoreWebView2WebMessageReceivedEventArgs e)
{
 string msg = e.TryGetWebMessageAsString();
 if (msg == "Open Dialog")
 {
 // Show a modal dialog after the current event handler is completed,
to avoid potential reentrancy caused by running a nested message loop in the
WebView2 event handler.
 System

[2022-10-07 23:09] monica-ch commented on #2273
This is fixed in runtime versions 107.0.1415.0+. Thanks!

[2022-10-08 00:25] yanxiaodi commented on #2842
@chinasmu Thanks. I think I got it.

@imicy @victorthoang So if we call the method like
[code]
It works. Because the parameter is an object that has a `patterns` field, which has the array as the value. But if we call the method like
[code]
The parameter is an array, not an object that has a `patterns` field.

[2022-10-08 01:12] syumi-1 commented on #2839
hello @vickiez ,
When I add the following code

When printing with some printers that are offline but not showing offline, the program will crash. User did not close the program.

[2022-10-08 03:21] huchengv5 commented on #2782
Is there a reasonable solution to this problem？

[2022-10-08 05:05] thanhle7 commented on #1223
On my windows, I am not using neither Edge nor any outlook-like software but WebView2 keeps getting installed back automatically. It is exactly malware.

[2022-10-08 05:16] thanhle7 commented on #1223
@champnic Can you please let me know how to get rid of MS Edge and WebView2. I am not using Edge, MS Office, neither VStudio with Xam for mobile app dev. My windows laptop is just for web browsing using Firefox. By the time I got my windows 10 license bask in 2016, I don't have Edge or any thing like WebView2 on the system software list.

[2022-10-08 07:36] plantree commented on #2692
Hi @elad-dp,

Sorry for replying so late. If it is possible, could you share the demo project for reproduction?

[2022-10-08 08:47] IBM50Z commented on #1223
OP's comments .. "I did not consent, nor did give any permission for it [WebView2] to be installed. Not only that, but a few days after uninstalling it, it reinstalled itself. That's malware behavior." .. still applies!  It would be MUCH appreciated if the Powers That Be provide a WebView2 stop-install-stop-update setting in GP and/or the Registry.  At the very least!  TIA.

As of late I have trie

[2022-10-08 10:10] #2855 closed

[2022-10-08 14:53] Shituation commented on #1223
They are not going to let us uninstall edge because thats big part of how MS gets our private data. They are pushing the use of edge, they insist so much on using it. Why MS? why do you try so hard? why do you FORCE the users to use or at least have executing a browser they DON'T WANT TO USE ?

[2022-10-08 18:05] fkaelberer opened #2860 "Windows file preview shows ERR_FILE_NOT_FOUND when file path contains `€` character"
I hope this is the right place for this bugreport. If not, please give me a hint where to report it.

**Description**
In the Windows Explorer PDF file preview, "ERR_FILE_NOT_FOUND" is shown when file path contains certain special characters.
I could reproduce the behavior when previewing any pdf file whose file path contains the character `€` *and* at least one of the characters from the following

[2022-10-08 18:25] advos commented on #2563
@victorthoang So do I understand that the Microsoft Edge policies are supported by the WebView2 but they are not tested?
Is that the case?

[2022-10-08 21:47] rob-bateman commented on #1994
@champnic I don't but I'll ask. Sounded like it was from direct communication with the Xbox team but I'll double check.

I think part of the drive for using GDK is the integration with Game Pass. Is it possible to publish a UWP app for Xbox on Game Pass? If you could ask your Xbox contacts, that would be really useful information.

So is the plan to eventually migrate everything to Win UI 3? A lot

[2022-10-09 06:39] plantree commented on #2692
Hi @elad-dp,
I have figured this out. **This is a feature, not a bug.**
Inside the uninstaller, there will be a shutdown event triggered, which is used to indicate those applications who rely on WV2 runtime that they need to take some action.
Hope to solve your problem. If you have no other questions, I will close this issue.

[2022-10-09 07:22] victorthoang commented on #2563
Hello @advos,

Not all policies are available in webview2. We employ very little policies to try and keep webview as lightweight as possible. In fact, the only official supported policies are listed [here](https://learn.microsoft.com/en-us/deployedge/microsoft-edge-webview-policies). If you have a request to have these as a policy, you can submit it as a feature request, and we collect similar sen

[2022-10-09 08:20] IBM50Z commented on #1223
I noticed that the OP's user account has been deleted. (Hi, I'm @ghost! I take the place of user accounts that have been deleted. 👻 Nothing to see here, move along.) So, I gather this thread is pretty dead!

Maybe @champnic can give an update and/or referral on the subject matter?!  TIA.

[2022-10-10 04:39] victorthoang commented on #2856
@tiagoabreu thank you for your investigation,

@oggy22 will help to investigate this, and we will add it to our backlog to correct.

[2022-10-10 04:56] victorthoang commented on #2857
Hello @gallderhen,

Thanks for your question. One of our devs will take a look at your question and get back to you.

Typically, we prioritize bugs and feature requests first so please be patient as we work through our backlog and priorities!

[2022-10-10 05:05] victorthoang commented on #2860
hello @fkaelberer,

Could you confirm that this is a WebView2 issue? Or is this a problem you're seeing with the Edge browser? If it is a problem with Edge, you can submit a bug report by clicking "help and feedback" in the top right menu (...).

I've assigned a dev to take a look at your potential bug (if it ends up being related to webview2 runtime).

Could you please provide the framework you a

[2022-10-10 06:24] plantree commented on #2819
Hi @kenmckaba,

We have added it to the backlog and plan to solve.

[2022-10-10 07:26] michal-puczynski opened #2861 "Mixed-content inconsistent behavior, cannot find workaround"
I am developing .net Blazor MAUI application that integrates with local network resources provided by HTTP, either as video stream or REST. The problem I am having that I can reach localhost over HTTP while I cannot reach any of local network resources, as the requested src is converted to HTTPS even though I use CSP.
Here is what I experience:
https://github.com/dotnet/maui/issues/10141#issuecomm

[2022-10-10 13:35] MichaelLiddiard commented on #2529
Im seeing the same issues as @koenvd in a fresh Win UI 3 project. Is there any specific guidance for a Win32 not UWP host?

[2022-10-10 14:44] yildirimcagri commented on #2671
Closing for now as we believe this is fixed. Feel free to reopen if you are still seeing this.

[2022-10-10 14:48] #2732 closed

[2022-10-10 14:49] yildirimcagri commented on #2732
Closing for now, feel free to reopen if you would like to follow up with more questions about Selenium support.

[2022-10-10 14:52] yildirimcagri commented on #172
Hi, this feature is released. Please see [https://learn.microsoft.com/en-us/microsoft-edge/webview2/reference/winrt/microsoft_web_webview2_core/corewebview2customschemeregistration?view=webview2-winrt-1.0.1369-prerelease](CoreWebView2CustomSchemeRegistration class) and sample app CustomSchemeRegistration scenario for more details.

[2022-10-10 14:52] #172 closed

[2022-10-10 15:21] wilva opened #2862 "Setting UserAgent not effective on first navigation."
**Description**
Setting the UserAgent is not effective when navigating to a URL.
Only once you navigate to the 2nd URL does the setting apply.

**Version**
Runtime: Release 106.0.1370.37
Framework: WPF, Win32
OS: Win10

**Repro Steps**
Take the standard demo WebView2Samples, WebView2WpfBrowser
In MainWindow.xaml change "www.bing.com" into "whatismybrowser.com" like so:
[code]

In MainWindowXaml.cs

[2022-10-10 16:43] victorthoang commented on #2862
hello @wilva,

Thanks for your bug report. We will evaluate this bug and get back to you with our findings. @imicy for further investigation and triaging.

[2022-10-10 17:17] ajtruckle opened #2863 "Where is the changelog?"
Forgive me, but I have just checked for an update to the NuGet package and there is one:

![WebView2](https://user-images.githubusercontent.com/7985331/194920433-4af6f25c-2614-4f38-8c17-4b2e95fc6ccf.png)

How do I find the change log so that I can see what has changed?

[2022-10-10 17:45] KirkH420 commented on #1223
One thing that people can try, as a method of preventing the automatic re-installation of a particular software, is to use Windows' built-in User Account Control permissions to revoke the system's ability to Write to the directory where the program gets installed. You'd do it by visiting the folder's properties panel and navigating to the Advanced Security panel. Take ownership of the folder. Then

[2022-10-10 18:15] LiangTheDev commented on #2782
I am afraid that you might have to find workarounds to achieve reasonable user experience.

[2022-10-10 19:00] champnic commented on #1994
I've just asked, and I'll let you know when I learn more.

I'm not sure what the current long-term plans are for WinUI 3 support on Xbox/Holo. I've also asked that team and am waiting to hear back. Thanks!

[2022-10-10 19:34] leaanthony commented on #172
@stffabi

[2022-10-10 19:43] elad-dp commented on #2692
Hi, thanks for the reply. it is strange that SessionEnding event is raised - according to the description of this event: "Occurs when the user ends the Windows session by logging off or shutting down the operating system".
Uninstallation of WebView2 is not related to SessionEnding, so why is it raised? if MS wants to indicate about WebView2 uninstallation there should be a dedicated event for that

[2022-10-10 22:06] kenmckaba commented on #2819
Great! When is it expected to be fixed?

[2022-10-11 06:37] plantree commented on #2692
Hi @elad-dp,

Documentation about `SessionEnding` looks a bit confusing...
As for how to trigger `SessionEnding` event, you could get more information by browsing [About Restart Manager
](https://learn.microsoft.com/en-us/windows/win32/rstmgr/about-restart-manager) and [Shutting Down
](https://learn.microsoft.com/en-us/windows/win32/shutdown/shutting-down)

For your last question, it might be diff

[2022-10-11 06:45] plantree commented on #2819
Relevant revisions have been submitted and wait for the next release. I will be in sync then.

[2022-10-11 06:49] fkaelberer commented on #2860
Hi @victorthoang, thanks for having a look at the issue.

The issue is in the built-in PDF previewer of Windows 10, whose process in the task manager is named *Microsoft Edge WebView2*, so yes, I guess it's a WebView2 issue. I could not observe the same issue when viewing PDF documents in the Edge browser.

There's no specific framework involved to reproduce the issue (other than possibly built-in

[2022-10-11 06:51] plantree commented on #2787
Hi @Methuselah96,

Do you have any reasons that the method must return a `Task` without result?
Can you provide more information about the usage scenarios to help us learn more?

[2022-10-11 06:55] Vampire2008 commented on #2787
It will be good if we can use long methods, that just return Task (as other long methods in code without result) without any special workarounds.

[2022-10-11 09:18] yizhao5 commented on #2678
@sajjadarashhh. Excuse me. Has your problem been solved? Sorry, I had some other works some time ago.

I have git clone your sample code from your [https://github.com/sajjadarashhh/Dotnet.TestMauiFreeze](https://github.com/sajjadarashhh/Dotnet.TestMauiFreeze). But compile error.

Can you tell me **Description** and **Repro Steps** of the template, so we can help you solve the problem faster and be

[2022-10-11 09:18] cdz1980 commented on #2355
Sometimes you need to change the content of the web page to other languages, or prompt the content. You know, the web page is usually not perfect

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "MicrosoftEdge/WebView2Feedback"

[2022-10-11 09:19] mikeduglas commented on #2455
This is the U200b character "Zero-width space" or ZWSP (
https://en.wikipedia.org/wiki/Zero-width_space).

--
Mike

чт, 19 мая 2022 г. в 12:17, Jozef Chutka ***@***.***>:

[2022-10-11 09:37] elad-dp commented on #2692
It's because we have a product that registers to SessionEnding and performs various cleanup and application shutdown operations upon this event. if a user performs WebView2 uninstallation, we get SessionEnding event and perform the cleanup and application shutdown wrongly...

[2022-10-11 10:05] mikeduglas commented on #2455
Oops, my comment was sent in June, but arrived 45 minutes ago!
@jozefchutka No I have no idea, sorry.

[2022-10-11 10:06] sajjadarashhh commented on #2678
yeah i can please wait i reproduce that repo to make easier to understan our problem.
thanks

[2022-10-11 11:48] Wizard13 commented on #2863
I usually check this page, but it doesn't appear immediately: https://learn.microsoft.com/en-us/microsoft-edge/webview2/release-notes

[2022-10-11 11:58] ajtruckle commented on #2863
Thanks. Useful link.

Indeed, I see it has not been updated since July.

[2022-10-11 12:22] Methuselah96 commented on #2787
@plantree There's no reason I can't return a result, but it's a painful gotcha especially since the error message does not explain the problem.

My usage scenario is that I'm making a server call from the host object, but I don't need to return anything.

[2022-10-11 12:48] djsakariya opened #2864 "WebVew2: BrowserExecutableFolder is not working"
Hi there,

I would like to use fixed version as per https://learn.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution#deploying-the-evergreen-webview2-runtime

I have set properties in xmls  as below
![image](https://user-images.githubusercontent.com/110444282/195093992-d47fa113-b16c-4d27-b3f7-096b9c9ffae2.png)

I created MSI and installed it.
At runtime it throws an exception "The p

[2022-10-11 12:57] RendijsSmukulis opened #2865 "WebView2 sending typed form contents to nleditor.osi.office.net"
**Description**

After updating runtime to `106.0.1370.37` we noticed that whenever user is typing into a form, the text is sent off to a Microsoft endpoint, the text is in the see the following json's Content.TileElements.Text field:

[code]

This appears to be a spelling/grammar service. Sending the user-typed text is a significant privacy issue for us - is there a flag or some other way to disa

[2022-10-11 13:14] Wizard13 commented on #2863
It was last updated 3 days ago, it has the changelog for the previous SDK, it will updated soon for 1.0.1370.28

[2022-10-11 13:19] ajtruckle commented on #2863
Sorry, blame me for being British. I read 10/07 as 10th July and not 7th October.

[2022-10-11 13:24] ManojPatelA commented on #820
Is this issue resolved with any particular office version ? I have outlook VSTO plugin with webview2 control and with that somehow I am unable to reproduce. My office version is 2108 and have default "Optimize for best appearance" selected.

[2022-10-11 13:41] irgendwienet opened #2866 "CoreWebView2.Settings.HiddenPdfToolbarItems: When hidingBookmarks, Search and PageSelector the toolbar gets lost"
**Description**

With the following configuration one can hide buttons in the pdf toolbar.

            wv.CoreWebView2.Settings.HiddenPdfToolbarItems =
                | CoreWebView2PdfToolbarItems.Bookmarks
                | CoreWebView2PdfToolbarItems.Search
                | CoreWebView2PdfToolbarItems.PageSelector

When only hiding one or two of theses (!) 3 buttons the buttons are hidden and

[2022-10-11 13:50] irgendwienet opened #2867 "Configure slide-in animation for pdf-viewer-toolbar"
We are using the WebView2 in a WPF application as an PDF-viewer-control. That works pretty good!

When navigating from one PDF to the next (by updating the `Source`-property of WebView2 to another URI containing a pdf) the screen gets cleared (fair enough) and then the new PDF gets rendered. After rendering the PDF toolbar slides from the top into the view.

For my users the Webview is just a PDF

[2022-10-11 14:13] ErikSkaarup commented on #2495
I can replicate the same issue, by loading a Word JS Add in (e.g Wikipedia) and open the add in and then activate my VSTO addin which requires webview2.

![image](https://user-images.githubusercontent.com/92716439/195114829-281e79be-0556-4d56-a15f-596de55c7bc5.png)

Word JS addin uses WebView2 now as the default HTML browser there is a conflict, @jairbubbles  is not working in this case.

[2022-10-11 16:24] vickiez commented on #2839
Thanks for clarifying @syumi-1, adding @monica-ch who may know more.

[2022-10-11 16:51] cheide-beta opened #2868 "WebView2 initialization timeout when launched on the Winlogon lock/login screen"
**Description**
Hello! We have an application that is launched by a custom credential provider when the user clicks a link on the winlogon login or lock screen. This is currently an MFC application using the CHtmlView control, but we are trying to migrate it to a WPF app using WebView2.

When the credential provider launches it, the main WPF app window appears, but the WebView2 control fails to in

[2022-10-11 17:04] darbid commented on #2180
@champnic 21 days ago I supplied an example of the error I see, is my code ok to illustrate the issue?

[2022-10-11 18:49] Wizard13 commented on #2863
This is a problem for me, too!

[2022-10-11 20:41] champnic commented on #2180
Hey @darbid - I don't think we've had a chance to revisit this issue yet, but thanks for the code and repro app.

@Optimierungswerfer Thanks for the extra details. We'll take a look at why the WinRT projection is running into this.

[2022-10-11 20:41] metrogary opened #2869 "Updating textbox on a web page in vb.net WebView2"
I'm updating a textbox on a webpage in vb.net WebView2 using the this command        Dim jQuery As String = "document.querySelector(" & Chr(34) & "input[name='order.parcels.0.totalWeight']" & Chr(34) & ").value='4.409'"
        Await WebView21.ExecuteScriptAsync(jQuery)

This does insert the value into the textbox however, when I click on the textbox again, the value reverts back to the old value.

[2022-10-11 21:11] tochukwuIbeEkeocha commented on #2345
Hello,

A PR which disables Visual Search on WebView2 has just been checked in. The update should be a part of the next release. Please feel free to reopen if the issue persists after that.

[2022-10-11 21:11] #2345 closed

[2022-10-12 01:38] sajjadarashhh commented on #2678
@yizhao5 i commit again that repo please get that and trying to start project with .net 6
that project when starting freezed due to webView2 Dont support single thread operations
SteveSandersonMS described Here :https://github.com/dotnet/maui/issues/5804#issuecomment-1168617027

[2022-10-12 04:36] darbid commented on #2869
I know it's frustrating when things don't work but I think this forum here is more for issues with the Webview2 itself and not so much about JavaScript.

What I could suggest is you ask your question on https://stackoverflow.com with the url of the website you have this issue with and then close this here with a link to your question.

Please add the url of the website.

[2022-10-12 04:38] darbid commented on #2180
All good, just wanted to make sure it's on your todo list somewhere.

[2022-10-12 04:53] monica-ch commented on #2839
@syumi-1 I am not able to repro the crash from our win32 sample app. Webview2 is able to successfully queue the document in the printer spooler when printer is offline.

Do you also see the crash when you print the document to the offline printer by clicking `Print` from the context menu with `--kiosk-printing`?

Also, what do you see when you print to a printer which is online with below code?
[c

[2022-10-12 05:30] syumi-1 commented on #2839
@monica-ch
Sorry, I can't reproduce that program crash either
Maybe it's a null pointer error that occurs when the program is opened a second time due to closing the application during printing
Now I use network printer is normal
Thank you

[2022-10-12 05:35] Airwolf1544 commented on #2860
Seeing the same problem on Windows Server 2019 (Terminalserver) with installed WebView2 Runtime Version 106.0.1370.42.
This issue also happens if there is one or more of these characters in the folderpath.

[2022-10-12 06:48] ElyssaJyu commented on #2862
Hi @wilva,
since setting change to `UserAgent` is made after `NavigationStarting` event, it won't be applied until the next top-level navigation, as documented in [CoreWebView2Settings](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2settings?view=webview2-dotnet-1.0.902.49). You will need to wait for the initialization to complete to get the property from the

[2022-10-12 08:03] SmRiley commented on #2806
The problem seems to disappear after I update WebView2 to 1.0.1370.28 and VS to 17.3.6

[2022-10-12 08:22] plantree commented on #2787
Hi @Methuselah96,

What you said might be a potential problem, and I have added it to our backlog and will try to find a solution. I will sync with you then.

Meanwhile, `return Task<T>` could be used as a temporary workaround.

[2022-10-12 08:59] yoursen commented on #2806
Confirmed, worked after update to 1.0.1370.28

[2022-10-12 10:58] KaiSoelter commented on #2160
Hi @champnic,

Are there any news on this?
UWP still crash from store.

Best regards
Kai

[2022-10-12 11:03] yizhao5 commented on #2605
@developernotes. Excuse me. Has your problem been solved? Where do you put this sample code?

I modified your sample code and put it in the `EnsureCoreWebView2Async` function of `WebView2.cs`. As shown below.
[code]
The verification is passed and no exception is thrown.
Please check, or any other questions. Thanks.

[2022-10-12 11:13] wilva commented on #2862
Hello @ElyssaJyu,

That makes sense, thank you.
The problem is that it still does not appear to work well. I have tested it a number of times and sometimes it appears to work like that and -at least for me- most of the time it does not.

To stay with the example from above. First set the .Source in MainWindow.xaml above to an empty string.
eg.
[code]
So now no site is loaded on starting the demo a

[2022-10-12 11:21] wilva commented on #2862
FWIW. I'm also seeing this in the Win32 interface where I am setting the UserAgent during creation and then navigate manually from a button. In that case the WebView2 control is created long before navigation happens.

[2022-10-12 12:48] djsakariya opened #2870 "WebView2Loader referenced from loading sequence of dll"
**Description**

WebView2 take references of webviewloader.dll which is loaded first even though webview2loader.dll loads from specified path.

I would like to use WebView2Loader from specific path. Hence, I have set the path where WebView2Loader.dll is resides.
 CoreWebView2Environment.SetLoaderDllFolderPath(loaderFolderUri);

Error Message : "Specific Cast is not valid."

**Version**
SDK:  1.0.1

[2022-10-12 12:59] sajjadarashhh commented on #2678
that errors just in your local pc you need .net 6.0.5 and Visual studio 2022 Preview to compile this project!

[2022-10-12 13:27] ArjanGr14 opened #2871 "Max message content size?"
Is there a max size on the amount of data you can send using CoreWebView2.Environment.CreateWebResourceRequest()? Because when I am sending a MemoryStream with more than 50mb in one message
![afbeelding](https://user-images.githubusercontent.com/90838556/195354992-6f2cb72b-b323-41f5-8fb6-d55dffafbe0a.png)

I get this
![image (3)](https://user-images.githubusercontent.com/90838556/195354565-513a483

[2022-10-12 14:06] developernotes commented on #2605
Hi @yizhao5

Thank you for your reply. We have been unable to reproduce the crash, however, this issue was reported from one of our customers. We plan to update the `Microsoft.Web.WebView2` NuGet package. Our usage might look something like this within a WPF application:

`SomeWindow.xaml.cs:`
[code]

`WebView2Builder.cs:`

[code]

Does this usage appear to be correct?

Thank you,

[2022-10-12 14:19] kirsan31 opened #2872 "CoreWebView2 members cannot be accessed after the WebView2 control is disposed Exception in CoreWebView2.Reload"
**Description**
The bug is sporadic on several machines. It seems that it is tied to the simultaneous initialization of several WebView2...
[code]

**Version**
SDK: 1.0.1343.22
Runtime: 106.0.1370.34 and 106.0.1370.37
Framework: WinForms .Net6
Windows 10 Pro (Microsoft Windows 10.0.19043) and Windows 10 Pro x64 (6.1.7601 Service Pack 1).

**Repro Steps**

Unfortunately, I could not make a 100% rep

[2022-10-12 16:22] aluhrs13 commented on #2863
@ajtruckle / @Wizard13 If you scroll to the bottom and hit "English (United States)" you can change to "English (United Kingdom)" it will change the date formatting to be what you expect. You can also change "en-us" in the URL to "en-gb" to get the same change quicker. Note this won't fix other confusing differences like the lack of the letter 'u' in the description of CoreWebView2Color 😋

Note to

[2022-10-12 18:26] mikeduglas opened #2873 "The drag and drop API in WinForms"
How can I use just intoduced drag and drop API in WinForms? I registered all drag-n-drop events
[code]
but no one is ever raised.

Also there is new CoreWebView2CompositionController.DragLeave method which is not accessible in Winforms, because I have no way to get a CoreWebView2CompositionController instance. Or maybe there is a way, but I can't find it.

SDK: 1.0.1370.28
Platform: WinForms

[2022-10-12 18:39] jdanh26 commented on #2727
Hey so I'm still having this issue when windows does an automatic update.

I checked the WEBVIEW2_BROWSER_EXECUTABLE_FOLDER environment variable and there's nothing there.

I also tried hardcoding to the path of the webview2 folder
[code]

But getting the "Couldn't find a compatible Webview2 Runtime installation to host WebViews."

It's basically not recognizing that webview2 is installed when it

[2022-10-12 20:50] jdanh26 commented on #2727
hey so I was able to resolve it by doing the following:
1. Uninstalling webview2 runtime
2. Deleting the folders in C:\Program Files (x86)\Microsoft (Edge, EdgeUpdate, EdgeCore)
3. Downloading and installing Microsoft Edge
4. Downloading and installing WebView2 Evergreen Bootstrapper

Doing these steps seemed to make it work. I'll keep an eye if it bugs out again when windows automatically updates

[2022-10-12 21:20] thanhle7 commented on #1223
My solution is to remove Edge and disable its update using regedit.

[2022-10-12 22:22] champnic commented on #2160
Hey @KaiSoelter - I don't think anyone's taken a look at this recently. Do you have a latest sample app and/or crash dump we can take a look at? The previous dump didn't seem to have any signals as to what may be going wrong.

[2022-10-12 22:24] champnic commented on #2180
It is likely that the issue is in the underlying COM implementation (which both the WinRT and .NET projections are built on) though you described some symptoms that seemed unique so far.

[2022-10-13 03:53] yizhao5 commented on #2605
@developernotes. Can you give a sample code to reproduce your production environment? If I use your pseudocode to build it myself, it may go in a different direction.

[2022-10-13 05:36] victorthoang commented on #2873
Hello @mikeduglas,

Thanks for your inquiry. I've assigned your question to a dev that might best answer your question.

[2022-10-13 05:40] victorthoang commented on #2867
Hello @irgendwienet,

Thanks for your feature request. We've added this to our backlog. Please allow some time for us at the end of our sprint to appropriately prioritize this amongst other feature requests.

[2022-10-13 05:43] victorthoang commented on #2872
Hello @kirsan31,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-10-13 05:43] zewt commented on #2865
This would be a significant privacy issue for everybody.  Has anybody confirmed this?  I don't want to knee-jerk, but this is a critical bug if accurate.  It's too late for me to look at it right now, but I'll try to take a look tomorrow.

[2022-10-13 05:44] victorthoang commented on #2871
Hello @ArjanGr14,

Thanks for your inquiry. I've assigned your question to a dev that might best answer your question.

[2022-10-13 05:45] victorthoang commented on #2870
Hello @djsakariya,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-10-13 05:48] victorthoang commented on #2868
Hello @cheide-beta,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-10-13 05:49] victorthoang commented on #2866
Hello @irgendwienet,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-10-13 05:51] victorthoang commented on #2865
Hello @RendijsSmukulis,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-10-13 05:54] victorthoang commented on #2864
Hello @djsakariya,

Thanks for your question. I've assigned your question to a dev that might best answer your question.

[2022-10-13 06:00] victorthoang commented on #2861
Hello @michal-puczynski,

Thanks for your inquiry. I've assigned your question to a dev that might best answer your question.

@LiangTheDev, would you have any thoughts regarding this? Perhaps one of our colleagues?

[2022-10-13 07:56] KaiSoelter commented on #2160
Hi @champnic

Yes. Latest version is in the store.
https://www.microsoft.com/store/apps/9PJ9B04ZQPBZ
Compiled with the latest stable

.NETCore.UWP 6.2.14
Microsoft.UI.XAML 2.8.1
Microsoft.Web.WebView2 1.0.1370.28

Best Regards
Kai

[2022-10-13 08:10] ElyssaJyu commented on #2862
Hi @wilva,
Whether leave `Source` as blank or enter "https://www.whatismybrowser.com/", when you load the demo, `UserAgent` hasn't been set until you click "Go" button on URL bar.

[2022-10-13 09:33] ranaprathap2 commented on #1244
Hi Guys, Any update on this ?

[2022-10-13 11:20] tiagoabreu opened #2874 "Failure to initialize WebView2 (0x8007139F)"
I am unsure if it is a bug or not, so initially will have it as a question.

We have a VSTO add-in that uses WebView2 that we deploy to various Office applications. (Word, Excel and PowerPoint).
Most of the code case (including WebView2 related code) is shared between them, there are no differences on how it is setup, but
we have a different userdata folder per application.
We have users reporting

[2022-10-13 12:30] VoidExploiter opened #2875 "Webview2 on top of another webview2 causes content to overflow"
**Description**
Webview2 on top of another webview2 causes content to overflow. The content from the webview on top overflows to the one in the below.

**Version**
SDK: 1.1.5
Runtime:  106.0.1370.42  and below
Framework: WindowsAppSDK
OS: Win10 & 11

**Repro Steps**
Step 1 : Have a webview2 in a Page, Now show another webview in popup(ContentDialog).
Step 2 : Scroll the webview2 in popup it will o

[2022-10-13 15:20] fvanheeswijk opened #2876 "Spellcheck menu suddenly appears when clicking on a misspelled word"
Since Microsoft Edge WebView2 Runtime version 106.0.1370.42 suddenly we have a spellcheck menu when an user clicks on a misspelled word. Even more, when they double-click to select a word it doesn't work.

Can this behavior get reverted as soon as possible? We don't intend and expect to have functionality when merely clicking on a word.

[AB#41794907](https://microsoft.visualstudio.com/90b2a23c-ca

[2022-10-13 17:28] Eudritch commented on #600
Please let me know if anyone manages to send keyboard or mouse input into webview and how you did it.

[2022-10-13 18:15] nishitha-burman commented on #2442
Hi @q71114,

Can you share more details on the screen share permission? Is there an existing screen share permission you are thinking about?

Thank you

[2022-10-13 18:47] champnic commented on #2160
Hey @KaiSoelter - I took another look, and it is indeed still crashing. From what I can tell it looks like it's crashing before it's trying to load any WebView2 code. At the time of the crash, WebView2Loader.dll has not been loaded. It also looks like the WEBVIEW2_BROWSER_EXECUTABLE_FOLDER environment variable is not set for picking up the Fixed Version runtime location.

Does the app work correct

[2022-10-13 18:55] champnic commented on #1244
Hey @ranaprathap2 - no update here, we haven't had a chance to look into this one closely yet.

[2022-10-13 19:10] EnigmaV8 commented on #81
We have the exact same enterprise scenario except LastPass is our password filler.  We have some older internal web apps running on WebView2 that still use Basic Auth.  Sure would be nice if our LastPass extension could be utilized instead of requiring wasted time of additional authentication.  (use to work when run under Internet Explorer because they could simply same the credential natively)

[2022-10-13 22:24] tochukwuIbeEkeocha commented on #1907
Hello all,

So upon further investigation it seems like a switch/command-line arg that enables this may have already been implemented. Try running your WebVew2 applications with the following  `--enable-features=allow-run-as-system`. I believe you could use [this](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2environmentoptions.additionalbrowserarguments?view

[2022-10-13 22:41] victorthoang commented on #2874
Hello @tiagoabreu,

Thanks for your inquiry. I've assigned your question to a dev that might best answer your question.

[2022-10-13 22:44] victorthoang commented on #2875
Hello @VoidExploiter,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-10-13 23:02] champnic commented on #2876
@fvanheeswijk Sorry you're running into this. Would you be able to share a screenshot or gif/video to make sure I understand what you are seeing? Thanks!

[2022-10-14 00:00] LiangTheDev commented on #2864
Could you share the stack of the exception? I am thinking whether the exception is for something else. I don't see WebView2 code throw that exception for BrowserExecutableFolder.

[2022-10-14 00:37] LiangTheDev commented on #2861
I am not an expert on this. But I think that it is blocked due to mixed content, that is http resources are blocked in https pages.

localhost is special as we know that it is local files and not subject to man in the middle attack, and it is often treated specially.

CSP and mixed content check both has to pass before a sub resource can be loaded.

You could try to use --unsafely-treat-insecure-o

[2022-10-14 01:58] clock75 opened #2877 "MFC MDI app using WebView2 goes unresponsive"
**Description**
This occurs while creating multiple MDI ChildFrame containing a WebView2 control.
MDI ChildFrame is created and after a while it is not responding.

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//Call Stack

win32u.dll!_NtUserSetWindowLong@16()
user32.dll!_SetWindowLong()
user32.dl

[2022-10-14 03:20] plantree commented on #2840
Hi @ztanczos,

I don't get your point. Did you mean that calling a method in js which is not defined in C# will cause exception?

[2022-10-14 04:01] yanxiaodi commented on #2842
That's not an intuitive way to use this API. As a user, when I use `await devToolsProtocolHelper.Fetch.EnableAsync(patterns);`, the parameter has the `RequestPattern[]` type. Users would not know why it needs a `ExpandoObject`.

I think that's an error of the wrapper?

[2022-10-14 04:05] ztanczos commented on #2840
Hi @plantree,
No, the method _is_ defined, but there is still an exception which is handled internally by WebView2, so there is no crash, just performance penalty.

However if I define another method with camelCasing then there is no exception and the originally defined PascalCased method is called. This is why I think this is a bug in WebView2.

[2022-10-14 06:02] plantree commented on #2840
I saw you define `DoSomething()` in C# and call `doSomething()` in JS, will there be any problem?

[2022-10-14 06:04] monica-ch commented on #42
Hi all, we have shipped Print APIs as experimental in the 1.0.1414 pre-release package: [https://learn.microsoft.com/en-us/microsoft-edge/webview2/release-notes?tabs=dotnetcsharp#experimental-features](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com%2Fen-us%2Fmicrosoft-edge%2Fwebview2%2Frelease-notes%3Ftabs%3Ddotnetcsharp%23experimental-features&data=05%7C01%7

[2022-10-14 06:05] monica-ch commented on #1331
Hi all, we have shipped Print APIs as experimental in the 1.0.1414 pre-release package: [https://learn.microsoft.com/en-us/microsoft-edge/webview2/release-notes?tabs=dotnetcsharp#experimental-features](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com%2Fen-us%2Fmicrosoft-edge%2Fwebview2%2Frelease-notes%3Ftabs%3Ddotnetcsharp%23experimental-features&data=05%7C01%7

[2022-10-14 06:10] plantree commented on #2692
Hi @elad-dp,

In this scenario, it might be OK to perform the cleanup and shutodown, because after performing WebView2 uninstallation, the runtime doesn't exist and applications which use WebView2 couldn't work correctly as they should.

[2022-10-14 06:10] ztanczos commented on #2840
As I said in the original description: if I add two C# methods with both casing: doSomething and DoSomething then there is no exception HOWEVER DoSomething is called even though I called doSomething() from Javascript.

[2022-10-14 07:06] ElyssaJyu commented on #2852
Hi @NENCAO, can you provide the sample code for us to reproduce the issue?

[2022-10-14 07:24] yizhao5 commented on #2678
Yes. Thanks. After I replace Visual Studio 2022 with Visual Studio 2022 Preview, I can successfully compile your project.

[2022-10-14 07:40] djsakariya commented on #2864
Hi @LiangTheDev
Below is the log :
ERROR  - DaloopaExcelAddin.Views.SelectFundamentalsView+<InitializeWebView2Async>d__1 : The path is not of a legal form. :    at System.IO.Path.LegacyNormalizePath(String path, Boolean fullCheck, Int32 maxPathLength, Boolean expandShortPaths)
   at System.IO.Path.InternalGetDirectoryName(String path)
   at Microsoft.Web.WebView2.Core.CoreWebView2Environment.GetAs

[2022-10-14 08:03] elad-dp commented on #2692
well, it depends on the type of the application. for example, our application has various functionalities. even if WebView2 is uninstalled the application should not shut down. it still offers other functionalities...

[2022-10-14 08:07] yizhao5 commented on #2678
@sajjadarashhh. Hello.

1. Cause Analysis:

Your project is a .NET MAUI Blazor app. Your problem is that the window will hang.

I've seen that comment you said and debugged it myself on my local machine. I preliminary located the problem with the following code block in the `Main.razor` file. If I remove the `@code {}` or just delete this line `JsRuntime.InvokeVoidAsync("window.location.reload").C

[2022-10-14 08:18] michal-puczynski commented on #2861
How does it translate to API calls to WebView2 component? Is that something I can change from within .net MAUI application?

[2022-10-14 08:32] fvanheeswijk commented on #2876
@champnic I attached a screenshot of what we are seeing when we simply click on the misspelled word.

![spellcheck menu](https://user-images.githubusercontent.com/38075645/195800987-c11f97c4-ea0d-4851-8226-7cbdc09e1a49.png)

[2022-10-14 08:38] sajjadarashhh commented on #2678
@yizhao5 yeah this ok
but we have problem in getter or setter in properties when we wana to use .GetResult windows is hanged
try to using .GetResult in synchronous method.

[2022-10-14 08:39] mikeduglas commented on #2876
Same here.

[2022-10-14 08:51] yizhao5 commented on #2678
![image](https://user-images.githubusercontent.com/109595412/195803868-cb5950cb-e810-4961-a0fd-814bb07d9d76.png)
@sajjadarashhh. The awaiter.IsCompleted is true, which means it's done. I think it might be a problem with your business code, which keeps loading.

[2022-10-14 08:54] plantree commented on #2692
You are right. As I know, if WebView2 is uninstalled, the better choice might be restarting the application and changing to a mode without WebView2, instead of running incorrectly。

[2022-10-14 08:58] finepeilei opened #2878 "It takes uncertainly long time between NavigationStarting event and WebResourceRequested event when first run Webview2 in application"
**Description**

when start to use WebView2 to create our application, we find that the application start slow to navigate to our target url at the application **launch first time**, and we find the first launch will create a file folder under the application which look like "xxxEBWebView", once we delete the folder it will occur like the first time launch, take more times than the second launch t

[2022-10-14 10:08] q71114 commented on #2442
Hi @nishitha-burman,

Ideally we would like to have the same controls over screen sharing permission as with geolocation / camera / microphone permissions:
- Programmatically allow / reject / clear permission for specific domains
- Pause / stop / resume ongoing screen sharing sessions
- Status update to display custom indicator

[2022-10-14 10:45] yizhao5 commented on #2678
@sajjadarashhh. Hello.

1. Cause Analysis:

I think I know why it refreshes frequently and has been hanging. Because you use `"window.location.reload"` in function `OnInitializedAsync()`. Function `OnInitializedAsync()` will be triggered again after `"window.location.reload"`. This forms a loop, so it is frequently refreshed and cannot be clicked.

2. Example of fixing:

FreezeProblem\Main.razor

[2022-10-14 10:59] wilva commented on #2862
Hi @ElyssaJyu ,

I do not see setting UserAgent triggering the NavigationStarting event.

Following my steps, that I described above, I see the following happen:
1. The control gets created by selecting the "Increase Zoom" menu option.
2. During WebView_CoreWebView2InitializationCompleted event, the UserAgent is set to "FooBar".
3. The control is rendered, the URL bar shows "about:blank".
4. There

[2022-10-14 11:26] sajjadarashhh commented on #2678
@yizhao5 no this not problem
We wana to use synchronous version of IJSInProcessRunTime!
That's not support by webview2
And we wana new feature that support this or tell we how to use this

[2022-10-14 12:02] Iucapad commented on #2482
I hope it gets fixed at some point🤞

[2022-10-14 12:08] gh615 commented on #2806
I haven't tried yet, but thank you for your reply and fix.

[2022-10-14 12:08] #2806 closed

[2022-10-14 12:42] nsandeep87 commented on #2529
Even I am facing the same issue that @koenvd has raised.
@david-risney :   We are trying to migrate UWP+JS project to WinUI3 and Webview2. Is it safe to assume  that WinUI3 can consume wv2winrt, but but at this point due to some glitch we are not able to find the namespace. Also could you please  provide any guidance as to why the namespace is not available.

[2022-10-14 14:30] agenne opened #2879 "How to provide an instance of MyObject via AddHostObjectToScript and not only a namespace"
Hi,
we try to find a strategy for migration of our WebView Bridge to WebView2.
Platform **UWP**

The documentation in this post is working for us:
https://learn.microsoft.com/en-us/microsoft-edge/webview2/how-to/winrt-from-js?tabs=csharp

Our problem is, that we can only provide a namespace this way. But what we need is to provide an already created instance of an object. Is that possible somehow?

[2022-10-14 14:38] lightheart33 commented on #1907
Hello @tochukwulbeEkeo,

Thank a lot for looking into this, but be warned, it might not be easy.

I have tried your suggestion with --enable-features=allow-run-as-system,
unfortunately it didn't solve the issue for the Windows prelogon case,
attempting calling CreateCoreWebView2Controller and CreateCoreWebView2ControllerWithOptions,
both landed in the OnCreateWebViewControllerCompleted handler wit

[2022-10-14 14:48] ajtruckle commented on #1488
@monica-ch You have been recently adding [comments](https://github.com/MicrosoftEdge/WebView2Feedback/issues/1331) about the new print APIs. But I still don't see a viable solution that is straightforward for when we want a full screen print preview. I again ask that this be given some attention or a viable sample application using the new print API.

Thank you.

[2022-10-14 15:18] wilva commented on #2862
Hi,

I kept wondering why you keep on insisting that your link negated my point of view as -when I read it- it actually seems to confirm my view. Turns out that the example WebView2WpfBrowser had changed since I had last downloaded it, I can see how that makes it a bit more confusing.

The StartPageUri logic did not exist in my version... so I updated to the version from today and my notes from ab

[2022-10-14 16:01] vmeganathan81 commented on #1314
@champnic ... could we get beta release of webview2 in macOS so we can start some work on it?

[2022-10-14 16:36] LiangTheDev commented on #2864
The issue is about failure to get directory of the WebView2 SDK dll (Microsoft.Web.WebView2.Core.dll). It should be a bug. Since you are under debugger, could you check what is the value of path in System.IO.Path.InternalGetDirectoryName(String path)?

To workaround this issue, you could specify the folder where WebView2Loader.dll is located by calling the static [CoreWebView2Environment.SetLoader

[2022-10-14 16:54] LiangTheDev commented on #2861
I don't know how MAUI uses WebView2, so can only give clues. Check https://stackoverflow.com/questions/67882953/disabling-of-web-security-when-using-webview2-in-c-sharp-coding-environment to see whether you can find the place to add similar code to your application.
If that doesn't work out, you can try to set environment variable WEBVIEW2_ADDITIONAL_BROWSER_ARGUMENTS with the desired command line

[2022-10-14 18:44] champnic commented on #2876
We've added this as a bug on our backlog. In general though, WebView2 will match the behavior of the browser, so this may be expected as a new feature.

If you'd like to disable it, I've just tested and it looks like msUseSpellCheckCorrectionsCard is the flag name. You can disable by setting the extra browser arguments:
`--disable-features=msUseSpellCheckCorrectionsCard`

[2022-10-14 22:15] jeremiahjordanisaacson commented on #2311
This error can occur if you don't handle a link (<a> tag) that points to target="_blank" (e.g., the browser tries to open the page in a new tab but can't). As a solution, handle the redirect and force the browser to open into the same window.

[2022-10-15 05:46] darbid opened #2880 "How to differentiate between a browser automatically downloading a file and downloading a file from a users manual PDF Save/Save image Choice?"
I have an intranet site which always opens new windows for links to files. It is difficult to assume or detect from the Url if it will result in a file download or not.  This means that I have to handle the NewWindow event, passing it my new instance of a Webview2.

**General Case**
The new instance of Webview2 sometimes will receive a response with a [Content-Disposition, attachment; filename="XX

[2022-10-15 14:23] FANMixco commented on #2015
`AutoDual` says that is obsolete also:

![image](https://user-images.githubusercontent.com/1666156/195991547-ddfcf756-3144-4552-965b-e14dc2d78cb4.png)

[2022-10-15 17:49] StefanoCbt opened #2881 "White flash between page navigation"
**Description**
Paint holding on same origin (this should be already implemented in Chromium). So no white flash on same origin navigation.

**Version**
106.0.1370.42
OS: Windows 10/11 64 bit

**Repro Steps**
go to this page: https://adminlte.io/themes/v3/pages/UI/navbar.html
navigate using left sidebar menu
randomly you encounter rendering flashes

**Additional context**
This is the chromium bug:

[2022-10-15 20:35] FANMixco commented on #2754
Hi David, most likely this is what @epaezrubio needed. However, this should be documented better. Currently, I felt like a bad joke that I had to guess a lot of code from this "branch":
https://github.com/MicrosoftEdge/WebView2Samples/compare/uwp-wv2winrt-custom-csharp-winrt

<img width="375" alt="image" src="https://user-images.githubusercontent.com/1666156/196006413-0716d63c-c3ef-425a-b949-6d9b4

[2022-10-16 07:33] ajtruckle opened #2882 "Support for XSLT2 transformations (and newer)"
At the moment we only support XSLT1 translations, which is fabulous. But what about newer versions of XSLT?

[AB#41838043](https://microsoft.visualstudio.com/90b2a23c-cab8-4e7c-90e7-a977f32c1f5d/_workitems/edit/41838043)

[2022-10-16 08:35] NeuroXiq opened #2883 "Is EC Public Key bytes displayed correctly (in devtools)?"
Hello,
I got a question about displayed elliptic curve public key bytes  in certificate preview.
Steps:
1. Open https://www.github.com
2. Click F12
3. Go to 'Security' Tab
4. Click 'View Certificate'
5. 'In Certificate preview' -> Click Details
6. 'In Certificate preview' -> Find and show 'Subject Public Key'

So I can see there a Github EC public key:

`00 04 4A B0 93 71 85 21 EC 62 3F CB 74 C0 4

[2022-10-16 08:57] FANMixco commented on #2754
I wrote this full tutorial:

https://supernovaic.blogspot.com/2022/10/from-webview-to-webview2-in-uwp.html

[2022-10-16 23:14] starkdm opened #2884 "Couldn't find a compatible Webview2 Runtime installation to host WebViews."
Why am I getting this exception on Windows Server 2022, while my work computer (Windows 10) has the same WebView2 Runtime version installed and everything works fine?

EnsureCoreWebView2Async throws:
Microsoft.Web.WebView2.Core.WebView2RuntimeNotFoundException: Couldn't find a compatible Webview2 Runtime installation to host WebViews.
InnerException: System.IO.FileNotFoundException: The system can

[2022-10-17 02:50] yunate commented on #2849
It seems a bug, and I am looking into it.

[2022-10-17 06:29] NENCAO commented on #2852
@ElyssaJyu [https://drive.google.com/file/d/1s_cF5pfoQhHk9izFIBDKH0SrnNlvuPm1/view?usp=sharing](project) I'll upload it to the cloud, thank you

[2022-10-17 06:48] ElyssaJyu commented on #2862
Let me organize: What I replied above does not try to negate your point, but to explain why it cannot be effective on the first navigation, and works on the second time
Also, I reproduce the demo by the steps.
- Based on your setting, select the "Increase Zoom" menu option, initialization of the control's CoreWebView2 triggers.
- During `WebView_CoreWebView2InitializationCompleted` event, the `Use

[2022-10-17 07:01] yizhao5 commented on #2678
@sajjadarashhh. A bug is a bug. A feature is a feature.

Firstly, you didn't fill in the issue template, so I read your link https://github.com/dotnet/maui/issues/5804#issuecomment-1168617027, and [public GitHub repo](https://github.com/sajjadarashhh/Dotnet.TestMauiFreeze) and communicated, and found that it was the freeze problem of the MAUI app.
![image](https://user-images.githubusercontent.com

[2022-10-17 07:09] sajjadarashhh commented on #2678
@yizhao5 Thank you for your described details.

[2022-10-17 07:30] plantree commented on #2840
Hi @ztanczos,

Thanks for your feedback. It seems that it is a implementation issue and I have already added it to our internal backlog. The current workaround might be **matching the definition and usage of the methods**.

The reason could be found in this [IDispatch::GetIDsOfNames method (oaidl.h)](https://learn.microsoft.com/en-us/windows/win32/api/oaidl/nf-oaidl-idispatch-getidsofnames):

I'll

[2022-10-17 07:38] TakuyaCel opened #2885 "Sometimes event handler does not call properly when calling `ICoreWebView2Environment::CreateCoreWebView2Controller` multiple times at once on some environments"
As I described in the title, sometimes the event handler does not call properly when calling `ICoreWebView2Environment::CreateCoreWebView2Controller` multiple times at once on some environments.
Also, processes do not come back in the part which breaks WebView such as `ICoreWebView2Controller::Close` as well.

Issue seems to be due the code which I have modified from the sample code.
Sample code w

[2022-10-17 08:13] ElyssaJyu commented on #2852
@NENCAO I rerun the sample but didn't see the exception message you provide above. The demo opens the PowerPoint on my side.  Then I create a new PowerPoint template. On the left upper corner, there is a new tab "tab 1" as you design.
![image](https://user-images.githubusercontent.com/111425758/196123599-cb7e2c57-0b38-4853-a4cc-1a57aae4656e.png)

[2022-10-17 08:46] wilva commented on #2862
Thank you @ElyssaJyu.

So is it not possible for the WebView2 control to use a different UserAgent on the first navigation?
Am I doing something wrong?

[2022-10-17 08:59] ElyssaJyu commented on #2862
Unfortunately, by current design, the change to the UserAgent cannot get applied on the first navigation (the same situation on Win32 sample). But we will discuss your suggestion internally. And will let you know if anything changes. Thanks.

[2022-10-17 09:02] wilva commented on #2862
Ok.

Thanks for changing it into a feature request as that was indeed my next question.

[2022-10-17 09:24] lightheart33 commented on #1907
**@tochukwulbeEkeo:**
You asked for a way to reproduce it, here is a tested one using only Microsoft Samples.
With these step-by-step instructions you can try it out yourself, and locate the real issue.

**Instructions:**

To reproduce the issue, you need a **Windows Credential Provider**:

1. Download the Microsoft Windows Credential Provider Samples:
   https://www.microsoft.com/en-us/download/d

[2022-10-17 09:24] yunate commented on #2849
Hi @BrianRoach!
Could you help to test the WPF sample[WPF sample](https://github.com/MicrosoftEdge/WebView2Samples/tree/main/SampleApps/WebView2WpfBrowser) with the page to see if it works well?

[2022-10-17 09:28] yizhao5 commented on #2605
@developernotes. According to your error message `(Exception from HRESULT: 0x80070002)`, it should be that ClientDll was not found, such as `WebView2Loader.dll`. Please install the [SDK](https://www.nuget.org/packages/Microsoft.Web.WebView2) by VS project and [Evergreen Runtime](https://developer.microsoft.com/en-us/microsoft-edge/webview2/) of Webview2.

As for the more specific reason, since the

[2022-10-17 13:52] BrianRoach commented on #2849
Hi @yunate  - I will give it a shot!  Thanks!

[2022-10-17 14:08] bpassaro95 commented on #1825
@baseline808 I tried calling the code way sooner but still having issues when trying to reach files using the custom scheme.

lets say my the custom url of the file I'm trying to reach is "mycustomscheme://./Scripts/Organization/Documents/bubblesort.js"

I've tried using the examples provided on the documentation [https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview

[2022-10-17 18:35] champnic commented on #1727
We've just checked in a fix for the hang. There's a smaller remaining issue where a small region around the find bar will eat mouse clicks that we're working on, but at least the app is still usable. The workaround for the user in that case would be to close the find bar. The hang fix is available in runtimes 107.0.1418.11+ and 108.0.1432.0+. Thanks!

[2022-10-17 18:55] elad-dp commented on #2692
Hi @plantree, our application should not shut down in case of WebView2 uninstallation. The SessionEnding event should not be raised in that case since it causes our application to shut down.

[2022-10-17 20:30] GJStarCode commented on #1782
Thanks, buy you Can't  WebView2.CoreWebView2.Navigate throws null reference

[2022-10-17 20:32] mikeduglas commented on #2873
Well, I found a way to get CoreWebView2CompositionController:
`    var compositionController = await environment.CreateCoreWebView2CompositionControllerAsync(hwnd);`
but still no idea how to use the drag and drop. This document https://github.com/MicrosoftEdge/WebView2Feedback/pull/1276/commits/c3fe5df025536f88ebfc81be1efc4b5e1c6f1117
is not informative.

[2022-10-17 22:37] victorthoang commented on #2878
Hello @finepeilei ,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this.

[2022-10-18 00:10] champnic commented on #1782
@GJStarCode If that is throwing a null reference, that means the WebView2 has not finished initializing. Are you `await`ing the call to `EnsureCoreWebView2Async`? Or you can add a listener for `CoreWebView2Initialized`, verify that it succeeded using the args, and then call `Navigate`.

[2022-10-18 00:17] champnic commented on #2678
Thanks @yizhao5 for digging into this!

@sajjadarashhh It sounds like the main hang issue is resolved. For the question of supporting synchronous WebView2 methods, we don't currently have plans to do so. There isn't a way to do so that would work for most apps, and WebView2 is By Design run out-of-process, necessitating some level of async. For more info you can checkout #136 (and other relevant t

[2022-10-18 00:17] #2678 closed

[2022-10-18 01:17] GJStarCode commented on #1782
First we open a winform and load a webview2 with the command
An everithing it's ok (this is the first inicialization)
`        public async Task InitializeWebViewAsync()
        {
            var path = Directory.GetCurrentDirectory();
            _appWebViewEnvironment = await CoreWebView2Environment.CreateAsync(null, $"{path}\\WebViewTemp", null);

            await mainWebView.EnsureCoreWebView

[2022-10-18 01:18] GJStarCode commented on #1782
On visual studio debugging everything it´s ok. But when we run the .exe file throws this exception

[2022-10-18 03:03] ElyssaJyu commented on #2860
Hi @fkaelberer, I'm trying to reproduce the issue. Could you provide more details to help me to find the issue?

[2022-10-18 06:09] Maciejszuchta commented on #1355
Hello, any updates on that issue?

[2022-10-18 06:34] anlideer commented on #2724
Sorry I should have said "test" instead of "debug". The project itself does not contain the server-side codes, and the purpose for the testing is like a black-box testing of the embedded browser which is loaded in the project using wv2. (so nowhere to put launch.json) https://learn.microsoft.com/en-us/microsoft-edge/webview2/how-to/webdriver Like using this way, I was just wondering how to test mu

[2022-10-18 07:17] Optimierungswerfer commented on #2863
I noticed over at least the past 2 updates that the release notes are 1-2 days behind the release of the respective new package version. I find this confusing, because like this we cannot determine how relevant the update is to us. It also requires us to poll the release notes page for updates after a new package version got released. It would be nice if both the package and the respective release

[2022-10-18 08:25] RendijsSmukulis opened #2887 "Feature Request: ability to remove Edge branding from error pages"
Some error pages (e.g. when showing a page with a revoked cert) include references to Microsoft Edge:

![image](https://user-images.githubusercontent.com/4180387/196377266-1268f90e-d160-4900-a042-c363798cdf8b.png)

Is there any supported way to provide our own error pages, replacing the Edge branding?

[AB#41927010](https://microsoft.visualstudio.com/90b2a23c-cab8-4e7c-90e7-a977f32c1f5d/_workitems

[2022-10-18 08:27] yunate commented on #2885
Hi @TakuyaCel!
I'm looking into this issue.
I test your code in `OnCreateEnvironmentCompleted`, and it can break in `return S_OK`.  Do you add your code in a button's proc?
[code]

[2022-10-18 08:43] ElyssaJyu commented on #2862
As we investigated, "https://www.whatismybrowser.com/" website has a redirection, which will change userAgent back to default.
![image](https://user-images.githubusercontent.com/111425758/196381525-9bf501da-e119-4804-b082-d32eda174e58.png)

![image](https://user-images.githubusercontent.com/111425758/196374367-5f733c23-bce3-434d-bcf1-d3412889fe26.png)

[2022-10-18 08:43] plantree commented on #2862
Hi @wilva,

We have found that, the `URL redirect` will restore the `UserAgent`. You can test it in Edge too. Like this:

We don't know yet if this implementation works as expeceted, and the simple workaround might be using another website to get browser information.

[2022-10-18 08:48] yunate commented on #2884
Hi @starkdm!
Thanks for your reply. Could you help to test if the WPF sample[WPF sample](https://github.com/MicrosoftEdge/WebView2Samples/tree/main/SampleApps/WebView2WpfBrowser) could run ok in your Windows Server 2022 computer?

[2022-10-18 09:21] wilva commented on #2862
Hi,
It was my customer who brought this up. I don't think the website redirecting is relevant, but I will ask them.

Also not sure why a redirect should change the user agent? A user agent is not supposed to be dependent on URL AFAICT.
IMHO it should not matter what website you are accessing, after you set the User Agent to something else it should be consistently used for any website that you acc

[2022-10-18 09:26] yunate commented on #2842
@yanxiaodi thanks for your suggestion.
About `Users would not know why it needs a ExpandoObject.` The reason is the `CallDevToolsProtocolMethodAsync` require its json string param must like `{"patterns":[{"urlPattern":"","resourceType":"","requestStage":"Response"}]}`.

About `can change the parameter type for this API`, we will talk about this with our team, but the origin API will be retained fo

[2022-10-18 09:45] michal-puczynski commented on #2861
This is interesting aspect. It works, for the moment only version with setting env before creating WebView.
Example:
`
  System.Environment.SetEnvironmentVariable("WEBVIEW2_ADDITIONAL_BROWSER_ARGUMENTS", "--unsafely-treat-insecure-origin-as-secure=http://192.168.18.18:8100");
`
I did a little digging into security aspects in here: https://w3c.github.io/webappsec-secure-contexts/
and it makes me wo

[2022-10-18 09:45] yizhao5 commented on #2648
@RobertGlobant20. Hello. My WebView2 content is not blocked and can also be clicked. For example, when I click Login, there will be a response. Since there is no sample code, I cannot reproduce your scenario.
![image](https://user-images.githubusercontent.com/109595412/196395314-863037c8-4ac0-4581-a80c-746a2465f305.png)

`MainWindow.xaml`
[code]

[2022-10-18 09:52] yizhao5 commented on #2681
@DexterWoo. Because your information is too little, I can't reproduce it. If you can provide **Repro Steps** or sample code, we can help you solve the problem faster and better. Thanks.

[2022-10-18 10:00] yizhao5 commented on #2820
@henrygo2208. Hello. According to your error message, it should be that the SDK of Webview2 did not find the Runtime. Please install the [Evergreen Runtime](https://developer.microsoft.com/en-us/microsoft-edge/webview2/) of Webview2 and deploy to the default installation path. Thanks.

[2022-10-18 10:32] KianZhou8005 opened #2888 "Timeout Exception when CoreWebView2 initialization"
**Description:**

There are already some webview2 instances(run it by windows user A) running in my server. They work fine.
Now I deploy a new webview2 app and run it by user B. When the coreWebView2 is initializing, I get the Timeout exception. But if I run it by user A, it works fine.
Could you give some advises? or is there any way to get more internal logs?

I noted the #2054 . In my app, the

[2022-10-18 11:00] henrygo2208 commented on #2820
I've install runtime, but there is a weird problem: Closing the computer, one or more  days passed, the above problem disappeared.

[2022-10-18 13:03] aquinn39 opened #2889 "How to clear site permissions data?"
Calling CoreWebView2.Profile.ClearBrowsingDataAsync() seems to reset all permission data for websites, however, it also clears all other data for sites. I would like to clear just permission data. I have checked https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2browsingdatakinds?view=webview2-dotnet-1.0.1370.28, but none of the fields mention permissions at all.

[2022-10-18 13:12] aquinn39 commented on #2889
Actually, it seems that CoreWebView2.Profile.ClearBrowsingDataAsync() does not clear permission data.

[2022-10-18 14:42] Optimierungswerfer opened #2890 "BeforeDownloadStarting event"
**Is your feature request related to a problem? Please describe.**
Say I want to intercept some type of file when downloading using the [DownloadStarting](https://learn.microsoft.com/en-us/microsoft-edge/webview2/reference/winrt/microsoft_web_webview2_core/corewebview2?view=webview2-winrt-1.0.1370.28#downloadstarting) event and change the local download path for it using `CoreWebView2DownloadStart

[2022-10-18 15:41] simen-wu opened #2891 "Question about the download url"
From WebView2's homepage, I found the download url for the installer is as below:
https://msedge.sf.dl.delivery.mp.microsoft.com/filestreamingservice/files/afcf8876-9ac9-472f-8b64-84548c712806/MicrosoftEdgeWebView2RuntimeInstallerX64.exe

Is this url tied to the current version (106.0.1370.47)? For example, in the future when a newer version is available, will the url be different?

I'm creating a

[2022-10-18 17:26] darbid commented on #2648
@RobertGlobant20 reading you question it is sounds like your Webview2 is IN THE POPUP, right? If that is the case then you will never ever be able to set transparency on the popup because webview2 cannot perform like a real WPF control it's just a wrapper around the win32 version, has a hand and displays its pixels very different to true WPF.

[2022-10-18 17:32] darbid commented on #2887
Yep I believe it's

webView.CoreWebView2.Settings.IsBuiltInErrorPageEnabled = false;

[2022-10-18 17:34] nishitha-burman commented on #2882
Thanks for the feedback @ajtruckle, we have added this to our backlog!

[2022-10-18 17:42] LiangTheDev commented on #2861
This should be related to https://chromestatus.com/feature/4926989725073408.

[2022-10-18 17:50] RobertGlobant20 commented on #2648
Ok, thanks for the answer

[2022-10-18 17:50] #2648 closed

[2022-10-18 17:59] nishitha-burman commented on #2891
Hi @simen-wu,

Where in the page did you find this link? You can select which version you want to download from this page: https://developer.microsoft.com/en-us/microsoft-edge/webview2/

<img width="212" alt="image" src="https://user-images.githubusercontent.com/54861497/196508542-700de2d4-9b05-41d9-bf39-fd0d7f488930.png">

[2022-10-18 18:53] simen-wu commented on #2891
@nishitha-burman Thank you for your quick reply. The screenshot you show is for the download of *.cab file. But I'm interested in the standalone installer. Please see this screenshot:

![image](https://user-images.githubusercontent.com/33633190/196518871-7b87472f-69c2-4443-89ea-b1e8bc1f7f4b.png)

[2022-10-18 18:55] champnic commented on #1782
@GJStarCode Can you take this info and create a new GitHub issue? This looks different than the original issue here. It's also interesting that it only repros when run from the exe, and not from Visual Studio.

[2022-10-18 19:05] GJStarCode commented on #2323
Hi Nic,
I've the same issue in visual studio works OK but running the .exe file from bin/debug folder  throws that exception. So I use a fixed version and the result is the same
Creating the environment in this way

First Form
`        public async Task InitializeWebViewAsync()
        {

            //_appWebViewEnvironment = await CoreWebView2Environment.CreateAsync(null, null, null);

[2022-10-18 19:55] tofuandeve commented on #802
Hi all, just a quick update, the file dialog work for elevated host app is completed and will be available in v108 soon

Thank you!

[2022-10-18 20:25] GJStarCode opened #2892 "WebView2 / WF - Second winform with a new webview2control Initialized with same environment throws an exception running app from the .exe file"
**Description**
Opening a second winform with a new webview2control Initialized with the same environment  throws an exception when the app runs from the .exe file but in VS works ok

**Version**
SDK:
Runtime: Evergreen Standalone Installer 1.3.167.21 / Fixed Versions 105.0.1343.53.x64 y 106.0.1370.47
Framework: Winform App Net 4.8 Visual Studio 2022
OS: Win10 21H2

**Repro Steps**
**MainForm**

[

[2022-10-18 20:27] GJStarCode commented on #1782
Hi Nic I've created a new issue,  i'll clean this one
The number is #2892

[2022-10-18 20:43] champnic commented on #2892
Thanks for the new issue. I've added this as a bug on our backlog to look into.

By the time you are creating the secondary WebView2, do you know if the first has completed initialization? I'm wondering if maybe they are interfering with each other. As a test, you could try giving the second WebView2 a different user data folder (which will cause it to use a separate browser process, and so should

[2022-10-18 21:34] GJStarCode commented on #2892
Hi Nic, with a diferent user data folder works ok, but i need to share the data between the 2 windows.
The first webview2 it's ok because it was previously initialized
I'm wondering if repeating de initialization of the first webview2 befor call the second form could help.
What do you think?
Regards!

[2022-10-18 21:45] GJStarCode commented on #2892
It's strange because  on VS works perfect, maybe because they share the same VS proces
I just tried these aproach and doesn't work

[code]

[2022-10-18 22:23] vickiez commented on #2880
Hey @darbid, will the feature request in #1836 will cover your scenario?

[2022-10-19 02:09] yizhao5 commented on #2820
@henrygo2208. Yes, it may be caused by the environment problem. If your problem is solved, please close it. Thanks.

[2022-10-19 02:20] zattu1 commented on #2556
I didn't redirect.
I think it's a bug that there is simply no referer.

[2022-10-19 02:20] zattu1 commented on #2556
@yildirimcagri san,
I didn't redirect.
I think it's a bug that there is simply no referer.

[2022-10-19 02:23] henrygo2208 commented on #2820
But it is very unsure to know when the program could normally run. Do you have any thought to inspect this kind of thing?

[2022-10-19 02:43] ElyssaJyu commented on #1733
@piyush349 It seems we don't get your feedback for a long while, could you provide more details on this issue?

[2022-10-19 02:46] plantree commented on #2862
Hi @wilva,

I am also confused about `redirect will reset user-agent`, but you could verify on Edge according to the method that Elyssa provides.

Later I will communicate with Edge team to get more information and sync with you later.

[2022-10-19 02:52] yizhao5 commented on #2820
@henrygo2208. This error log shows that it is truly that the runtime of webview2 was not found. So, it can be inferred that the installation path is wrong, or an environmental problem, etc.

If there is no error, it should be running normally. If you want to verify whether your **excel vsto** calls Webview2, you can use _Process Hacker 2_ to check. Thanks.
![image](https://user-images.githubuserco

[2022-10-19 02:55] GJStarCode commented on #2892
I found the problem
An ElementHost was afecting the behaviour of the web view
Conclusion: You can't initialize an ElementHost unil webview inicialization (await secondWebView.EnsureCoreWebView2Async(_secondWVEnvironment);)

[2022-10-19 02:58] henrygo2208 commented on #2820
OK. I'll try it out. Thank you very much.

[2022-10-19 02:59] #2820 closed

[2022-10-19 03:03] TakuyaCel commented on #2885
Hi @yunate ,

Actually I have added the code to OnCreateEnvironmentCompleted.
It seems this bug happens only in a particular environment so not the kind of bug that can be seen on all types of environments.
Also the code that I shared with you in this report previously is a simplified version, following is the actual code which I have added to AppWindow.cpp.

[code]

`AppWindow::OnCreateEnvironmen

[2022-10-19 04:53] #2880 closed

[2022-10-19 04:53] darbid commented on #2880
@vickiez awesome, thanks and I see you have already linked it. Super

[2022-10-19 05:04] darbid commented on #2890
@Optimierungswerfer aka Opto Thrower :-)

you haven't by chance been using CefSharp? It's API gave a much earlier notification of downloads. It seems Chrome will start a download before knowing the file name and CefSharp exposed that too. Confirming a file name came while the download was in progress.  This also meant that you could actually show download progress.

With WebView2 downloadstarting

[2022-10-19 05:44] yildirimcagri commented on #2871
The limit should be higher than 50 MB for post data content on client side with NavigateWithWebResourceRequest. Could the target server not be accepting the large size of data?

[2022-10-19 05:52] yildirimcagri commented on #2881
Thanks for reporting this. Since this reproes in Chromium and Edge Browser as well we will wait for the underlying Chromium bug to be fixed and be pulled into Edge, which should also fix it for WebView2.

[2022-10-19 06:03] yildirimcagri commented on #2774
The document does need to be publicly accessible for Office Web Viewer to work, which means this won't work with local files. Closing for now, please let us know if you need any further help with this.

[2022-10-19 06:25] #2774 closed

[2022-10-19 07:43] yildirimcagri commented on #2556
Hi, I do see the Origin, Referrer and sec-fetch-site headers being reset from the values set in NavigateWithWebResourceRequest. Since these are [forbidden header names](https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name), the network stack can be overriding these values to be the expected value (Since this is a navigation via Navigate method, it is considered a user-initiated

[2022-10-19 07:54] 1247655419 opened #2893 "loading page slowly"
It takes about 10s to 15s to load a page with webview2.Is there any way to improve the loading speed

[2022-10-19 09:06] yunate commented on #2885
@TakuyaCel
I test the new code many times in my debug environment, but they are all successful.
So, the `particular environment` is a customer's environment, or you could reproduce it in your own machine?

[2022-10-19 09:22] yildirimcagri commented on #2696
Closing for now, feel free to reopen if you still need help with this.

[2022-10-19 09:22] #2696 closed

[2022-10-19 09:23] TakuyaCel commented on #2885
Hi @yunate ,

Yes, I could reproduce the issue on my environment.
Adding to the environmetn information which I wrote in the first post of this report, my environment's model number is following.
 ZENBOOK UX31E-RY128

[2022-10-19 09:28] yildirimcagri commented on #929
As specified, [WindowCloseRequested](https://learn.microsoft.com/en-us/dotnet/api/microsoft.web.webview2.core.corewebview2.windowcloserequested?view=webview2-dotnet-1.0.1370.28) event should be handled here to properly close the WebView2 control in response to window.close().

[2022-10-19 09:28] #929 closed

[2022-10-19 09:29] yunate commented on #2885
Hi @TakuyaCel,
Are all ControllerCompleted call-back not called, or some has been called but some not?

[2022-10-19 09:29] yunate commented on #2885
Are all ControllerCompleted call-back not called, or some has been called but some not?

[2022-10-19 09:42] TakuyaCel commented on #2885
@yunate

Some of them are called back and some of them are not, is the case which I'm seeing. Number of ControllerCompleted called properly is not fixed but in most case about 10 would called-back.

[2022-10-19 11:45] wilva commented on #2862
Thanks, I don't doubt your findings on this.

[2022-10-19 12:07] MatEngelhardt opened #2894 "WebView2 soemtimes not initializing on UWP"
**Description**
Sometimes the WebView2 control does not initialize.
The call to EnsureCoreWebView2Async never comes back. Sometimes it takes several minutes for the call to come back

**Version**
SDK: 1.0.1370.28
Runtime: 106.0.1370.47
Framework: UWP
OS: Win10

**Repro Steps**
- add WebView2 to a UWP-Page
- set the source to a valid url.
- start the uwp app
- restart multiple times
 => After start

[2022-10-19 14:31] MatEngelhardt commented on #2894
Technically:
[code]

the
`await webview.EnsureCoreWebView2Async();
sometimes the await does not return
this happens randomly

[2022-10-19 14:53] ztanczos commented on #2750
If I enable remote debugging and I open Edge using edge://inspect then I can inspect / debug the hosted web application.
Thank you @aluhrs13 for the suggestion

[2022-10-19 14:59] nishitha-burman commented on #2764
Hi @q71114,

Can you describe the scenarios you are trying to build with this feature?

Thank you,
Nishitha

[2022-10-19 15:52] RendijsSmukulis opened #2895 "Setting CoreWebView2EnvironmentOptions.IsCustomCrashReportingEnabled throws System.NullReferenceException"
**Description**

Creating `CoreWebView2EnvironmentOptions` with `IsCustomCrashReportingEnabled` flag set throws a null ref exception. Same happens when trying to read the flag.

![image](https://user-images.githubusercontent.com/4180387/196741355-da370e71-a40e-4ed5-8d06-807ec9966f2a.png)

This is likely not impacted by the runtime used as this happens _before_ we can specify the runtime in `CoreWe

[2022-10-19 16:09] zattu1 commented on #2556
@yildirimcagri san,
I put in the processing as below, but nothing comes in, what's wrong?
[code]
As a scenario, I wanted to use NavigateWithWebResourceRequest on a WebPage to access what it does in the browser.

[2022-10-19 16:32] LiangTheDev commented on #2603
As you stated, the method to convert async call into sync call does not work because we are in the middle of handling a WebView2 callback to host object. While running a task, WebView2 will not process any further events/messages and therefore the async call result will never be processed.
To workaround this, you could try to dispatch the real action to run outside of WebView2 callback. Something

[2022-10-19 17:06] david-risney commented on #2879
Thanks, great point! We're missing documentation for this. I've opened bug to track updating this.

webView.CoreWebView2.AddHostObjectToScript("bridge", dispatchAdapter.WrapObject(myClass, dispatchAdapter));

Yes that's right. That is how you would add an object instance rather than a namespace.

UnwrapObject takes the return value of a call to WrapObject and provides back the original parameter t

[2022-10-19 17:28] LiangTheDev commented on #2840
The current behavior is expected. The host object is based on IDispatch. As GetIDsOfNames is case insensitive, the behavior of which method will be invoked depends on how .NET handles GetIDsOfNames, which might not be deterministic.

Some explanation about the internal exception.
.NET core doesn't have type info built in and its return value for using a method as property does not help us, we have

[2022-10-19 17:34] q71114 commented on #2764
Hi @nishitha-burman,

This will be the exact scenario describe in [Feature request: Permissions API](https://github.com/MicrosoftEdge/WebView2Feedback/issues/2427):
We offer option to clear all data for specific domains. When selected all user data will be cleared for those domains including any browsing data or cache.

[2022-10-19 17:39] champnic commented on #2892
Glad you've got it figured out and working! I'll close this item, but let me know if there's anything you think we need to follow-up on. Thanks!

[2022-10-19 17:39] #2892 closed

[2022-10-19 17:45] champnic commented on #555
@jonrmorgan99 Remove the space between `/` and `silent` and `/` and `install` in the arguments.

[2022-10-19 18:51] monica-ch commented on #2786
@nznk This issue is fixed by WebView2 team long ago, please check with office Add-in team whether they integrated the Webview2 fix related to the authentication.

[2022-10-19 18:51] #2786 closed

[2022-10-19 20:23] jonrmorgan99 commented on #555
Thanks for the quick response. Yes that worked fine - I'll post the fix on SO

[2022-10-19 20:32] champnic commented on #555
Glad it's working!

[2022-10-19 23:31] LiangTheDev commented on #2888
One way WebView2 initialization could time out is if the control is not in WPF UI tree. Could you try to ensure that the control is added into the UI (it could still be not really visible to the user) and see whether that makes it to work?

[2022-10-20 01:32] Suzuzawa commented on #2894
same here.
After deleting all directories under "EBWebView" except "Default", it's working now

[2022-10-20 01:50] ElyssaJyu commented on #2860
Hi @fkaelberer, thanks for the bug report! It seems to be a bug in how the Preview is trying to load the PDF path. I added it to our backlog and will fix it.

[2022-10-20 02:51] plantree commented on #2750
Hi @crazyspencer,

Perhaps you can try like this. Hope to solve your issue too.

[2022-10-20 02:53] xinkun-mini opened #2897 "How to use webview2 in java swing?"
I'm still use jcef in my java project for now, but I think if java can use webview2 from Windows OS, it will be more convenient and make app thiner

[AB#41926922](https://microsoft.visualstudio.com/90b2a23c-cab8-4e7c-90e7-a977f32c1f5d/_workitems/edit/41926922)

[2022-10-20 03:40] plantree commented on #2847
Hi @xieguigang,

Your `Sec-Fetch-Mode: cors` indicates that the request is a [CORS protocol](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) request. Reference: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Sec-Fetch-Mode.

And in the doc of [preflighted_requests_in_cors](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/OPTIONS#preflighted_requests_in_cors), we know th

[2022-10-20 07:00] plantree commented on #2692
Hi @elad-dp,

Could you explain why the application should not shutdown in case of WebView2 uninstallation?
As I understand, if we don't have runtime, the application could not run correctly.

[2022-10-20 07:02] #2653 closed

[2022-10-20 07:04] elad-dp commented on #2692
Our application has fallback to the older WebBrowser Control, so even if WebView2 is not available the application functions correctly - it should not shut down in any case...

[2022-10-20 08:46] KianZhou8005 commented on #2888
I think it should be added into the UI tree, because I can see the website loaded successfully if I run it by Windows user A. it only throw timeout exception when I run it by Windows user B.

Here is the code that I add it into the UI tree.
Xaml:
[code]
ViewModel:
[code]

[2022-10-20 09:16] czdietrich opened #2898 "[NuGet] `WebView2Loader.dll` is copied twice to output"
**Description**
The `Microsoft.Web.WebView2` NuGet always creates a folder structure equal to `runtimes\win-x64\native\WebView2Loader.dll` in the output directory.

The reason for this is that there are copy instructions in the `Common.targets` file for managed projects.
There should be no need for copying manually any DLLs for managed projects, since NuGet has its own conventions for copying nati

[2022-10-20 09:55] jonrmorgan99 commented on #555
Just one other point. Event though my startinfo parameters include Verb ="runas" , which should elevate the install to administrator level, I still see the UAC prompt. Is there any way to suppress that as well ?

[2022-10-20 11:47] agenne commented on #2879
Thank You

[2022-10-20 11:47] #2879 closed

[2022-10-20 12:00] agenne opened #2899 "UWP: how to properly set and reset WebView2's DefaultBackgroundColor"
Hi,
we have to change our UWP app so that it now use the new WebView2.
Unfortunately there is no DefaultBackgroundColor available on the WebView2 which is very important for us.

First we found this post which stated that it will not be supported in winui3:
https://github.com/microsoft/microsoft-ui-xaml/issues/2992

and this one:
https://github.com/microsoft/microsoft-ui-xaml/issues/4378

After fu

[2022-10-20 15:00] agenne commented on #1633
The original issue posted by @tj-jyk (my colleague) seems to be solved.
Updated the WebView2 version to WinUI 2.8.1.
It is still necessary to cleanup, but it is sufficient to call Close on the webview which is much better than navigate to about:blank and call Gc.Collect

[2022-10-20 17:36] LiangTheDev commented on #2888
From the code shared in your initial post, I see that you are creating a new WebView with `webView2 = new WebView2();`, and I don't see code adding that control into UI tree.

Do you see any files created under the specified user data folder? If there are some files created, then it means that we started WebView initialization. Otherwise, we are waiting for something else. The only thing I can see

[2022-10-20 18:32] champnic commented on #1633
Glad to hear it's working now @agenne!

For others on this thread - if you are still seeing the issue and it's not in WinUI 2.8.1 or WindowsAppSDK, please open a separate issue for us to track. Thanks!

[2022-10-20 18:32] #1633 closed

[2022-10-20 18:38] champnic commented on #1223
Hey all - Our team isn't planning to do specific work to block the WebView2 from updating besides the policy controls we provide for managed machines. As noted in this thread, there are some workarounds if you are really trying to disable or remove the WebView2 runtime, though note that apps which use and rely on WebView2 may not work as intended, and by disabling updates the version of the runtim

[2022-10-20 18:38] #1223 closed

[2022-10-20 20:02] mancda opened #2900 "Problem pasting image"
I have upgraded my UWP App to use webview2 and when I navigate to a online M365 Word document I am now unable to paste an image from the clipboard.

Thanks for your help

[2022-10-20 20:39] starkdm commented on #2884
@yunate WPF Sample is targeting to .NET Core 3.1. I am target my project to .NET Core 6, but I am download latest WebView2 NuGet package version. In WPF Sample I see 1.0.1414.

[2022-10-20 22:24] GJStarCode commented on #2892
Thanks Nic!!!

[2022-10-20 22:42] Syul968 commented on #2768
Hi @zh4ui,

The fix for this issue is available in our [1.0.1414-prerelease SDK](https://www.nuget.org/packages/Microsoft.Web.WebView2/1.0.1414-prerelease), which shipped about a week ago.

Thanks,
Luis

[2022-10-20 22:42] #2768 closed

[2022-10-21 01:13] KianZhou8005 commented on #2888
yes, there is folder called 'EBWebVew' created under the user data folder, and there are many subfolder under the  'EBWebVew'

Sorry for showing incomplete code, here is my full code about WebView2 Initialization:

Service:
[code]
ViewModel:
[code]
App.xaml.cs
[code]

MainWindow.xaml.cs
[code]

[2022-10-21 06:23] fdzatdtv commented on #2136
As time goes by, this error arises again. In the last two months at least 10 customers run into that problem. The application crashed and it took too long to see the real reason, because the exception message is confusing.

I don't know which applications are holding references to older runtimes. But couldn't you make your installer smarter? Probably scheduling a task for cleanup? If not, please c

[2022-10-21 08:14] KirkH420 commented on #1223
If you're interested, Microsoft provides some additional Group Policies that you can add to your computer. They're for Edge Business edition, but many of them will work for all editions of Edge. Many people, such as myself, use tools to completely remove Edge from their machine (after every major Windows Update), but I added this collection of Group Policies to my machine anyway, just so I could g

[2022-10-21 09:59] yizhao5 commented on #2603
@snkar. Hello.
Your requirement is that "The method that we have been using to convert a asynchronous script execution call to synchronous in the WPF app"? And you use `AddHostObjectToScript` to set `ServiceBridge` class to the host object.
The `AsyncUtil.cs` is as below.
[code]
`asyncAction` of line 11 is an asynchronous object. A `Task` object means asynchronous. "The composition of an asynchron

[2022-10-21 14:04] jaroslawkowalewski opened #2901 "Cannot publish a UWP app using WebView2 in the Microsoft Store"
A UWP application using WebView2 does not obtain a certificate. Reason as below:
Supported API test
FAILED
    Supported APIs
    Error Found: The supported APIs test detected the following errors:
        API QISearch in shlwapi.dll is not supported for this application type. Microsoft.Web.WebView2.Core.dll calls this API.

Previously, the same application was certified, but is now rejected. What

[2022-10-21 14:42] hengchengfei opened #2902 "Tip: How to download WebView1?"
Now,I am publishing add-in to Office Store,But validation error as follows:

-----------------------

------------------------

**Where can I download WebView1?**

[2022-10-21 14:57] ruffin-- commented on #186
@champnic

Okay, I think I'm in the same boat as the OP. Let's try a more specific version of the question:

When you say WebView2 is coming for WinUI2, should I expect to be able to use that in a UWP codebase written in 2016 in Visual Studio 2017?

If so, where do I learn how?

I've looked at the [Migrate from UWP to the Windows App SDK page](https://learn.microsoft.com/en-us/windows/apps/windows

[2022-10-21 15:32] sln162 commented on #2891
@simen-wu ![image](https://user-images.githubusercontent.com/11196986/197233317-b0a8023b-c1b8-40d2-a991-b797571a2886.png)
[You can use this](https://go.microsoft.com/fwlink/?linkid=2124701)

[2022-10-21 15:47] simen-wu commented on #2891
Thanks @sln162. Yes, I can get the actual url by inspecting the html page. But I would like somebody to confirm that the URL you showed is only for version 106.0.1370.47 specifically.

We are going to include WebView2 runtime in our installer and let user download the runtime from the URL (as you showed) during the installation. During the download, there are some verifications e.g. file version,

[2022-10-21 16:08] sln162 commented on #2891
@simen-wu It happened that I downloaded several times in the last month. Through comparison, I found that the hash of urls and files are different, but the version number of the EXE has not changed. I am not sure whether the version numbers of WebView2 are consistent. But I think it is not reliable to judge the version only from the hash of the URL.

[2022-10-21 21:24] yildirimcagri commented on #2556
You are adding the XHR WebResourceRequestedFilter, are you issuing an XHR here and how?

[2022-10-21 21:46] champnic commented on #186
Hey @ruffin-- WebView2 now supports UWP apps with WinUI 2 in Microsoft.UI.Xaml versions 2.8.0 and 2.8.1. I would expect it to work in your scenario. You can learn more about how to do so here:
https://learn.microsoft.com/en-us/microsoft-edge/webview2/get-started/winui2

And checkout our sample app here:
https://github.com/MicrosoftEdge/WebView2Samples/tree/main/SampleApps/webview2_sample_uwp

Than

[2022-10-21 23:26] LiangTheDev commented on #2888
Could you take a performance trace for the repro for triage? How to take the performance trace: https://github.com/MicrosoftEdge/WebView2Feedback/issues/1540#issuecomment-892407347. As the resulted etl file could be large, please share it via some cloud drive.

As the latest Edge WebView2 Runtime logs more event, if you could get a trace with the latest runtime, that would be even more helpful.

T

[2022-10-21 23:49] nishitha-burman commented on #2893
Hi @1247655419,

Can you please provide more details on the issue you're running into?

**Version**
SDK:
Runtime:
Framework:
OS:

**Repro Steps**

[2022-10-21 23:52] nishitha-burman commented on #2900
Hi @mancda,

Can you please provide more details about your issue?

**Version**
SDK:
Runtime:
Framework:
OS:

**Repro Steps**

[2022-10-22 02:43] xieguigang commented on #2847
Hi @plantree, Many thanks to the explanation on this problem which is caused by the CORS problem.😁

[2022-10-22 02:43] #2847 closed

[2022-10-22 02:51] Winterreisender commented on #2897
you may see this project https://github.com/casterlabs/webview

[2022-10-22 09:10] sln162 commented on #555
@champnic Is there a command that can automatically exit after the installation is completed? My program needs to wait for the end of the installation process. However, at present, only silent installation can be selected, or the user needs to manually click the "Finish" button after the installation is completed

[2022-10-23 03:55] sln162 opened #2903 "Can Edge Bate be used as an alternative when distributing WebView2?"
In China, more than 30% of users are still using Win7, and there are some systems with devices lower than Win10-2004. In addition, when the system update is turned off when the system is larger than 2004, WebView2 still needs to be installed in these environments. In order to prevent installation failures (there will be some strange Gosht systems that have been modified), can I use Edge Bate as an

[2022-10-23 09:09] zh4ui commented on #2768
Thanks, it works fine now.

[2022-10-23 18:05] Celestialme opened #2905 "mediaDevices.getDisplayMedia captured desktop video low frameRate issue"
**Description**

**Version**
SDK:
Runtime: 106.0.1370.52 (Official build) (64-bit)
Framework:
OS: <!-- Win10

**Repro Steps**
start capturing video of desktop, start video eg (youtube ) sound and frame missmatch due to low framerate.
is there any flag so i can bring fps at least 30-60.

[2022-10-24 03:19] plantree commented on #2692
Hi @elad-dp,

It means we application has two modes, and it is not entirely dependent on WebView2.

Perhaps we could **detect the availablility of WebView2 while initialization** and choose the mode, follow this link: https://learn.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution#detect-if-a-suitable-webview2-runtime-is-already-installed.

When we receive the event of `SessionEndi

[2022-10-24 06:58] elad-dp commented on #2692
what do you mean "the better choice might be trying to restart"? - SessionEnding is called when user session ends (user logs off). in response to SessionEnding our application cleans stuff and shuts down. why would the application restart in case the user logs off?

This is the point of the discussion here - SessionEnding event should not be raised when WebView2 is uninstalled. it should be raised

[2022-10-24 08:08] MatEngelhardt commented on #2894
I tried delete the folder "EBWebView" but it is  not working for me. WebView2 never comes back from initializing

[2022-10-24 08:46] plantree commented on #2692
Sorry, I may not have made it clear.

In my opinion, we have two differences:
1. Should the `SessionEnding` event be raised during WebView2 is uninstalled?
2. What should to be done if the `SessionEnding` event is raised?

For the first question, the current solution may not be easy to change. You can read this documentation about [Restart Manager](https://learn.microsoft.com/en-us/windows/win32/r

[2022-10-24 09:35] ElyssaJyu commented on #2866
Hi @irgendwienet, it looks fine when only hiding Search bottom.
![image](https://user-images.githubusercontent.com/111425758/197492476-7ed15be1-94cd-49b9-a105-e1ead38d85ea.png)
Hiding Search bottom:
![image](https://user-images.githubusercontent.com/111425758/197492380-feeb3f01-cc5c-45c2-8dbf-20f778d6cd49.png)

But there is an issue that the whole toolbar becomes invisible when hiding these three

[2022-10-24 10:03] yizhao5 commented on #2801
@MichaelCHF. Hello.
The webpage rendering of the preview window is OK, but the webpage rendering of the debug window is blank. Your requirement is that the preview window should behave like the debug window that is blank, right?
Does your app call IE browser instead of webview2? IE browser has been retired.
If it is webview2, can you provide sample code so that we can reproduce the problem. Thanks

[2022-10-24 18:16] mancda commented on #2900
Version: WinUI 2.8.1
SDK: 10.0.22621.0
Runtime:
Framework: .NetCore 6.2.14
OS: Windows 11

Steps to reproduce

1. Create new UWP app
2. Add Webview2 component
3. Navigate to a Online Microsoft 365 Word Document
4. Attempt to paste an image into the document from the clipboard.

[2022-10-24 20:26] LiangTheDev commented on #2903
Why would Edge Beta be better/easier to install than Edge WebView2 Runtime? If Edge Beta is on the machine but WebView2 Runtime is not, we will use Edge Beta to run WebView2. This happens automatically. GetAvailableCoreWebView2BrowserVersionString API actually will return the version of Edge Beta in this case.

[2022-10-24 21:55] victorthoang commented on #2905
Hello @Celestialme,

Thanks for your bug report. I've assigned this to a dev that can best try to replicate the issue and follow up on this. Please allow for some time for us to take a look.

[2022-10-24 21:59] vbryh-msft commented on #2905
Hi @Celestialme  - could you please provide a snippet of your code what you are trying to do? Also could you try the same in Edge browser to see if it reproes?

[2022-10-25 00:54] sln162 commented on #2903
@LiangTheDev  Yes, it just provides more possibilities. However, I found a problem when using the command: Microsoft Edge Webview2Setup Exe/install. After the installation is completed, the system will automatically exit. However, MicrosoftEdgeWebView2RuntimeInstallerX64.exe/install does not exit. It will prompt that the installation is complete and the user needs to click to close. This is not co

[2022-10-25 02:58] KianZhou8005 commented on #2888
Sorry, I am not able to take the performance trace as the server is for internal use.

I will try to get the latest runtime to see if it is helpful.

In fact, I have to wait for long time (around 2 mins) to get the timeout error.

[2022-10-25 06:33] tiagoabreu commented on #2856
@oggy22 Is there any update on this issue?

[2022-10-25 08:02] blakeanator commented on #1134
This is a slightly different issue (not WebView2). Having this exact issue with a WPF textbox in Excel. In this case, the Excel cells do not lose focus. Did the WPF team ever get back on this?

[2022-10-25 08:56] Celestialme commented on #2905
shortly:
i am building tauri screen recorder. just simple  barebones record code. app produces low framerate display record, so low that system audio and frames are mismatched.  using sveltekit, so i can open same code inside chrome (just access localhost) and it works perfectly, i thought to blame tauri but than i've opened same url with edge, framerate was exactly same low, so i opened issue her

[2022-10-25 16:26] #2905 closed

[2022-10-25 16:37] BrianRoach opened #2906 "Disabling Ads in Webview2"
Is there a setting for disabling webbased ads, note, these are not external pop up ads, but just embedded ads in webpages similar to what could be found on this webpage https://time.com/6220951/colonial-america-is-a-myth/

We have clients who are using sites like this for instructional purposes, and in standard Edge they can block the ads, but in the internal browsers in the app the ads are showin

[2022-10-25 16:58] LaughingJohn commented on #2052
Any progress on this? I'm having the same issue!

[2022-10-25 17:14] LiangTheDev commented on #2888
So, it is really a timeout. Without a trace, I'll have to brainstorm.
Is there any crash dump file (*.dmp) under EBWebView\Crashpad\reports subfolder of the specified user data folder?
Any events in event viewer?
Is it possible that there are some policy/antivirus produce on the device that blocks msedgewebview2.exe process from being created by the app?

[2022-10-25 17:30] LiangTheDev commented on #2903
Have you used /silent command line switch for MicrosoftEdgeWebview2Setup.exe or MicrosoftEdgeWebView2RuntimeInstallerX64.exe? That should perform the installation silently and does not require user click anything. See https://learn.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution for more details.
FWIW, install of Edge browser (beta channel or not) actually would be more impactful

[2022-10-25 17:59] sln162 commented on #2903
@LiangTheDev  My idea is that I don't need/silent, but only use/install to let users see the installation program, so that they can feed back to me when they encounter errors. However, the two programs are different for/install. When the installation of MicrosoftEdgeWebView2RuntimeInstallerX64.exe is completed, there will be a prompt, which requires the user to click. Is there any other command th

[2022-10-25 18:11] sln162 commented on #2903
The advantage of not choosing/silent is that you can see that the source of the program is Microsoft, you can see the download progress, and users can know what is going on when blocked by some security software. I have built a separate form for it. If it is/silent, it seems simpler. I just need to embed it in the program and/silent start the installation.

[2022-10-25 19:05] darbid commented on #1134
I have a feeling that this might be more of a WPF issue than directly related to Webview2.  Trying to open popup from context items or repeatbuttons causes an issue with mouse capture in the popup.

I believe that the solution is upon opening the popup give something on it like a text box mouse capture.

A simple example is just subclass popup and have something like the following. Please note my

[2022-10-25 20:22] amrbashir opened #2907 "Add a getter for WebView2 HWND"
**Is your feature request related to a problem? Please describe.**

Usually when trying to use the webview2 hwnd, I endup calling `EnumChildWindows` and guessing which child is the webview2 control. This could be avoided by providing a `HWND` getter on `ICoreWebview2` interface

**Describe the solution you'd like and alternatives you've considered**

### Solution

Add `ICoreWebview2::get_Hwnd()` w

[2022-10-25 21:07] LiangTheDev commented on #2903
Unfortunately, there is currently no command line switch to show the installation UI but skip the completion dialog. You would have to build separate UI stating that you are installing Edge WebView2 Runtime, and then dismiss it when done. The Edge update/installation logs should be the best source of information if install error happened.

[2022-10-25 23:51] nishitha-burman commented on #2667
Hi @Apivan, can you please describe the scenarios you are trying to address with this feature?

Thank you

[2022-10-26 04:13] TakuyaCel commented on #2885
Hi @yunate ,
Do you have any update on this issue?
Also wanted to share with you the trace files when I took on the timing this issue has happened.
Hope this helps.
https://www.dropbox.com/scl/fo/ngzgfjrw510u1tnc9y1zp/h?dl=0&rlkey=0191i4wtuezecip3kf7w49c86

[2022-10-26 06:08] yunate commented on #2885
I'm sorry for long time no reply, I'm looking into another bug, but don't worry, I will continue focus on this bug again.

[2022-10-26 06:58] yizhao5 commented on #2681
@DexterWoo. Hello.
What results do you expect, or your requirement?
![image](https://user-images.githubusercontent.com/109595412/197954439-a4216fa3-ae26-4027-9c46-4e6160746539.png)
Refer:
[Document: visibilitychange event](https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilitychange_event),
[What is the page visibility API?](https://www.educative.io/answers/what-is-the-page-visibilit

[2022-10-26 07:46] KianZhou8005 commented on #2888
The webview2 initialization works fine after I upgraded the runtime version to 104.0.1293.54. it seems the new runtime version solve this issue, that is great!

Thank you for you help!

[2022-10-26 08:20] yunate commented on #2885
Hi @TakuyaCel!
I want to you help to try: create hwnd in the loop:
[code]

[2022-10-26 08:25] ElyssaJyu commented on #2868
Hi @cheide-beta, can you provide the repro details when launching the WebView2WpfBrowser sample application? It will be easier to replicate the issue.

[2022-10-26 10:00] ElyssaJyu commented on #2865
Hi @RendijsSmukulis, let me confirm your concern that spell check service may have a privacy issue (correct me if not).

As previously reported in the issue https://github.com/MicrosoftEdge/WebView2Feedback/issues/2876, WebView2 will match the behavior of the browser, so WebView2 has this feature on by default.  You can disable by setting the extra browser arguments: `--disable-features=msUseSpell

[2022-10-26 12:34] 1247655419 commented on #2893
SDK:1.0.1264.42
WebView2 Runtime version : 106.0.1370.52
OS:win10 pro 21H2
NuGet ：
![image](https://user-images.githubusercontent.com/5365811/198024240-3a4a9b80-91ed-420a-aa7e-a944be5bca49.png)

[2022-10-26 16:13] zewt commented on #2865
Any reasonable privacy policy will assure users that their data won't be sent to third parties without their consent, and this causes developers to violate their own privacy policy without any way of knowing short of auditing traffic in every patch (or stumbling on GitHub tickets like I did).  Developers need to be able to trust the platform their applications run on.

[2022-10-26 19:15] nirdil opened #2909 "WebResourceRequested on different resources is invoked after navigating to a different page"
While navigating back and forth between different pages with the WebView, sometimes WebResourceRequested is called with resource requests that are from a previous page.

[AB#42274384](https://microsoft.visualstudio.com/90b2a23c-cab8-4e7c-90e7-a977f32c1f5d/_workitems/edit/42274384)

[2022-10-26 19:15] nirbil commented on #2909
If such calls can't be cancelled or filtered out by the API, I suggest at least adding the relevant NavigationId to the CoreWebView2WebResourceRequestedEventArgs class (similar to the classes CoreWebView2ContentLoadingEventArgs, CoreWebView2DOMContentLoadedEventArgs, etc.) so that resource requests can be distinguishable to their corresponding navigation source.

[2022-10-26 19:25] cheide-beta commented on #2868
Attached is the source code to a stripped-down version of the credential provider we are using. To reproduce the problem:

1. Build the Release|x64 target of this project.
2. Copy the build output blkCredProv.dll and the client.reg file from the zip file to a test Windows system (I've reproduced the problem on at least Server 2019 and Windows 10). Ideally this test system should be set up for just

[2022-10-26 23:21] LiangTheDev commented on #2903
I am creating an internal bug for this. For not, please work around it.

[2022-10-27 01:57] ElyssaJyu commented on #2865
Hi @zewt, We've added this as a bug on our backlog and track it internally.

[2022-10-27 04:35] TakuyaCel commented on #2885
Hi @yunate ,

Thanks for the idea.
As I have put sleep, the issue has been cleared. But, when changing the time of sleep to 0.1 sec, the issue starts occurring again.
Application which I’m developing needs to call the sleep for about 5 times and as the sleep time which is necessary to clear the issue is unknown, if possible I would like to have a solution to clear the issue more fundamentally.

[2022-10-27 06:03] NagarajKSundar opened #2911 "WIX Installer (.MSI) failing due to WebView2 runtime installer registry check"
Hi

We are using **Package bootstrapper as binary stream to use during app install**  to do the WebView2 runtime installer registry check.
but our installer fails with the below error and installation is not happening.

The machine we tried to install already has webview2 runtime installed

Image 1 : ![image](https://user-images.githubusercontent.com/116784388/198203049-7e328759-e39d-42cc-8cde-eab

[2022-10-27 13:00] brz commented on #98
Any updates on this matter?

[2022-10-27 16:52] veevandyke commented on #1700
I'm on SDK v 1.0.1414, and my control is still not resizing properly. Is there something that I need specifically do to enable scaling?

[2022-10-27 16:54] sln162 commented on #2903
@LiangTheDev  I think it's a bug. You can pop up a prompt without the/install command. Once you use it, you should not prompt, otherwise you need to give another command to mask the prompt (not yet)

[2022-10-27 19:53] sanandchoubey opened #2912 "Webview2 C++ does not show Windows PIN Credential Box"
Hi

I am developing Webview2 using C++ on Windows 10/11 with the latest Webview2 SDK. In my SSO(okta), I enabled MFA using Windows hello which asks Windows login pin.

SSO log-in page shows the Windows pin box if it is accessed through the MS Edge But Webview2 does not show the Windows pin box.

Please point me how to show Windows pin box in WebView2.

Regards,
Andy

[2022-10-28 03:27] fettliu commented on #1893
如果你用VSCode，也会出现此错误。需要在launch.json中将type改为msedge，并且添加runtimeExecutable项，例子如下：
If you use VSCode, present this error too. you need change type to 'msedge' in launch.json, and add runtimeExecutable item:

`"runtimeExecutable": "${workspaceFolder}/bin/Debug/net6.0-windows/your.exe",`

[2022-10-28 16:59] humbinal commented on #2897
The project '[casterlabs/webview](https://github.com/casterlabs/webview)' hasn't been updated in a long time, and  it's browser API is very simple, many functions can not be implemented, do not know whether there is a more perfect JNI encapsulation like jcef/jxbrowser ?

[2022-10-28 17:08] GryutHub opened #2913 "Can't turn on Slack notifications"
Notifications cannot be turned on from Preferences in Slack accessed with Webview2.
The notification **becomes Nothing**.

I checked with the latest version, 1.0.1370.28.
![image](https://user-images.githubusercontent.com/55453821/198691423-151b5f53-fe78-4eae-bf1e-042c866ef3b8.png)

Even if you want to enable notifications, it will be changed to Nothing without permission.

Is there any solution?

[2022-10-28 22:18] #2085 closed

[2022-10-29 09:23] cremor commented on #2898
Related/more information: https://github.com/MicrosoftEdge/WebView2Feedback/issues/1418#issuecomment-922035591

[2022-10-29 15:49] Jugggernaut opened #2914 "Error -2147219198 Installation of WebView2 failed"
Hello, you have probably already got many tickets regarding this error, but it's still not fixed. It's when I downloaded the newest version of Visual Studio, I get this when installing it:
Error -2147219198 Installation of WebView2 failed
You may be able to mitigate this problem by installing WebView2 directly using the WebView2 Installer.

I have tried running WebView2 directly as administrator a

[2022-10-30 15:55] sln162 commented on #2878
![image](https://user-images.githubusercontent.com/11196986/198888377-e9b79c3c-c588-41c9-ab2f-01222a212e2d.png)
I tried this example and found no problem. The system is the win11 beta channel, which may be related to the system or even the machine.

[2022-10-30 16:30] SavSanta commented on #1508
Thank you for the detailed info on this.

[2022-10-31 07:49] SvenEV-bakerhughes commented on #2495
I encountered the same issue with a .NET 6 WinForms app with WebView2. In my case it seems to be related to high DPI settings: I enabled per-monitor high DPI rendering through `<ApplicationHighDpiMode>PerMonitorV2</ApplicationHighDpiMode>` and then tried to launch one instance of the app *with* this setting and one *without* it to compare them side-by-side. The second launch fails with COMExceptio

[2022-10-31 09:29] agenne opened #2917 "It is not possible to enter the euro sign and the at sign using the on-screen keyboard (UWP-App)"
Hello,
after weeks we finally managed to convert our SelfService app to WebView2.
Unfortunately, during the integration test, it was noticed that entering the euro sign and the at sign on the on-screen keyboard is not possible.

With this we cannot use the WebView2.

The problem can be easily reproduced with the webview2_sample_uwp. And we could reproduce the problem on each of our computers.

The